---
# front matter to make sure, jekyll translates this scss file
---
@charset "utf-8";
@import "variables";

h1.display-font {
  font-size: 42px;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

.display-font {
  color: $brand-color;
  font-family: 'Dosis', $base-font-family;
  font-style: normal;
  font-weight: 700;
}

// Stage Animation
#stage {
  height: 15vw; // relative to width by choice
  margin-top: $spacing-unit / 2;
  max-height: 250px;
  position: relative;

  > hr {
    background: none;
    border: 0;
    border-bottom: 4px dashed #eee;
    left: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 77.5%;
  }

  @keyframes device-fade {
    0% { opacity: 0; transform: scale(.8); }
    2.5% { opacity: 1; transform: scale(1.05); }
    3% { opacity: 1; transform: scale(1); }
    33% { opacity: 1; transform: scale(1); }
    36% { opacity: 0; transform: scale(.8); }
  }

  .device {
    height: 100%;
    left: 10%;
    margin-left: -7.5%;
    position: absolute;
    top: 0;
    width: 15%;

    > img {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .laptop,
  .tablet,
  .smartphone {
    animation: device-fade 12s linear infinite;
    opacity: 0;
  }

  .laptop {
    width: 100%;
  }

  .tablet {
    animation-delay: 4s;
    width: 50%;
  }

  .smartphone {
    animation-delay: 8s;
    width: 25%;
  }

  .row {
    height: 100%;
  }

  .file-container {
    height: 100%;
    position: relative;
  }

  .file {
    height: 100%;
    left: 100%;
    margin-left: -9%;
    position: absolute;
    width: 18%;

    > img {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  @keyframes file-left-move {
    0% { left: 20%; }
    25% { left: 100%; }
  }

  @keyframes grow {
    0% { width: 25%; }
    25% { width: 100%; }
  }

  .file-pdf,
  .file-jpg,
  .file-zip,
  .file-mp3 {
    animation: file-left-move 16s ease-in infinite;

    > img {
      animation: grow 16s ease-in infinite;
    }
  }

  .file-pdf {
    animation-delay: 1s;

    > img {
      animation-delay: 1s;
    }
  }

  .file-jpg {
    animation-delay: 5s;

    > img {
      animation-delay: 5s;
    }
  }

  .file-zip {
    animation-delay: 9s;

    > img {
      animation-delay: 9s;
    }
  }

  .file-mp3 {
    animation-delay: 13s;

    > img {
      animation-delay: 13s;
    }
  }

  @keyframes encryption {
    0% { transform: rotate(0deg); }
    1.5% { transform: rotate(1deg); }
    3% { transform: rotate(-1deg); }
    4.5% { transform: rotate(1deg); }
    6% { transform: rotate(-1deg); }
    7.5% { transform: rotate(0deg); }
  }

  .cryptomator {
    animation: encryption 4s ease-in-out 5s infinite;
    height: 100%;
    left: 50%;
    margin-left: -10%;
    position: absolute;
    top: 0;
    width: 20%;

    > img {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @keyframes file-right-move {
    from { left: 0; }
    to { left: 80%; }
  }

  @keyframes shrink {
    from { width: 100%; }
    to { width: 25%; }
  }

  .file-encrypted {
    animation: file-right-move 4s ease-out 5.3s infinite;
    left: 0%;

    > img {
      animation: shrink 4s ease-out 5.3s infinite;
    }
  }

  .cloud {
    height: 100%;
    margin-right: -10%;
    margin-top: -2%;
    position: absolute;
    right: 12.5%;
    top: 0;
    width: 20%;

    > img {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

}

#top {
  min-height: 42vh;

  h2 {
    padding-bottom: 1em;
  }
}

#call-to-action {
  min-height: 42vh;
  padding-bottom: $spacing-unit;

  h2 {
    padding-top: 1em;
  }

  #pwyw-buttons .btn {
    padding-left: 14px;
    padding-right: 14px;
  }

  .app-store-btn {
    display: inline-block;
    margin: $spacing-unit / 2 0;
  }

  .android-beta-btn {
    display: inline-block;
    margin: $spacing-unit / 2 0;
    max-height: 40px;
    padding: 9px 12px;
    width: 135px;
  }
}

#reception {
  padding-bottom: 48px;

  .reception-row + .reception-row {
    margin-top: $spacing-unit;
  }

  .award-image {
    width: 45%;
  }

  @media (max-width: $max-xs) {
    .award-image {
      margin-bottom: 10%;
    }
  }

  hr {
    margin-bottom: $spacing-unit * 2;
    margin-top: $spacing-unit * 2;
  }

  .press-images {
    a {
      display: inline-block;
      margin: 1em 3em;
      text-decoration: none;

      img {
        border: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .5;
        -webkit-transition: -webkit-filter 100ms, opacity 100ms;
        transition: -webkit-filter 100ms, filter 100ms, opacity 100ms;
      }

      &:hover img {
        -webkit-filter: none;
        filter: none;
        opacity: 1;
      }
    }
  }
}

// How it works explanation
#howto {
  padding-bottom: 48px;
  padding-top: 48px;

  #howto-cleartext,
  #howto-ciphertext {
    background-repeat: no-repeat;
    height: 560px;
    padding-top: 48px;

    @media (max-width: 1732px) {
      background-size: 50% auto;
    }

    @media (min-width: 1733px) {
      background-size: auto 560px;
    }
  }

  #howto-cleartext {
    background-attachment: scroll;
    background-image: url('/img/screenshots/finder_cleartext_en@2x.png');
    background-position: 0 0;
  }

  .scroll-phase-1 #howto-cleartext,
  .scroll-phase-2 #howto-cleartext {
    background-attachment: fixed;
    background-position: 0 150px;
  }

  #howto-ciphertext {
    background-attachment: fixed;
    background-image: url('/img/screenshots/finder_ciphertext_en@2x.png');
    background-position: 0 150px;
  }

  .scroll-phase-2 #howto-ciphertext {
    background-attachment: scroll;
    background-position: 0 0;
  }
}

.margin-top-20 {
  margin-top: 20px;
}

// Testimonials Animation
#testimonials {
  padding-bottom: 48px;

  > .scroll-container {
    overflow: hidden;
    position: relative;

    @keyframes move-quotes {
      0% { left: 100%; opacity: 0; }

      5% { left: -50%; opacity: 1; }
      20% { left: -50%; opacity: 1; }
      25% { left: -150%; opacity: 0; }

      30% { left: -250%; opacity: 1; }
      45% { left: -250%; opacity: 1; }
      50% { left: -350%; opacity: 0; }

      55% { left: -450%; opacity: 1; }
      70% { left: -450%; opacity: 1; }
      75% { left: -550%; opacity: 0; }

      80% { left: -650%; opacity: 1; }
      95% { left: -650%; opacity: 1; }
      100% { left: -750%; opacity: 0; }
    }

    > .scroller {
      animation: move-quotes 30s infinite;
      position: relative;
      white-space: nowrap;
      width: 100%;

      > blockquote {
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 480px) {
          margin-left: 52%;
          margin-right: 52%;
          width: 96%;
        }

        @media (min-width: 481px) {
          margin-left: 80%;
          margin-right: 80%;
          width: 40%;
        }

        > p {
          white-space: pre-wrap;
        }
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

#features {
  padding-bottom: 48px;
  padding-top: 48px;

  .row {
    padding-top: $spacing-unit;
  }

  img.feature-icon {
    height: 145px;
    padding-bottom: $spacing-unit / 2;
  }
}

#newsletter {
  padding-bottom: 48px;
  padding-top: 48px;
}
