@charset "utf-8";

span.anchor {
  display: block;
  margin-bottom: 50px;
}

.footer {
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding-top: 2em;
  padding-bottom: 10em;
}

div#cookieConsent {
  position: fixed;
  bottom: 0;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  padding: 5px;
}

div#cookieConsent p {
  margin: 5px;
  vertical-align: middle;
}

div.modal.screenshot .modal-body {
  width: 752px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.alert {
  margin-top: 20px;
}

.sha1sum {
  font-size: 70%;
  font-family: monospace;
  white-space: nowrap;
}

.sha1sum::before {
  content: "SHA1: ";
  color: #888;
}


/*
 * architecture.html
 */

 article.layer-explanation {
   min-height: 100vh;
   padding: 20px 0;
 }


/*
 * index.html
 */

.stage {
  position: relative;
  height: 100vh;
}

.stage > div {
  display: inline-block;
  position: absolute;
  height: 250px;
}

.stage .file {
  z-index: -1;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  padding-top: 100px;
}

@keyframes plaintext {
  0% {opacity: 0; left: 10%;}
  12.5% {opacity: 1; left: 30%;}
  25% {opacity: 1; left: 50%;}
}

.stage .file-pdf,
.stage .file-jpg,
.stage .file-zip,
.stage .file-mp3 {
  animation: plaintext 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.stage .file-jpg {
  animation-delay: 2.5s;
}

.stage .file-zip {
  animation-delay: 5s;
}

.stage .file-mp3 {
  animation-delay: 7.5s;
}

@keyframes encryption {
  10% {
    transform: rotate(7deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  25% {
    transform: rotate(0deg);
  }
}

.stage .cryptomator {
  width: 250px;
  margin-left: -125px;
  left: 50%;
  animation: encryption 2.5s linear;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes ciphertext {
  from {left: 50%;}
  to {left: 90%;}
}

.stage .file-encrypted {
  animation: ciphertext 2.5s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.stage .cloud {
  right: 0px;
  padding-top: 80px;
}
