@charset "utf-8";

span.anchor {
  display: block;
  margin-bottom: 50px;
}

.footer {
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding-top: 2em;
  padding-bottom: 10em;
}

div#cookieConsent {
  position: fixed;
  bottom: 0;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  padding: 5px;
}

div#cookieConsent p {
  margin: 5px;
  vertical-align: middle;
}

div.modal.screenshot .modal-body {
  width: 752px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.alert {
  margin-top: 20px;
}

.sha1sum {
  font-size: 70%;
  font-family: monospace;
  white-space: nowrap;
}

.sha1sum::before {
  content: "SHA1: ";
  color: #888;
}
