{{ define "main" }}
  <div class="container space-y-6 py-16" x-data="{cfg: HubSetup.defaultConfig(), deploymentType: '', output: ''}" x-init="output = HubSetup.generateOutput(cfg); $watch('cfg', _ => output = HubSetup.generateOutput(cfg))">
    <header class="prose prose-sm md:prose max-w-none md:max-w-none">
      <h1>{{ .Title }}</h1>
    </header>

    <!-- DEPLOYMENT SECTION -->
    <section class="rounded shadow bg-white px-4 py-5 md:p-6 md:grid md:grid-cols-3 md:gap-6">
      <header class="md:col-span-1">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Deployment</h2>
        <p class="mt-1 text-sm text-gray-500">On what type of infrastructure do you want to deploy Cryptomator Hub?</p>
      </header>
      <div class="mt-5 md:mt-0 md:col-span-2 grid grid-cols-6 gap-6">
        <div class="col-span-6 grid grid-cols-1 gap-6 lg:grid-cols-2">
          <!-- KUBERNETES -->
          <label class="relative bg-white border rounded p-4 flex cursor-pointer" :class="deploymentType == 'kubernetes' ? 'border-transparent' : 'border-gray-300'">
            <input type="radio" value="kubernetes" class="sr-only" x-model="deploymentType">
            <div class="flex-1 flex">
              <div class="flex flex-col">
                <span class="block text-sm font-medium text-gray-900">Kubernetes</span>
                <span class="mt-1 flex items-center text-sm text-gray-500">Recommended for production deployments</span>
              </div>
            </div>
            <i class="fas fa-check-circle text-primary" :class="deploymentType == 'kubernetes' || 'invisible'" aria-hidden="true"></i>
            <div class="absolute -inset-px rounded border pointer-events-none" :class="deploymentType == 'kubernetes' ? 'border-primary' : 'border-transparent'" aria-hidden="true"></div>
          </label>

          <!-- DOCKER COMPOSE -->
          <label class="relative bg-white border rounded p-4 flex cursor-pointer" :class="deploymentType == 'docker-compose' ? 'border-transparent' : 'border-gray-300'">
            <input type="radio" value="docker-compose" class="sr-only" x-model="deploymentType">
            <div class="flex-1 flex">
              <div class="flex flex-col">
                <span class="block text-sm font-medium text-gray-900">Docker Compose</span>
                <span class="mt-1 flex items-center text-sm text-gray-500">For easy testing with Docker Desktop</span>
              </div>
            </div>
            <i class="fas fa-check-circle text-primary" :class="deploymentType == 'docker-compose' || 'invisible'" aria-hidden="true"></i>
            <div class="absolute -inset-px rounded border pointer-events-none" :class="deploymentType == 'docker-compose' ? 'border-primary' : 'border-transparent'" aria-hidden="true"></div>
          </label>
        </div>

        <!-- KUBERNETES-SPECIFIC OPTIONS -->
        <div class="col-span-6 lg:col-span-4" x-show="deploymentType == 'kubernetes'" x-cloak>
          <label for="k8sNamespace" class="block text-sm font-medium text-gray-700">Namespace</label>
          <input type="text" id="k8sNamespace" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.k8s.namespace">
          <p class="mt-2 text-sm text-gray-500">Namespace for the Kubernetes resources.</p>
        </div>

        <div class="col-span-6" x-show="deploymentType == 'kubernetes'" x-cloak>
          <label for="k8sIncludeIngress" class="block text-sm font-medium text-gray-700">Ingress</label>
          <div class="mt-2 flex items-start">
            <div class="h-5 flex items-center">
              <input id="k8sIncludeIngress" type="checkbox" class="rounded text-primary focus:ring-0 focus:ring-offset-0 focus:border-secondary" x-model="cfg.k8s.includeIngress">
            </div>
            <div class="ml-3 text-sm">
              <label for="k8sIncludeIngress" class="font-medium text-gray-700">Include Ingress object in Kubernetes config.</label>
            </div>
          </div>
        </div>

        <!-- DOCKER-COMPOSE-SPECIFIC OPTIONS -->
        <div class="col-span-6" x-show="deploymentType == 'docker-compose'" x-cloak>
          <label class="block text-sm font-medium text-gray-700">nginx-proxy</label>
          <div class="mt-2 flex items-start">
            <div class="h-5 flex items-center">
              <input id="composeIncludeNginxProxy" type="checkbox" class="rounded text-primary focus:ring-0 focus:ring-offset-0 focus:border-secondary" x-model="cfg.compose.includeNginxProxy">
            </div>
            <div class="ml-3 text-sm">
              <label for="composeIncludeNginxProxy" class="font-medium text-gray-700">Include nginx-proxy service in Docker Compose config.</label>
            </div>
          </div>
          <div class="mt-2 flex items-start" x-show="cfg.compose.includeNginxProxy">
            <div class="h-5 flex items-center">
              <input id="composeEnforceSsl" type="checkbox" class="rounded text-primary focus:ring-0 focus:ring-offset-0 focus:border-secondary" x-model="cfg.compose.enforceSsl">
            </div>
            <div class="ml-3 text-sm">
              <label for="composeEnforceSsl" class="font-medium text-gray-700">Enforce SSL by defaulting to port 443 for HTTP traffic.</label>
            </div>
          </div>
          <div class="mt-2 flex items-start" x-show="cfg.compose.includeNginxProxy" x-effect="cfg.compose.nginxProxyPort = cfg.compose.overrideNginxProxyPort ? cfg.compose.nginxProxyPort : HubSetup.getPort(cfg.hub.publicUrl)">
            <div class="h-5 flex items-center">
              <input id="composeOverrideNginxProxyPort" type="checkbox" class="rounded text-primary focus:ring-0 focus:ring-offset-0 focus:border-secondary" x-model="cfg.compose.overrideNginxProxyPort">
            </div>
            <div class="ml-3 text-sm">
              <label for="composeOverrideNginxProxyPort" class="font-medium text-gray-700">Override exposed port for reverse proxy.</label>
              <input type="number" class="mt-2 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.compose.nginxProxyPort" :readonly="!cfg.compose.overrideNginxProxyPort">
              <p x-show="cfg.compose.enforceSsl && cfg.compose.nginxProxyPort == 443" class="mt-2 text-sm text-red-600"><i class="fas fa-exclamation-circle fa-fw"></i> Use a different port.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div x-show="deploymentType != ''" class="space-y-6" x-cloak>
      <!-- CRYPTOMATOR HUB SECTION -->
      <section class="rounded shadow bg-white px-4 py-5 md:p-6 md:grid md:grid-cols-3 md:gap-6">
        <header class="md:col-span-1">
          <h2 class="text-lg font-medium leading-6 text-gray-900">Cryptomator Hub</h2>
          <p class="mt-1 text-sm text-gray-500">General information about your Hub installation.</p>
        </header>
        <div class="mt-5 md:mt-0 md:col-span-2 grid grid-cols-6 gap-6">
          <div class="col-span-6 lg:col-span-3">
            <label for="hubVersion" class="block text-sm font-medium text-gray-700">Version</label>
            <select id="hubVersion" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.hub.version">
              <option x-text="HubSetup.LATEST_VERSION"></option>
              <option>latest</option>
              <option>develop</option>
            </select>
            <p class="mt-2 text-sm text-gray-500">For production deployments, set the version explicitly.</p>
          </div>
          
          <div class="col-span-6 lg:col-span-4">
            <label for="hubPublicUrl" class="block text-sm font-medium text-gray-700">Public Hub URL</label>
            <input type="url" id="hubPublicUrl" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.hub.publicUrl">
            <p class="mt-2 text-sm text-gray-500">The full URL including protocol, port, and path of your Hub installation.</p>
            <p x-show="HubSetup.containsPathname(cfg.hub.publicUrl)" class="mt-2 text-sm text-red-600"><i class="fas fa-exclamation-circle fa-fw"></i> Paths are currently not supported.</p>
          </div>

          <div class="col-span-6 lg:col-span-4">
            <label for="hubAdminUser" class="block text-sm font-medium text-gray-700">Admin User</label>
            <input type="text" id="hubAdminUser" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.hub.adminUser">
            <p class="mt-2 text-sm text-gray-500">User name of the initial user that will be created.</p>
          </div>

          <div class="col-span-6 lg:col-span-4">
            <label for="hubAdminPw" class="block text-sm font-medium text-gray-700">Initial Admin Password</label>
            <input type="password" id="hubAdminPw" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.hub.adminPw">
            <p class="mt-2 text-sm text-gray-500">Temporary password used for generating your deployment. You should change this on your first login.</p>
          </div>
        </div>
      </section>

      <!-- KEYCLOAK SECTION -->
      <section class="rounded shadow bg-white px-4 py-5 md:p-6 md:grid md:grid-cols-3 md:gap-6">
        <header class="md:col-span-1">
          <h2 class="text-lg font-medium leading-6 text-gray-900">Keycloak</h2>
          <p class="mt-1 text-sm text-gray-500">Cryptomator Hub depends on Keycloak for identity management.</p>
        </header>
        <div class="mt-5 md:mt-0 md:col-span-2 grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <label class="block text-sm font-medium text-gray-700">External Keycloak</label>
            <div class="mt-2 flex items-start">
              <div class="h-5 flex items-center">
                <input id="externalKeycloak" type="checkbox" class="rounded text-primary focus:ring-0 focus:ring-offset-0 focus:border-secondary" x-model="cfg.keycloak.useExternal">
              </div>
              <div class="ml-3 text-sm">
                <label for="externalKeycloak" class="font-medium text-gray-700">Use an existing Keycloak installation.</label>
              </div>
            </div>
          </div>

          <div class="col-span-6 lg:col-span-4" x-effect="cfg.keycloak.publicUrl = cfg.keycloak.useExternal ? cfg.keycloak.publicUrl : HubSetup.getInternalKeycloakUrl(cfg.hub.publicUrl)">
            <label for="keycloakPublicUrl" class="block text-sm font-medium text-gray-700">Public Keycloak URL</label>
            <input type="url" id="keycloakPublicUrl" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.keycloak.publicUrl" :readonly="!cfg.keycloak.useExternal">
            <p class="mt-2 text-sm text-gray-500" x-show="cfg.keycloak.useExternal">The full URL including protocol, port, and path of your Keycloak installation.</p>
            <p class="mt-2 text-sm text-gray-500" x-show="!cfg.keycloak.useExternal">Internal Keycloak container will be deployed to this URL.</p>
          </div>

          <div class="col-span-6 lg:col-span-4" x-show="!cfg.keycloak.useExternal">
            <label for="keycloakAdminUser" class="block text-sm font-medium text-gray-700">Admin User</label>
            <input type="text" id="keycloakAdminUser" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.keycloak.adminUser">
            <p class="mt-2 text-sm text-gray-500">User name of the initial user that will be created.</p>
          </div>

          <div class="col-span-6 lg:col-span-4" x-show="!cfg.keycloak.useExternal">
            <label for="keycloakAdminPw" class="block text-sm font-medium text-gray-700">Initial Admin Password</label>
            <input type="password" id="keycloakAdminPw" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.keycloak.adminPw">
            <p class="mt-2 text-sm text-gray-500">Temporary password used for generating your deployment. You should change this on your first login.</p>
          </div>
        </div>
      </section>

      <!-- DATABASE SECTION -->
      <section class="rounded shadow bg-white px-4 py-5 md:p-6 md:grid md:grid-cols-3 md:gap-6">
        <header class="md:col-span-1">
          <h2 class="text-lg font-medium leading-6 text-gray-900">Database</h2>
          <p class="mt-1 text-sm text-gray-500">Cryptomator Hub depends on PostgreSQL for persisting data.</p>
        </header>
        <div class="mt-5 md:mt-0 md:col-span-2 grid grid-cols-6 gap-6">
          <div class="col-span-6 lg:col-span-4">
            <label for="dbAdminPw" class="block text-sm font-medium text-gray-700">Admin Password</label>
            <input type="password" id="dbAdminPw" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.db.adminPw">
            <p class="mt-2 text-sm text-gray-500">Superuser password for default <code>postgres</code> user.</p>
          </div>

          <div class="col-span-6 lg:col-span-4">
            <label for="dbHubPw" class="block text-sm font-medium text-gray-700">Hub Password</label>
            <input type="password" id="dbHubPw" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.db.hubPw">
            <p class="mt-2 text-sm text-gray-500">Password for <code>hub</code> user with access to `hub` database.</p>
          </div>

          <div class="col-span-6 lg:col-span-4" x-show="!cfg.keycloak.useExternal">
            <label for="dbKeycloakPw" class="block text-sm font-medium text-gray-700">Keycloak Password</label>
            <input type="password" id="dbKeycloakPw" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="cfg.db.keycloakPw">
            <p class="mt-2 text-sm text-gray-500">Password for <code>keycloak</code> user with access to `keycloak` database.</p>
          </div>
        </div>
      </section>

      <div class="text-center">
        <div class="fa-stack text-2xl text-primary">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-chevron-double-down fa-stack-1x"></i>
        </div>
      </div>

      <!-- OUTPUT -->
      <section class="rounded shadow bg-white px-4 py-5 md:p-6 md:grid md:grid-cols-3 md:gap-6">
        <header class="md:col-span-1">
          <h2 class="text-lg font-medium leading-6 text-gray-900">Config</h2>
          <p class="mt-1 text-sm text-gray-500">Use this configuration to deploy Cryptomator Hub.</p>
        </header>
        <div class="mt-5 md:mt-0 md:col-span-2 grid grid-cols-6 gap-6">
          <div class="col-span-6" x-show="deploymentType == 'kubernetes'">
            <label for="k8sOutput" class="block text-sm font-medium text-gray-700">k8s-hub.yml</label>
            <textarea id="k8sOutput" rows="10" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="output.k8s" readonly></textarea>
          </div>
          <div class="col-span-6" x-show="deploymentType == 'docker-compose'">
            <label for="composeOutput" class="block text-sm font-medium text-gray-700">docker-compose.yml</label>
            <textarea id="composeOutput" rows="10" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="output.compose" readonly></textarea>
          </div>
          <div class="col-span-6" x-show="cfg.keycloak.useExternal">
            <label for="realmOutput" class="block text-sm font-medium text-gray-700">realm.json</label>
            <textarea id="realmOutput" rows="10" class="mt-1 block w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" x-model="output.realm" readonly></textarea>
          </div>
        </div>
      </section>
    </div>
  </div>

  {{ $jsYaml := resources.Get "js/js-yaml/js-yaml.min.js" | fingerprint }}
  <script type="text/javascript" src="{{ $jsYaml.RelPermalink }}" integrity="{{ $jsYaml.Data.Integrity }}"></script>

  {{ if .Site.IsServer }}
    {{ $setupJs := resources.Get "js/hubsetup.js" }}
    <script type="text/javascript" src="{{ $setupJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $setupJs := resources.Get "js/hubsetup.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $setupJs.RelPermalink }}" integrity="{{ $setupJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
