{{ define "main" }}
  <div class="container py-12">
    <header class="mb-6">
      <h1 class="font-h1 mb-8">{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
    </header>

    <div class="rounded-md bg-blue-100 p-4 mb-6">
      <div class="flex items-center">
        <div class="shrink-0">
          <i class="fa-solid fa-info-circle text-blue-500"></i>
        </div>
        <div class="ml-3 text-sm text-dark">
          <p>{{ .Params.Hint }}</p>
        </div>
      </div>
    </div>

    <div x-data="{showTab: location.hash}" @hashchange.window="showTab = location.hash" class="flex flex-col space-y-4 w-full relative">
      {{ range .Pages }}
        <div class="space-y-2 lg:space-y-0">
          <div class="w-full lg:pr-3 lg:w-1/2">
            <button @click.prevent="location.hash = '{{ .Params.TabHash }}'" :class="{'border-white': showTab != '{{ .Params.TabHash }}', 'border-primary': showTab == '{{ .Params.TabHash }}'}" class="flex items-center justify-between bg-white border-l-4 rounded-sm shadow-sm text-left p-4 w-full" data-umami-event="supporter-cert-{{ substr .Params.TabHash 1 }}-tab">
              <div class="flex items-center">
                <i :class="{'text-gray-600': showTab != '{{ .Params.TabHash }}', 'text-primary': showTab == '{{ .Params.TabHash }}'}" class="shrink-0 {{ .Params.FaIcon }} text-2xl mr-4" aria-hidden="true"></i>
                <div>
                  <h2 :class="{'text-primary': showTab == '{{ .Params.TabHash }}'}" class="font-headline font-medium text-xl lg:text-2xl leading-snug mb-1">{{ .Title }}</h2>
                  <p class="text-gray-600">{{ .Description }}</p>
                </div>
              </div>
              <div class="ml-3">
                <i :class="{'text-gray-500': showTab != '{{ .Params.TabHash }}', 'text-primary': showTab == '{{ .Params.TabHash }}'}" class="fa-solid fa-chevron-right hidden lg:block"></i>
                <i :class="{'fa-chevron-right text-gray-500': showTab != '{{ .Params.TabHash }}', 'fa-chevron-down text-primary': showTab == '{{ .Params.TabHash }}'}" class="fa-solid lg:hidden"></i>
              </div>
            </button>
          </div>
          <div x-show="showTab == '{{ .Params.TabHash }}'" x-ref="{{ .Params.TabRef }}" class="w-full lg:absolute lg:top-0 lg:right-0 lg:pl-3 lg:w-1/2" x-cloak>
            <div class="white-box p-4" x-cloak>
              {{ partial .Params.Partial . }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <section class="container pt-12 pb-24">
    <header class="text-center">
      <h2 id="faq" class="font-h2 mb-4">{{ i18n "faq_title" . }}</h2>
    </header>

    {{- $data := index $.Site.Data $.Site.Language.Lang }}
    <dl x-data="{isOpen: [{{ range $i, $e := $data.pricing_individuals_faq }}{{ if $i }}, {{ end }}false{{ end }}]}" class="white-box divide-y divide-gray-200 max-w-3xl mx-auto">
      {{- range $index, $element := $data.pricing_individuals_faq }}
      <dt class="font-p p-4">
        <a class="flex items-center" href="#" @click.prevent="isOpen[{{ $index }}] = !isOpen[{{ $index }}]">
          <i :class="{ 'fa-chevron-circle-right': !isOpen[{{ $index }}], 'fa-chevron-circle-down': isOpen[{{ $index }}] }" class="shrink-0 fa-solid text-gray-600 mr-2"></i>
          <span>{{ .Question }}</span>
        </a>
      </dt>
      <dd x-show="isOpen[{{ $index }}]" class="prose prose-sm md:prose max-w-none md:max-w-none p-4">
        {{ .Answer | markdownify }}
      </dd>
      {{- end }}
    </dl>
  </section>
{{ end }}
{{ define "preloads" }}
  {{ partial "altcha-css.html" . }}
{{ end }}
{{ define "script" }}
  {{ if hugo.IsDevelopment }}
    {{ $newsletterJs := resources.Get "js/newsletter.js" }}
    <script type="text/javascript" src="{{ $newsletterJs.RelPermalink }}" defer></script>
    {{ $desktopKeyJs := resources.Get "js/desktopkey.js" }}
    <script type="text/javascript" src="{{ $desktopKeyJs.RelPermalink }}" defer></script>
    {{ $altchaJs := resources.Get "js/altcha/altcha.js" }}
    <script type="module" src="{{ $altchaJs.RelPermalink }}" defer></script>
    {{ $altchaWorkerJs := resources.Get "js/altcha/worker.js" }}
    <script type="module" src="{{ $altchaWorkerJs.RelPermalink }}" defer></script>
    {{ $supporterCertJs := resources.Get "js/supportercert.js" }}
    <script type="text/javascript" src="{{ $supporterCertJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $newsletterJs := resources.Get "js/newsletter.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $newsletterJs.RelPermalink }}" integrity="{{ $newsletterJs.Data.Integrity }}" defer></script>
    {{ $desktopKeyJs := resources.Get "js/desktopkey.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $desktopKeyJs.RelPermalink }}" integrity="{{ $desktopKeyJs.Data.Integrity }}" defer></script>
    {{ $altchaJs := resources.Get "js/altcha/altcha.js" }}
    <script type="module" src="{{ $altchaJs.RelPermalink }}" integrity="{{ $altchaJs.Data.Integrity }}" defer></script>
    {{ $altchaWorkerJs := resources.Get "js/altcha/worker.js" }}
    <script type="module" src="{{ $altchaWorkerJs.RelPermalink }}" integrity="{{ $altchaWorkerJs.Data.Integrity }}" defer></script>
    {{ $supporterCertJs := resources.Get "js/supportercert.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $supporterCertJs.RelPermalink }}" integrity="{{ $supporterCertJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
