baseURL = "https://cryptomator.org/"
title = "Cryptomator"
languageCode = "en-us"
DefaultContentLanguage = "en"
enableemoji = true

[languages]
  [languages.en]
    weight = 1
    languageName = "English"
  [languages.de]
    weight = 2
    languageName = "Deutsch"

[outputs]
  home = ["HTML", "RSS"]
  section = ["HTML"]

[outputFormats]
  [outputFormats.RSS]
    mediatype = "application/rss"
    baseName = "feed"

[module]

  [[module.mounts]]
    source = "static"
    target = "static"

  [[module.mounts]]
    source = "assets"
    target = "assets"

  [[module.mounts]]
    source = "node_modules/@fortawesome/fontawesome-pro/webfonts"
    target = "static/webfonts"

  [[module.mounts]]
    source = "node_modules/jquery/dist"
    target = "assets/js/jquery"

  [[module.mounts]]
    source = "node_modules/alpinejs/dist"
    target = "assets/js/alpinejs"

  [[module.mounts]]
    source = "node_modules/lazysizes"
    target = "assets/js/lazysizes"

[markup.goldmark.renderer]
unsafe = true

[params]
  [params.releases]
    [params.releases.exe]
      version = "1.5.8"
      filename = "Cryptomator-1.5.8-x64.exe"
      downloadUrl = "https://dl.bintray.com/cryptomator/cryptomator/1.5.8/Cryptomator-1.5.8-x64.exe"
      signatureUrl = "https://dl.bintray.com/cryptomator/cryptomator/1.5.8/Cryptomator-1.5.8-x64.exe.asc"
      checksum = "f2f3094d4391d8de001b26bf477b36c18600693a30e79c41f65d12ce4b43cac7"
    [params.releases.dmg]
      version = "1.5.8"
      filename = "Cryptomator-1.5.8.dmg"
      downloadUrl = "https://dl.bintray.com/cryptomator/cryptomator/1.5.8/Cryptomator-1.5.8.dmg"
      signatureUrl = "https://dl.bintray.com/cryptomator/cryptomator/1.5.8/Cryptomator-1.5.8.dmg.asc"
      checksum = "8d7a06bedb59aff79a7041b5ab4b94394468ea6b497a75d35686ca71ba7137c9"
    [params.releases.appimage]
      version = "1.5.8"
      filename = "cryptomator-1.5.8-x86_64.AppImage"
      downloadUrl = "https://dl.bintray.com/cryptomator/cryptomator/1.5.8/cryptomator-1.5.8-x86_64.AppImage"
      signatureUrl = "https://dl.bintray.com/cryptomator/cryptomator/1.5.8/cryptomator-1.5.8-x86_64.AppImage.asc"
      checksum = "10d942204bd699daa04df1f452385c8c4ec008e3cb8b55a62c78222e30061c4d"
    [params.releases.android]
      version = "1.5.9"
      filename = "Cryptomator-1.5.9.apk"
      downloadUrl = "https://static.cryptomator.org/android/1.5.9/Cryptomator-1.5.9.apk"
      checksum = "89bb6d2e11405a9114c373a5c958120829a00000c2f69153d5f5cdf9cead0349"

[permalinks]
  blog = "/blog/:year/:month/:day/:slug/"
