---
layout: default
title: Downloads
permalink: /downloads/
stylesheets: ['/css/downloads.css']
---
<div class="alert alert-warning" role="alert">
  <h4>Disclaimer - Cryptomator is beta software</h4>
  <p>By downloading Cryptomator, you agree to only use it for testing only with recoverable data. Cryptomator contributors will not be liable for any loss or damage to your data.</p>
</div>

<section class="container fullheight" data-ng-controller="DownloadCtrl" id="currentVersion">

  <div class="page-header text-center">
    <h2>Download</h2>
    <p class="lead">Version 0.10 (29th October, 2015)</p>
  </div>

  <div class="row">

    <div class="text-center" data-ng-class="{'col-md-12': !showAllDownloads, 'col-md-3': showAllDownloads}" data-ng-show="isOSWindows || showAllDownloads">
      <div class="text-center">
        <img src="/img/windows_icon128.png" srcset="/img/windows_icon128.png 1x, /img/windows_icon128@2x.png 2x" alt="Windows logo" />
        <div class="caption text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
          <meta itemprop="applicationCategory" content="Productivity" />
          <meta itemprop="applicationSubCategory" content="Encryption" />
          <meta itemprop="softwareVersion" content="0.10.0" />
          <meta itemprop="image" content="https://cryptomator.org/img/logo.png" />
          <meta itemprop="description" content="Client-side AES encryption for your cloud files." />
          <h4 itemprop="name">Cryptomator for <span itemprop="operatingSystem">Windows</span></h4>
          <p>
            <a itemprop="downloadUrl" href="//bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.10.1.exe" data-ng-click="logDownloadload('Cryptomator-0.10.1.exe')" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.1.exe<br/>
              <span class="small">(For 32 bit systems)</span>
            </a>
          </p>
          <p class="sha1sum">8dab62cdfb971c04332c3b8e7c762054cdb364f6</p>
          <p>
            <a itemprop="downloadUrl" href="//bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.10.1-amd64.exe" data-ng-click="logDownload('Cryptomator-0.10.1-amd64.exe')" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.1-amd64.exe<br/>
              <span class="small">(For 64 bit systems)</span>
            </a>
          </p>
          <p class="sha1sum">baa307110625691db9c1ab7576d4d00a1b712a42</p>
          <p>
            Minimum: Windows Vista SP2
          </p>
        </div>
      </div>
    </div>

    <div data-ng-class="{'col-md-12': !showAllDownloads, 'col-md-3': showAllDownloads}" data-ng-show="isOSMac || showAllDownloads">
      <div class="text-center">
        <img src="/img/finder_icon128.png" srcset="/img/finder_icon128.png 1x, /img/finder_icon128@2x.png 2x" alt="Finder logo" />
        <div class="caption text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
          <meta itemprop="applicationCategory" content="Productivity" />
          <meta itemprop="applicationSubCategory" content="Encryption" />
          <meta itemprop="softwareVersion" content="0.10.1" />
          <meta itemprop="image" content="https://cryptomator.org/img/logo.png" />
          <meta itemprop="description" content="Client-side AES encryption for your cloud files." />
          <h4 itemprop="name">Cryptomator for <span itemprop="operatingSystem">Mac OS X</span></h4>
          <p>
            <a itemprop="downloadUrl" href="//bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.10.1.dmg" data-ng-click="logDownload('Cryptomator-0.10.1.dmg')" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.1.dmg
            </a>
          </p>
          <p class="sha1sum">0546191140789e1812548e5bc5932695769a34ef</p>
          <p>
            Minimum: OS X 10.8.3
          </p>
        </div>
      </div>
    </div>

    <div class="text-center" data-ng-class="{'col-md-12': !showAllDownloads, 'col-md-3': showAllDownloads}" data-ng-show="isOSLinux || showAllDownloads">
      <div class="text-center">
        <img src="/img/tux_icon128.png" srcset="/img/tux_icon128.png 1x, /img/tux_icon128@2x.png 2x" alt="Tux">
        <div class="caption text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
          <meta itemprop="applicationCategory" content="Productivity" />
          <meta itemprop="applicationSubCategory" content="Encryption" />
          <meta itemprop="softwareVersion" content="0.10.0" />
          <meta itemprop="image" content="https://cryptomator.org/img/logo.png" />
          <meta itemprop="description" content="Client-side AES encryption for your cloud files." />
          <h4 itemprop="name">Cryptomator for <span itemprop="operatingSystem">Linux</span></h4>
          <p>
            <a itemprop="downloadUrl" href="//bintray.com/artifact/download/cryptomator/cryptomator-deb/pool/contrib/c/cryptomator/cryptomator-0.10.0.deb" data-ng-click="logDownload('Cryptomator-0.10.0.deb')" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.0.deb<br/>
              <span class="small">For Debian-based OS</span>
            </a>
          </p>
          <p class="sha1sum">cdea62c2f1564406deda4170a6b54511e8d5cf87</p>
          <p>
            See <a href="http://www.oracle.com/technetwork/java/javase/certconfig-2095354.html" target="_blank">detailed system requirements</a>
          </p>
        </div>
      </div>
    </div>

    <div class="text-center" data-ng-class="{'col-md-12': !showAllDownloads, 'col-md-3': showAllDownloads}" data-ng-show="showAllDownloads">
      <div class="text-center">
        <img src="/img/java_icon128.png" srcset="/img/java_icon128.png 1x, /img/java_icon128@2x.png 2x" alt="Java icon" />
        <div class="caption text-center">
          <h4>Generic JAR-File</h4>
          <p>
            <a href="https://github.com/cryptomator/cryptomator/releases" target="_blank" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Cryptomator.jar<br/>
              <span class="small">Available on GitHub</span>
            </a>
          </p>
          <p>
            Requires JRE 8 + optional JCE unlimited strength policy files
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <hr>
      <p data-ng-show="!showAllDownloads"><a class="btn btn-default" role="button" data-ng-click="showAllDownloads = true">Show all downloads</a></p>
      <p data-ng-show="showAllDownloads"><a href="#oldVersions" class="btn btn-default" role="button">Get older versions</a></p>
    </div>

  </div>
</section>

<section class="container fullheight" data-ng-controller="DownloadCtrl" id="oldVersions">

  <div class="page-header text-center">
    <h2>All versions</h2>
    <p class="lead">Version 0.10 (29th October, 2015)</p>
  </div>

  <table class="table table-hover">
    <colgroup>
      <col style="width: 10%"/>
      <col style="width: 10%"/>
      <col style="width: 20%"/>
      <col style="width: 20%"/>
      <col style="width: 20%"/>
      <col style="width: 20%"/>
    </colgroup>
    <thead>
      <tr><th>Version</th><th>Notes</th><th>Release Date</th><th>Windows</th><th>Mac OS X</th><th>Linux</th></tr>
    </thead>
    <tbody>
      <!-- 0.10 -->
      <tr>
        <th>0.10 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/0.10.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-10-29</td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.10.1.exe" data-ng-click="logDownloadload('Cryptomator-0.10.1.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.1.exe
          </a>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.10.1-amd64.exe" data-ng-click="logDownloadload('Cryptomator-0.10.1-amd64.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.1-amd64.exe
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.10.1.dmg" data-ng-click="logDownloadload('Cryptomator-0.10.1.dmg')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.1.dmg
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator-deb/pool/contrib/c/cryptomator/cryptomator-0.10.0.deb" data-ng-click="logDownloadload('Cryptomator-0.10.0.deb')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.10.0.deb
          </a>
        </td>
      </tr>

      <!-- 0.9 -->
      <tr>
        <th>0.9 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/0.9.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-10-16</td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.9.0.exe" data-ng-click="logDownloadload('Cryptomator-0.9.0.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.9.0.exe
          </a>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.9.0-amd64.exe" data-ng-click="logDownloadload('Cryptomator-0.8.1-amd64.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.9.0-amd64.exe
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.9.0.dmg" data-ng-click="logDownloadload('Cryptomator-0.9.0.dmg')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.9.0.dmg
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator-deb/pool/contrib/c/cryptomator/cryptomator-0.9.0.deb" data-ng-click="logDownloadload('Cryptomator-0.9.0.deb')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.9.0.deb
          </a>
        </td>
      </tr>

      <!-- 0.8 -->
      <tr>
        <th>0.8 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/0.8.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-08-04</td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.8.1.exe" data-ng-click="logDownloadload('Cryptomator-0.8.1.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.8.1.exe
          </a>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.8.1-amd64.exe" data-ng-click="logDownloadload('Cryptomator-0.8.1-amd64.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.8.1-amd64.exe
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.8.2.dmg" data-ng-click="logDownloadload('Cryptomator-0.8.2.dmg')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.8.2.dmg
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator-deb/pool/contrib/c/cryptomator/cryptomator-0.8.0.deb" data-ng-click="logDownloadload('Cryptomator-0.8.0.deb')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.8.0.deb
          </a>
        </td>
      </tr>

      <!-- 0.7 -->
      <tr>
        <th>0.7 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/v0.7.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-05-30</td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.7.2.exe" data-ng-click="logDownloadload('Cryptomator-0.7.2.exe')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.7.2.exe
          </a>
        </td>
        <td>
          <a href="https://bintray.com/artifact/download/cryptomator/cryptomator/Cryptomator-0.7.0.dmg" data-ng-click="logDownloadload('Cryptomator-0.7.0.dmg')" class="btn btn-xs btn-default" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Cryptomator-0.7.0.dmg
          </a>
        </td>
        <td>
          -
        </td>
      </tr>

      <!-- 0.6 -->
      <tr>
        <th>0.6 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/v0.6.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-03-14</td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
      </tr>

      <!-- 0.5 -->
      <tr>
        <th>0.5 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/v0.5.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-02-22</td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
      </tr>

      <!-- 0.4 -->
      <tr>
        <th>0.4 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/v0.4.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2015-01-13</td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
      </tr>

      <!-- 0.3 -->
      <tr>
        <th>0.3 <span class="label label-warning">BETA</span></th>
        <td>
          <a href="https://github.com/cryptomator/cryptomator/releases/tag/v0.3.0" target="_blank" role="button">Changelog</a>
        </td>
        <td>2014-12-24</td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
      </tr>
    </tbody>
  </table>

  <p>All versions can be loaded as a jar file from <a href="https://github.com/cryptomator/cryptomator/releases" target="_blank" role="button">GitHub releases</a>.</p>
</section>
