---
layout: default
title: FAQ
permalink: /faq/
redirect_from: '/help.html'
stylesheets: ['/css/faq.css']
---
{% assign sortedFaqs = site.faqs | where: 'published', true | sort: 'path', 'last' %}

<section class="container fullheight" id="faq">
  <div class="row">
    <nav class="hidden-xs hidden-sm" id="subnav">
      <ul class="nav nav-pills nav-stacked">
        {% for faq in sortedFaqs %}
        <li><a href="#{{ faq.anchor }}">{{ faq.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="col-md-offset-3 col-md-9 col-xs-12">

      {% for faq in sortedFaqs %}
        <article class="faq-article" id="{{ faq.anchor }}">
          <header>
            <h2>{{ faq.title }}</h2>
          </header>
          <p class="lead">
            {{ faq.abstract }}
            <button class="btn btn-link" data-toggle="collapse" data-target="#{{ faq.anchor }}-content"> Show details ...</button>
          </p>
          <div class="collapse" id="{{ faq.anchor }}-content"> <!--class="collapse" -->
            {{ faq.output }}
          </div>
        </article>
      {% endfor %}

    </div>
  </div>
</section>
