<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cryptomator - Free AES Encryption for your Cloud</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.png" type="image/png" sizes="96x96">
  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>
  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js"></script>
  <script defer="defer" src="js/app.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Back</a>
      </div>
    </div>
  </nav>

  <span class="clearfix anchor" id="macWarning"></span>
  <div class="container">

    <div class="page-header">
      <h2>&quot;Corrupted file in vault&quot; warning</h2>
    </div>
    <img src="img/help/macWarning.png" class="img-responsive center-block" alt="" />
    <div class="row">
      <div class="col-md-12">
        <h3>What does this mean?</h3>
        <p>Cryptomator uses a so-called MAC to detect unauthorized file changes. In this case the file or files listed in this dialog did change.</p>

        <h3>Is this dangerous?</h3>
        <p>Unauthorized file modification can have two reasons: Either inevitable <a href="http://en.wikipedia.org/wiki/Data_degradation" target="_blank">bit rotting</a>, which is rather harmless from a security standpoint.</p>
        <p>Or the file has been compromised by a cyber criminal planning a <a href="http://en.wikipedia.org/wiki/Chosen-ciphertext_attack" target="_blank">chosen ciphertext attack</a> with the intent to crack your key.</p>

        <h3>What shall I do?</h3>
        <ul>
          <li>Keep calm, nothing has happened yet</li>
          <li>Are multiple files affected at the same time?</li>
          <li>Check your cloud storage provider's access log.</li>
          <li>Do not decrypt affected files, if there is any chance an attacker might be able to read your decrypted contents.</li>
        </ul>
        <p>If you suspect a cyber attack, delete the file as soon as possible and empty your trash. The decrypted file must not fall into the hands of the attacker. You might also want to contact your cloud storage provider to get help securing your account.</p>
      </div>
    </div>

  </div>

  <!-- #################### COOKIE CONSENT #################### -->
  <div id="cookieConsent" data-ng-controller="CookiesCtrl" data-ng-show="consentRequired &amp;&amp; !(consentGiven || consentDismissed)">
    <div class="pull-right">
      <button class="btn btn-sm btn-default" data-ng-click="agree()">Agree, don't show this again</button>
      <button class="btn btn-sm btn-default" data-ng-click="dismiss()">Ignore</button>
    </div>
    <p>This website wants to use cookies. <a href="privacy.html">More info</a></p>
  </div>

</body>
</html>
