{{ define "main" }}
  <div class="container-prose py-12">
    <article class="prose prose-sm md:prose max-w-none md:max-w-none">
      {{ .Content }}
    </article>
    {{ if and .Params.Ctatitle .Params.Ctatext .Params.Ctalink .Params.Ctabutton }}
      <section class="text-center mx-auto py-12">
        <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">{{ .Params.Ctatitle }}</h3>
        <p class="font-p mb-4">{{ .Params.Ctatext }}</p>
        <a href="{{ .Params.Ctalink }}" role="button" class="btn btn-primary px-8">{{ .Params.Ctabutton }}</a>
      </section>
    {{ end }}
  </div>
{{ end }}
