<footer id="site-footer">

  <section class="container">
    <div class="row">
      <div class="col-xs-4">
        <h4>Resources</h4>
        <ul>
          <li><a href="http://press.cryptomator.org/cryptomator_press_kit_en.zip">Press Kit (en)</a></li>
          <li><a href="http://press.cryptomator.org/cryptomator_press_kit_de.zip">Press Kit (de)</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <h4>Connect</h4>
        <ul>
          <!-- <li><a href="/feed.xml">RSS feed</a></li> -->
          <li><a href="https://twitter.com/Cryptomator" target="_blank">Twitter</a></li>
          <li><a href="https://facebook.com/Cryptomator" target="_blank">Facebook</a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <h4>Contribute</h4>
        <ul>
          <li><a href="https://github.com/cryptomator/cryptomator/issues" target="_blank">Report a Bug</a></li>
          <li><a href="https://github.com/cryptomator/cryptomator" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="container">
    <p class="text-center small">© cryptomator.org
      • <a href="/privacy/">Privacy Policy</a>
      • <a href="/impressum/">Impressum</a>
      • <a href="/datenschutz/">Datenschutz</a>
    </p>
  </section>

</footer>

<section class="container-fluid" id="cookieConsent" data-ng-controller="CookiesCtrl" data-ng-show="!consentGiven">
  <div class="pull-right">
    <button type="button" class="btn btn-sm btn-default" data-ng-click="confirm()">Ok, don't show this again</button>
  </div>
  <p>This website uses cookies for statistical purposes. For more infos please see our <a href="/privacy/">privacy policy</a>.</p>
</section>
