{% assign i18n = 'footer' %}
{% include i18n.liquid %}

<footer id="site-footer">

  <section class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>{{ i18n.cryptomator.title }}</h4>
        <ul>
          <li><a href="{{ languageUrlPrefix }}/blog/">Blog</a></li>
          <li><a href="{{ languageUrlPrefix }}/team/">{{ i18n.cryptomator.team }}</a></li>
          <li><a href="https://www.redbubble.com/people/cryptomator/portfolio" target="_blank">Merchandise</a></li>
          <li><a href="{{ languageUrlPrefix }}/presskit/">{{ i18n.cryptomator.pressKit }}</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>{{ i18n.legal.title }}</h4>
        <ul>
          <li><a href="{{ languageUrlPrefix }}/privacy/">Privacy Policy</a></li>
          <li><a href="{{ languageUrlPrefix }}/impressum/">Impressum</a></li>
          <li><a href="{{ languageUrlPrefix }}/datenschutz/">Datenschutz</a></li>
        </ul>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>{{ i18n.help.title }}</h4>
        <ul>
          <li><a href="https://community.cryptomator.org/" target="_blank">{{ i18n.help.community }}</a></li>
          <li><a href="{{ languageUrlPrefix }}/support/">{{ i18n.help.support }}</a></li>
        </ul>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>{{ i18n.connect.title }}</h4>
        <ul>
          <li><a href="https://twitter.com/Cryptomator" target="_blank">Twitter</a></li>
          <li><a href="https://facebook.com/Cryptomator" target="_blank">Facebook</a></li>
          <li><a href="{{ languageUrlPrefix }}/feed.xml">{{ i18n.connect.rssFeed }}</a></li>
          <li><a href="{{ languageUrlPrefix }}/contact/">{{ i18n.connect.contact }}</a></li>
        </ul>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>{{ i18n.contribute.title }}</h4>
        <ul>
          <li><a href="https://github.com/cryptomator/cryptomator" target="_blank">GitHub</a></li>
          <li><a href="#payment-modal" data-toggle="modal">{{ i18n.contribute.donate }}</a></li>
		  <li><a href="https://poeditor.com/join/project/bHwbvJmx0E" target="_blank">{{ i18n.contribute.translate }}</a></li>
		  <li><a href="{{ languageUrlPrefix }}/jobs/">{{ i18n.contribute.jobs }}</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>{{ i18n.l10n.title }}</h4>
        <ul>
        {% for currentLanguage in site.languages %}
          {% include determineCurrentPageInUrlLanguage.liquid %}
          <li><a href="{{ currentPageUrlInUrlLanguage }}">{{ currentLanguage.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="container">
    <p class="text-center">Made with :heart: by <a href="https://skymatic.de" target="_blank">Skymatic</a></p>
  </section>

</footer>

<section class="container-fluid" id="cookie-consent" data-ng-controller="CookiesCtrl" data-ng-show="!consentGiven">
  <div class="pull-right">
    <button type="button" class="btn btn-sm btn-default" data-ng-click="confirm()">Ok, don't show this again</button>
  </div>
  <p>This website uses cookies for statistical purposes. For more infos please see our <a href="{{ languageUrlPrefix }}/privacy/">privacy policy</a>.</p>
</section>
