<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  <meta name="author" content="Sebastian Stenzel" />

  {% if page.path contains '_posts' %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="cryptomator.org">
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  <meta property="og:type" content="article" />
  <meta property="article:author" content="Sebastian Stenzel" />
  <meta property="article:published_time" content="{{ page.date | date_to_rfc822}}" />
  {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
  <link rel="payment" href="https://flattr.com/submit/auto?user_id=overheadhunter&amp;url=https%3A%2F%2Fcryptomator.org&amp;title=Cryptomator&amp;tags=encryption,security,cloud,privacy&amp;category=software" type="text/html" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}">
  {% endfor %}


  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js"></script>
  <script defer="defer" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-cookies.min.js"></script>
  <script defer="defer" src="/js/app.js"></script>
</head>
