{% assign i18n = 'nav' %}
{% include i18n.liquid %}

<nav class="navbar navbar-collapse navbar-fixed-top navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">{{ i18n.navbar.toggle }} </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ languageUrlPrefix }}/">Cryptomator</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ languageUrlPrefix }}/downloads/">{{ i18n.navbar.download }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/security/">{{ i18n.navbar.security }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/coop/">{{ i18n.navbar.coop }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/support/">{{ i18n.navbar.support }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/enterprise/">{{ i18n.navbar.enterprise }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ languageUrlPrefix }}/sponsors/"><span class="glyphicon glyphicon-heart"></span> {{ i18n.navbar.sponsors }}</a></li>
        <li><a href="#payment-modal" data-toggle="modal"><span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span> {{ i18n.navbar.donate }}</a></li>
        <li class="dropdown">
          <a href="#"
            data-popover-for-userlanguage
            {% for currentLanguage in site.languages %}
              {% if language.name != currentLanguage.name and currentLanguage.popoverText %}
                data-popover{{ currentLanguage.name }}="{{ currentLanguage.popoverText }}"
              {% endif %}
            {% endfor %}
            class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{ language.title }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for currentLanguage in site.languages %}
              {% if language.name != currentLanguage.name %}
                {% include determineCurrentPageInUrlLanguage.liquid %}
                <li><a href="{{ currentPageUrlInUrlLanguage }}">{{currentLanguage.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>


<div class="modal" tabindex="-1" role="dialog" id="payment-modal" data-ng-controller="PaymentCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" data-ng-class="{active: paymentType == 'paypal'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'paypal'">PayPal</a></li>
          <li role="presentation" data-ng-class="{active: paymentType == 'creditCard'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'creditCard'">{{ i18n.payment.type.creditCard }}</a></li>
          <li role="presentation" data-ng-class="{active: paymentType == 'bankTransfer'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'bankTransfer'">{{ i18n.payment.type.bankTransfer }}</a></li>
          <li role="presentation" data-ng-class="{active: paymentType == 'crypto'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'crypto'">Crypto</a></li>
        </ul>
      </div>
      <div class="modal-body tab-content">

        <!-- PayPal -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'paypal'}">
          <p>{{ i18n.payment.paypal.paymentHint }}</p>

          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label" for="inputPayPalAmount">{{ i18n.payment.amount }}</label>
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a data-ng-click="donation.currency = donation.currencyEUR" class="glyphicon" data-ng-class="donation.currencyEUR.glyphicon"></a></li>
                    <li><a data-ng-click="donation.currency = donation.currencyGBP" class="glyphicon" data-ng-class="donation.currencyGBP.glyphicon"></a></li>
                    <li><a data-ng-click="donation.currency = donation.currencyUSD" class="glyphicon" data-ng-class="donation.currencyUSD.glyphicon"></a></li>
                  </ul>
                </div><!-- /input-group-btn -->
                <input id="inputPayPalAmount" type="number" step="1" class="form-control" placeholder="Amount" data-ng-model="donation.amount">
                <div class="input-group-addon">.00</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="inputPayPalMessage">{{ i18n.payment.message }}</label>
            <input id="inputPayPalMessage" type="text" maxlength="350" class="form-control" data-ng-model="donation.message">
          </div>
        </div>

        <!-- Credit Card -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'creditCard'}">
          <div data-ng-show="!creditCard.paymentSuccessful">
            <p>{{ i18n.payment.creditCard.paymentHint1 }}</p>

            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label" for="inputCreditCardAmount">{{ i18n.payment.amount }}</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a data-ng-click="donation.currency = donation.currencyEUR" class="glyphicon" data-ng-class="donation.currencyEUR.glyphicon"></a></li>
                      <li><a data-ng-click="donation.currency = donation.currencyGBP" class="glyphicon" data-ng-class="donation.currencyGBP.glyphicon"></a></li>
                      <li><a data-ng-click="donation.currency = donation.currencyUSD" class="glyphicon" data-ng-class="donation.currencyUSD.glyphicon"></a></li>
                    </ul>
                  </div><!-- /input-group-btn -->
                  <input id="inputCreditCardAmount" type="number" step="1" class="form-control" placeholder="Amount" data-ng-model="donation.amount">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">{{ i18n.payment.frequency }}</label>
                <div class="input-group btn-group">
                  <button type="button" class="btn btn-default" data-ng-click="donation.frequency = 'once'" data-ng-class="{{"{"}}active: donation.frequency == 'once'}">{{ i18n.payment.frequencyOnce }}</button>
                  <button type="button" class="btn btn-default" data-ng-click="donation.frequency = 'monthly'" data-ng-class="{{"{"}}active: donation.frequency == 'monthly'}">{{ i18n.payment.frequencyMonthly }}</button>
                </div>
              </div>
            </div>

            <div class="form-group" data-ng-show="donation.frequency == 'monthly'">
              <label class="control-label" for="inputCreditCardName">{{ i18n.payment.name }}</label>
              <input id="inputCreditCardName" type="text" class="form-control" data-ng-model="creditCard.name">
            </div>

            <div class="form-group" data-ng-show="donation.frequency == 'monthly'">
              <label class="control-label" for="inputCreditCardEmail">{{ i18n.payment.email }}</label>
              <input id="inputCreditCardEmail" type="email" class="form-control" data-ng-model="creditCard.email">
            </div>
            
            <div class="form-group">
              <label>{{ i18n.payment.creditCard.captcha }}</label>
              <google-recaptcha widget-id="captcha.widgetId" on-finished="captcha.finished(token)" response-token="captcha.token" />
            </div>

            <div class="form-group">
              <label>{{ i18n.payment.creditCard.card }}</label>
              <stripe-credit-card-field loaded="creditCard.loaded(stripe, card)" loading-text="{{ i18n.payment.loadingStripe }}" valid="creditCard.creditCardValid" validation-error="creditCard.paymentError"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="inputCreditCardMessage">{{ i18n.payment.message }}</label>
              <input id="inputCreditCardMessage" type="text" maxlength="350" class="form-control" data-ng-model="donation.message">
            </div>

            <p>{{ i18n.payment.creditCard.paymentHint2 }}</p>
            <p data-ng-show="donation.frequency == 'monthly'">{{ i18n.payment.paymentHintMonthly }}</p>
          </div>

          <div data-ng-show="creditCard.paymentSuccessful">
            <p>{{ i18n.payment.successfulMessage }}</p>
          </div>
        </div>

        <!-- Bank Transfer -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'bankTransfer'}">
          <dl class="dl-horizontal">
            <dt>{{ i18n.payment.bankTransfer.recipient }}</dt>
            <dd>Skymatic GmbH</dd>
            <dt>IBAN</dt>
            <dd class="iban"><span>DE04</span><span>7002</span><span>2200</span><span>0020</span><span>1862</span><span>59</span></dd>
            <dt>BIC</dt>
            <dd>FDDODEMMXXX</dd>
          </dl>
        </div>

        <!-- Crypto -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'crypto'}">
          <p>{{ i18n.payment.crypto.paymentHint }}</p>

          <div class="row">
            <div class="form-group col-sm-6">
              <label class="control-label" for="inputCryptoAmount">{{ i18n.payment.amount }}</label>
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a data-ng-click="donation.currency = donation.currencyEUR" class="glyphicon" data-ng-class="donation.currencyEUR.glyphicon"></a></li>
                    <li><a data-ng-click="donation.currency = donation.currencyGBP" class="glyphicon" data-ng-class="donation.currencyGBP.glyphicon"></a></li>
                    <li><a data-ng-click="donation.currency = donation.currencyUSD" class="glyphicon" data-ng-class="donation.currencyUSD.glyphicon"></a></li>
                  </ul>
                </div><!-- /input-group-btn -->
                <input id="inputCryptoAmount" type="number" step="1" class="form-control" placeholder="Amount" data-ng-model="donation.amount">
                <div class="input-group-addon">.00</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <p data-ng-show="paymentType == 'creditCard' &amp;&amp; creditCard.paymentError" data-ng-bind="creditCard.paymentError" class="text-left"></p>

        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n.payment.cancelBtn }}</button>

        <!-- PayPal -->
        <button data-ng-disabled="paypal.paymentInProgress || !isAcceptableAmount(donation.amount)" data-ng-show="paymentType == 'paypal'" data-ng-click="paypal.pay('{{ language.name }}')" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> {{ i18n.payment.paypal.proceedBtn }}</button>

        <!-- CreditCard -->
        <button data-ng-disabled="creditCard.paymentInProgress || !isAcceptableAmount(donation.amount) || !creditCard.isValid() || !captcha.token" data-ng-show="paymentType == 'creditCard' &amp;&amp; !creditCard.paymentSuccessful" data-ng-click="creditCard.pay()" class="btn btn-primary">
          <span class="glyphicon glyphicon-credit-card"></span>
          <span data-ng-show="!creditCard.paymentInProgress">{{ i18n.payment.payNowBtn }}</span>
          <span data-ng-show="creditCard.paymentInProgress">{{ i18n.payment.processingBtn }}</span>
        </button>
        <a href="{{ languageUrlPrefix }}/downloads" data-ng-show="paymentType == 'creditCard' &amp;&amp; creditCard.paymentSuccessful" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> {{ i18n.payment.successfulBtn }}</a>

        <!-- Bank Transfer -->
        <a href="{{ languageUrlPrefix }}/downloads" data-ng-show="paymentType == 'bankTransfer'" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> {{ i18n.payment.proceedToDownloads }}</a>

        <!-- Crypto -->
        <button data-ng-disabled="paymentInProgress || !isAcceptableAmount(donation.amount)" data-ng-show="paymentType == 'crypto'" data-ng-click="crypto.pay('{{ language.name }}')" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> {{ i18n.payment.crypto.proceedBtn }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
