{% assign i18n = 'nav' %}
{% include i18n.liquid %}

<nav class="navbar navbar-collapse navbar-fixed-top navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">{{ i18n.navbar.toggle }} </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ languageUrlPrefix }}/">Cryptomator</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ languageUrlPrefix }}/downloads/">{{ i18n.navbar.freeDownload }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/architecture/">{{ i18n.navbar.securityArchitecture }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/help/">{{ i18n.navbar.help }}</a></li>
        <li><a href="{{ languageUrlPrefix }}/contact/">{{ i18n.navbar.contact }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#payment-modal" data-toggle="modal"><span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span> {{ i18n.navbar.donate }}</a></li>
        <li class="dropdown">
          <a href="#"
            data-popover-for-userlanguage
            {% for currentLanguage in site.languages %}
              {% if language.name != currentLanguage.name and currentLanguage.popoverText %}
                data-popover{{ currentLanguage.name }}="{{ currentLanguage.popoverText }}"
              {% endif %}
            {% endfor %}
            class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{ language.title }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for currentLanguage in site.languages %}
              {% if language.name != currentLanguage.name %}
                {% assign urlLanguage = currentLanguage %}
                {% include determineCurrentPageInUrlLanguage.liquid %}
                <li><a href="{{ currentPageUrlInUrlLanguage }}">{{currentLanguage.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>


<div class="modal" tabindex="-1" role="dialog" id="payment-modal" data-ng-controller="PaymentCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" data-ng-class="{active: paymentType == 'paypal'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'paypal'">PayPal</a></li>
          <li role="presentation" data-ng-class="{active: paymentType == 'creditCard'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'creditCard'">{{ i18n.payment.type.creditCard }}</a></li>
          <li role="presentation" data-ng-class="{active: paymentType == 'bankTransfer'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'bankTransfer'">{{ i18n.payment.type.bankTransfer }}</a></li>
          <li role="presentation" data-ng-class="{active: paymentType == 'bitcoin'}"><a class="cursor-pointer" role="tab" data-ng-click="paymentType = 'bitcoin'">Bitcoin</a></li>
        </ul>
      </div>
      <div class="modal-body tab-content">

        <!-- PayPal -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'paypal'}">
          <p>{{ i18n.payment.paypal.paymentHint }}</p>
          <div class="row">
            <div class="form-group col-md-6 col-md-offset-3">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a data-ng-click="donation.currency = donation.currencyEUR" class="glyphicon" data-ng-class="donation.currencyEUR.glyphicon"></a></li>
                    <li><a data-ng-click="donation.currency = donation.currencyGBP" class="glyphicon" data-ng-class="donation.currencyGBP.glyphicon"></a></li>
                    <li><a data-ng-click="donation.currency = donation.currencyUSD" class="glyphicon" data-ng-class="donation.currencyUSD.glyphicon"></a></li>
                  </ul>
                </div><!-- /input-group-btn -->
                <input id="inputPayPalAmount" type="number" step="1" class="form-control" placeholder="Amount" data-ng-model="donation.amount">
                <div class="input-group-addon">.00</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'creditCard'}">
          <p>{{ i18n.payment.creditCard.paymentHint }}</p>

          <div data-ng-show="!paymentSuccessful">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label" for="inputCreditCardAmount">{{ i18n.payment.creditCard.amount }}</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon" data-ng-class="donation.currency.glyphicon"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a data-ng-click="donation.currency = donation.currencyEUR" class="glyphicon" data-ng-class="donation.currencyEUR.glyphicon"></a></li>
                      <li><a data-ng-click="donation.currency = donation.currencyGBP" class="glyphicon" data-ng-class="donation.currencyGBP.glyphicon"></a></li>
                      <li><a data-ng-click="donation.currency = donation.currencyUSD" class="glyphicon" data-ng-class="donation.currencyUSD.glyphicon"></a></li>
                    </ul>
                  </div><!-- /input-group-btn -->
                  <input id="inputCreditCardAmount" type="number" step="1" class="form-control" placeholder="Amount" data-ng-model="donation.amount">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="inputCreditCardNumber">{{ i18n.payment.creditCard.number }}</label>
              <div class="input-group">
                <input id="inputCreditCardNumber" type="text" class="form-control" data-ng-model="creditCard.num">
                <span class="input-group-addon">
                  <span class="glyphicon" data-ng-class="{'glyphicon-ok': creditCard.validateNum(), 'glyphicon-remove': !creditCard.validateNum()}"></span>
                  <span data-ng-show="creditCard.guessType() != 'Unknown'" data-ng-bind="creditCard.guessType()"></span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="inputCreditCardHolderName">{{ i18n.payment.creditCard.holdername }}</label>
              <input id="inputCreditCardHolderName" type="text" class="form-control" data-ng-model="creditCard.holdername">
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="inputPayPalAmount">{{ i18n.payment.creditCard.expirationDate }}</label>
                  <div class="input-group btn-group">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[creditCard.expMonth || '{{ i18n.payment.creditCard.chooseMonth }}' ]]
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li data-ng-repeat="month in creditCard.expMonths"><a data-ng-click="creditCard.expMonth = month">[[month]]</a></li>
                      </ul>
                    </div><!-- /input-group-btn -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[creditCard.expYear || '{{ i18n.payment.creditCard.chooseYear }}']]
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li data-ng-repeat="year in creditCard.expYears"><a data-ng-click="creditCard.expYear = year">[[year]]</a></li>
                      </ul>
                    </div><!-- /input-group-btn -->
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="inputCreditCardCVC">{{ i18n.payment.creditCard.cvc }}</label>
                  <div class="input-group">
                    <input id="inputCreditCardCVC" type="password" class="form-control" data-ng-model="creditCard.cvc">
                    <span class="input-group-addon">
                      <span class="glyphicon" data-ng-class="{'glyphicon-ok': creditCard.validateCvc(), 'glyphicon-remove': !creditCard.validateCvc()}"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Bank Transfer -->
        <div role="tabpanel" class="tab-pane" data-ng-class="{active: paymentType == 'bankTransfer'}">
          <dl class="dl-horizontal">
            <dt>{{ i18n.payment.bankTransfer.recipient }}</dt>
            <dd>Skymatic UG (haftungsbeschränkt)</dd>
            <dt>IBAN</dt>
            <dd class="iban"><span>DE04</span><span>7002</span><span>2200</span><span>0020</span><span>1862</span><span>59</span></dd>
            <dt>BIC</dt>
            <dd>FDDODEMMXXX</dd>
          </dl>
        </div>

        <!-- Bitcoin -->
        <div role="tabpanel" class="tab-pane text-center" data-ng-class="{active: paymentType == 'bitcoin'}">
          <img src="/img/bitcoin-address.png" srcset="/img/bitcoin-address.png 1x, /img/bitcoin-address@2x.png 2x" class="center-block"/>

          <code>1NeRKGXG5ZJ6CBVVbxaFrwq5kWG34vT8wh</code>
        </div>

      </div>
      <div class="modal-footer">
        <span data-ng-show="paymentError" data-ng-bind="paymentError"></span>

        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n.payment.cancelBtn }}</button>

        <button data-ng-disabled="paymentInProgress || !isAcceptableAmount(donation.amount)" data-ng-show="paymentType == 'paypal'" data-ng-click="payWithPaypal()" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> {{ i18n.payment.paypal.proceedBtn }}</button>

        <button data-ng-disabled="paymentInProgress || !isAcceptableAmount(donation.amount) || !creditCard.validateCvc() || !creditCard.validateNum() || !creditCard.validateExpiry()" data-ng-show="paymentType == 'creditCard' &amp;&amp; !paymentSuccessful" data-ng-click="payWithCreditCard()" class="btn btn-primary">
          <span class="glyphicon glyphicon-credit-card"></span>
          <span data-ng-show="!paymentInProgress">{{ i18n.payment.creditCard.payNowBtn }}</span>
          <span data-ng-show="paymentInProgress">{{ i18n.payment.creditCard.processingBtn }}</span>
        </button>


        <a href="{{ languageUrlPrefix }}/downloads" data-ng-show="paymentType == 'creditCard' &amp;&amp; paymentSuccessful" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> {{ i18n.payment.creditCard.successful }}</a>

        <a href="{{ languageUrlPrefix }}/downloads" data-ng-show="paymentType == 'bankTransfer' || paymentType == 'bitcoin'" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> {{ i18n.payment.proceedToDownloads }}</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
