<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha256-ImQvICV38LovIsvla2zykaCTdEh1Z801Y+DSop91wMU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js" integrity="sha256-yXk+rzqvyLs8LHmfB903Y1UwFdA9HbzxZbim+4B/tR8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" integrity="sha256-6df1Ql4Whx0pjJ55sHrlKD7wZW98y9jN9txlhnOu90k=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-cookies.min.js" integrity="sha256-YqydBzFAa1TI5Zl2hyu13yFA3O6KlUVlfF2LjM/I2uw=" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v2/"></script>
{% for javascript in page.javascripts %}
<script src="{{ javascript }}"></script>
{% endfor %}
<script src="/js/app.js"></script>
