{{ define "main" }}
  <div class="container py-12">
    <header class="mb-12">
      <h1 class="font-h1 mb-8">{{ .Title }}</h1>
      <p class="lead">{{ i18n "hub_self_hosted_description" . }}</p>
    </header>

    <!-- COMPONENTS -->
    <section class="mb-12">
      <h2 id="components" class="font-h2 mb-4">{{ i18n "hub_self_hosted_components_title" . }}</h2>
      <p class="font-p mb-8">{{ i18n "hub_self_hosted_components_description" . | safeHTML }}</p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="white-box">
          <div class="p-4 border-b border-hub">
            <h3 class="font-h3">
              <i class="fa-solid fa-vault text-hub"></i> {{ i18n "hub_self_hosted_components_hub_title" . }}
            </h3>
          </div>
          <div class="p-4">
            <p class="font-p">{{ i18n "hub_self_hosted_components_hub_description" . }}</p>
          </div>
        </div>

        <div class="white-box">
          <div class="p-4 border-b border-hub">
            <h3 class="font-h3">
              <i class="fa-solid fa-fingerprint text-hub"></i> {{ i18n "hub_self_hosted_components_keycloak_title" . }}
            </h3>
          </div>
          <div class="p-4">
            <p class="font-p">{{ i18n "hub_self_hosted_components_keycloak_description" . }}</p>
          </div>
        </div>

        <div class="white-box">
          <div class="p-4 border-b border-hub">
            <h3 class="font-h3">
              <i class="fa-solid fa-database text-hub"></i> {{ i18n "hub_self_hosted_components_database_title" . }}
            </h3>
          </div>
          <div class="p-4">
            <p class="font-p">{{ i18n "hub_self_hosted_components_database_description" . }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- DEPLOYMENT OPTIONS -->
    <section class="mb-12">
      <h2 id="deployment-options" class="font-h2 mb-4">{{ i18n "hub_self_hosted_options_title" . }}</h2>
      <p class="font-p mb-8">{{ i18n "hub_self_hosted_options_description" . }}</p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- LOCAL TEST -->
        <div class="flex flex-col white-box">
          <div class="p-4 border-b border-hub">
            <h3 class="font-h3">
              <i class="fa-solid fa-laptop-code text-hub"></i> {{ i18n "hub_self_hosted_options_local_title" . }}
            </h3>
          </div>
          <div class="flex flex-col justify-between h-full gap-8 p-4">
            <p class="font-p">{{ i18n "hub_self_hosted_options_local_description" . }}</p>
            <a href="https://github.com/cryptomator/hub/blob/develop/deploy/compose/local/README.md" target="_blank" rel="noopener" role="button" class="btn btn-outline-hub w-full" data-umami-event="hub-self-hosted-compose-local-guide">
              <i class="fa-brands fa-github"></i> {{ i18n "hub_self_hosted_options_cta" . }}
            </a>
          </div>
        </div>

        <!-- DOCKER COMPOSE (PROD) -->
        <div class="flex flex-col white-box">
          <div class="p-4 border-b border-hub">
            <h3 class="font-h3">
              <i class="fa-brands fa-docker text-hub"></i> {{ i18n "hub_self_hosted_options_compose_title" . }}
            </h3>
          </div>
          <div class="flex flex-col justify-between h-full gap-8 p-4">
            <p class="font-p">{{ i18n "hub_self_hosted_options_compose_description" . }}</p>
            <a href="https://github.com/cryptomator/hub/blob/develop/deploy/compose/prod/README.md" target="_blank" rel="noopener" role="button" class="btn btn-outline-hub w-full" data-umami-event="hub-self-hosted-compose-prod-guide">
              <i class="fa-brands fa-github"></i> {{ i18n "hub_self_hosted_options_cta" . }}
            </a>
          </div>
        </div>

        <!-- KUBERNETES -->
        <div class="flex flex-col white-box">
          <div class="p-4 border-b border-hub">
            <h3 class="font-h3">
              <i class="fa-solid fa-dharmachakra text-hub"></i> {{ i18n "hub_self_hosted_options_kubernetes_title" . }}
            </h3>
          </div>
          <div class="flex flex-col justify-between h-full gap-8 p-4">
            <p class="font-p">{{ i18n "hub_self_hosted_options_kubernetes_description" . }}</p>
            <a href="https://github.com/cryptomator/hub/blob/develop/deploy/helm/prod/README.md" target="_blank" rel="noopener" role="button" class="btn btn-outline-hub w-full" data-umami-event="hub-self-hosted-helm-prod-guide">
              <i class="fa-brands fa-github"></i> {{ i18n "hub_self_hosted_options_cta" . }}
            </a>
          </div>
        </div>
      </div>

      <p class="font-p mt-8">{{ i18n "hub_self_hosted_options_keycloak" . | safeHTML }}</p>
      <p class="font-p mt-4">{{ i18n "hub_self_hosted_options_more" . | safeHTML }}</p>
    </section>

    <!-- CONTACT -->
    <section class="text-center py-12">
      <h2 class="font-h2 mb-4">{{ i18n "hub_self_hosted_contact_us_title" . }}</h2>
      <p class="font-p mb-4 max-w-3xl mx-auto">{{ i18n "hub_self_hosted_contact_us_description" . }}</p>
      <a href="mailto:hub@cryptomator.org" role="button" class="btn btn-outline-hub px-8" data-umami-event="hub-self-hosted-contact-us">
        <i class="fa-solid fa-envelope"></i> {{ i18n "hub_self_hosted_contact_us_button" . }}
      </a>
    </section>
  </div>
{{ end }}
