/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Set paddings for horizontal separator
 */
hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}



/**
 * Images
 */
img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
  font-size: 36px;
  @media (max-width: 1024px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  @media (max-width: 1024px) {
    font-size: 18px;
  }
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: darken($brand-color, 15%);
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Text formatting
 */
.bigger-text {
  font-size: 120%;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Buttons
 */
.btn-primary-outline {
  color: #fff;
  background-color: transparent;
  border-color: #fff;

  &:hover, &:focus {
    color: $brand-color;
    background-color: #fff;
  }
}

.btn-primary {
  background-color: $brand-color;
  border-color: darken($brand-color, 8%);

  &:hover, &:focus, &:active {
    background-color: darken($brand-color, 5%);
    border-color: darken($brand-color, 5%);
  }

  &:active:hover, &:active:focus, &:active:hover:focus {
    background-color: darken($brand-color, 8%);
    border-color: darken($brand-color, 8%);
  }
}

.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: $brand-color;
  border-color: darken($brand-color, 8%);

  &:hover, &:focus, &:active {
    background-color: $brand-color;
    border-color: darken($brand-color, 8%);
  }
}

.btn-group > ul {
  width: 100%;
}

.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:active,
.open>.dropdown-toggle.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary:active:hover:focus {
    background-color: darken($brand-color, 8%);
    border-color: darken($brand-color, 8%);
}

.cursor-pointer {
  cursor:pointer;
}

.btn-store,
.btn-store:hover,
.btn-store:focus,
.btn-store:active {
  background:#000;
  border:1px solid #a6a6a6;
  color:#fff;
  font-weight:bold;
}

/**
 * noscript
 */

.noscript .hide-noscript {
  display:none !important;
}
.show-noscript-block {
  display:none !important;
}
.noscript .show-noscript-block {
  display:block !important;
}
