body {
  box-sizing: border-box;
}

.container-layout {
  padding-bottom: $spacing-unit * 2;

  >:first-child {
    padding-top: $spacing-unit / 2;
  }
}

.top-most-element {
  padding-top: 50px;

  h1 {
    margin-top: $spacing-unit / 2;
  }
}

#cookie-consent {
  background-color: $background-color;
  border-top: 1px solid $grey-color;
  bottom: 0;
  padding: $spacing-unit / 2;
  position: fixed;
  width: 100%;

  > p {
    margin-bottom: 0;
  }
}

#site-footer {
  background-color: $grey-color-dark;
  color: $white-color;
  padding-bottom: $spacing-unit;
  padding-top: $spacing-unit;

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  section {
    padding-bottom: $spacing-unit;
  }
}

.fullheight {
  min-height: 100vh;
}

img.avatar {
  margin: 40px;
}

#subnav {
  > ul {
    max-width: 200px;
    position: fixed;
    top: 50px + $spacing-unit * 2;

    li.active a {
      background-color: $bg-green-light;
      color: $brand-color;
    }
  }
}

.green-background {
  background-color: $bg-green-medium;
  color: $white-color;

  a:not(.btn) {
    color: $white-color;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
