{{ define "main" }}
  <div class="container py-12">
    <header class="mb-6">
      <h1 class="font-h1 mb-8">{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
    </header>
    {{ .Content }}
  </div>

  <section class="container text-center pt-12 pb-24">
    <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">{{ i18n "enterprise_contact_us_title" . }}</h3>
    <a href="mailto:sales@cryptomator.org" role="button" class="btn btn-outline-primary px-8">
      <i class="fa-solid fa-envelope"></i> {{ i18n "enterprise_contact_us_button" . }}
    </a>
  </section>
{{ end }}
