{{ define "main" }}
  <div class="container-prose py-12">
    <header class="prose prose-sm md:prose max-w-none md:max-w-none mb-6">
      <h1>{{ .Title }} <a href="{{ .Site.LanguagePrefix }}/feed.xml"><i class="fas fa-rss-square"></i></a></h1>
    </header>

    {{ range .Pages.ByDate.Reverse }}
      <section class="mb-6">
        <article class="border rounded-sm shadow-sm bg-white p-4">
          <p class="text-xs md:text-sm text-gray-600 mb-1">{{ dateFormat "2006-01-02" .Params.Date }}</p>
          <div class="prose prose-sm md:prose max-w-none md:max-w-none">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
          </div>
        </article>
      </section>
    {{ end }}
  </div>
{{ end }}
