{% assign sortedReleases = site.androidBetaReleases | sort: 'path' | reverse %}
{% assign latestRelease = sortedReleases[0] %}

{% assign i18n = 'android-beta' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }} <span class="label label-warning">BETA</span></h1>
<div class="alert alert-warning" role="alert">{{ i18n.disclaimer }}</div>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.download.title }}</h2>
  </div>
  <div class="text-center">
    <p class="lead">{{ i18n.download.version }} {{ latestRelease.version }} ({{ latestRelease.date | date: i18n.download.dateFormat }})</p>
    <a itemprop="downloadUrl" href="{{ latestRelease.googlePlayUrl }}" data-ng-click="sendGaBtnClick('androidGooglePlay')" class="btn btn-lg btn-primary" role="button">
      <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ i18n.download.googlePlay }}
    </a>
    <a itemprop="downloadUrl" href="{{ latestRelease.directDownloadUrl }}" data-ng-click="sendGaBtnClick('androidDirect')" class="btn btn-lg btn-primary" role="button">
      <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{ i18n.download.direct }}
    </a>
    <p class="small">{{ i18n.download.requirements }}</p>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <div class="page-header">
        <h2 class="text-center">{{ i18n.changelog.title }}</h2>
      </div>
      <p>{{ i18n.changelog.content }}</p>
    </div>
    <div class="col-md-6">
      <div class="page-header">
        <h2 class="text-center">{{ i18n.feedback.title }}</h2>
      </div>
      <p>{{ i18n.feedback.content }}</p>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <div class="page-header">
        <h2 class="text-center">{{ i18n.notes.title }}</h2>
      </div>
      <p>{{ i18n.notes.content }}</p>
    </div>
    <div class="col-md-6">
      <div class="page-header">
        <h2 class="text-center">{{ i18n.updates.title }}</h2>
      </div>
      <p>{{ i18n.updates.content }}</p>
    </div>
  </div>
</section>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.screenshots.title }}</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="thumbnail">
        <img src="/img/android/screenshot-1.png"/>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-md-4">
      <div class="thumbnail">
        <img src="/img/android/screenshot-2.png"/>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-md-4">
      <div class="thumbnail">
        <img src="/img/android/screenshot-3.png"/>
      </div>
    </div>
  </div>
</section>
