{% assign i18n = 'blog' %}
{% include i18n.liquid %}

{% assign sortedPosts = site.posts | where: 'published', true | where: 'language', language.name | sort: 'path', 'last' | reverse %}

<div id="blog" class="container fullheight top-most-element">
  <section class="blog-title">
      <h1>{{ i18n.title }}</h1>
      <a href="{{ languageUrlPrefix }}/feed.xml"><img class="block-center" height="32" src="/img/rss-icon.svg" /></a>
  </section>

  <section class="blog-posts">
    {% for post in sortedPosts %}
    <article class="blog-post">
      <div class="row">
        <p class="col-sm-2">{{ post.date | date: "%Y-%m-%d" }}</p>
        <header class="col-sm-10">
          <h3><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h3>
        </header>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 320 }}</p>
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
</div>
