{% assign i18n = 'business' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.subtitle }}</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>{{ i18n.teaser.text }}</p>
      <p>
        <a class="btn btn-primary" href="mailto:sales@cryptomator.org">
          <span class="glyphicon glyphicon-envelope"></span> 
          {{ i18n.teaser.button }}
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt><img src="/img/coop/placeholder.png" srcset="/img/coop/placeholder.png 1x, /img/coop/placeholder@2.png 2x" class="img-responsive"/></dt>
        <dd>
          <h3>{{ i18n.whitelabel.title }}</h3>
          <p>
            {{ i18n.whitelabel.text }}
          </p>
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt><img src="/img/coop/placeholder.png" srcset="/img/coop/placeholder.png 1x, /img/coop/placeholder@2.png 2x" class="img-responsive"/></dt>
        <dd>
          <h3>{{ i18n.support.title }}</h3>
          <p>
            {{ i18n.support.text }}
          </p>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt><img src="/img/coop/placeholder.png" srcset="/img/coop/placeholder.png 1x, /img/coop/placeholder@2.png 2x" class="img-responsive"/></dt>
        <dd>
          <h3>{{ i18n.libs.title }}</h3>
          <p>
            {{ i18n.libs.text }}
          </p>
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt><img src="/img/coop/placeholder.png" srcset="/img/coop/placeholder.png 1x, /img/coop/placeholder@2.png 2x" class="img-responsive"/></dt>
        <dd>
          <h3>{{ i18n.development.title }}</h3>
          <p>
            {{ i18n.development.text }}
          </p>
        </dd>
      </dl>
    </div>
  </div>
</section>
