{% assign i18n = 'coop' %}
{% include i18n.liquid %}

{% assign sortedArticles = site.coop | where: 'language', language.name | sort: 'path', 'last' %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section class="articles">
  <dl class="dl-horizontal">
    {% for article in sortedArticles %}
      <dt><a href="{{ article.url }}"><img src="{{ article.img }}" srcset="{{ article.img }} 1x, {{ article.img2x }} 2x" class="img-responsive"/></a></dt>
      <dd>
        <h2>{{ article.title }}</h2>
        <p>{{ article.excerpt }}</p>
        <p><a class="btn btn-primary" href="{{ article.url }}">{{ i18n.learnMore }}</a></p>
      </dd>
    {% endfor %}
  </dl>
</section>

<hr/>

<section class="articles">
  <dl class="dl-horizontal">
    <dt><img src="/img/coop/placeholder.png" srcset="/img/coop/placeholder.png 1x, /img/coop/placeholder@2x.png 2x" class="img-responsive"/></dt>
    <dd>
      <p>{{ i18n.teaser }}</p>
      <p><a class="btn btn-primary" href="{{ languageUrlPrefix }}/enterprise/">{{ i18n.learnMore }}</a></p>
    </dd>
  </dl>
</section>
