{% assign i18n = 'coop' %}
{% include i18n.liquid %}

{% assign sortedArticles = site.coop | where: 'language', language.name | sort: 'path', 'last' %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section>
  <dl class="dl-horizontal">
    {% for article in sortedArticles %}
      <dt><a href="{{ article.url }}"><img src="{{ article.img }}" srcset="{{ article.img }} 1x, {{ article.img2x }} 2x" class="img-responsive"/></a></dt>
      <dd>
        <p>{{ article.excerpt }}</p>
        <p><a class="btn btn-primary btn-sm" href="{{ article.url }}">{{ i18n.learnMore }}</a></p>
      </dd>
    {% endfor %}
    <dt><a href="https://mountainduck.io/#cryptomator"><img src="/img/coop/mountainduck.png" srcset="/img/coop/mountainduck.png 1x, /img/coop/mountainduck@2x.png 2x" class="img-responsive"/></a></dt>
    <dd>
      <p>{{ i18n.mountainduck.excerpt }}</p>
      <p><a class="btn btn-primary btn-sm" href="https://mountainduck.io/#cryptomator">{{ i18n.learnMore }}</a></p>
    </dd>
  </dl>
</section>

<hr/>

<dl class="dl-horizontal">
  <dt><img src="/img/coop/placeholder.png" srcset="/img/coop/placeholder.png 1x, /img/coop/placeholder@2x.png 2x" class="img-responsive"/></dt>
  <dd>
    <p>{{ i18n.teaser }}</p>
    <p><a class="btn btn-primary btn-sm" href="{{ languageUrlPrefix }}/business/">{{ i18n.contactButton }}</a></p>
  </dd>
</dl>
