{% assign sortedReleases = site.releases | sort: 'path' | reverse %}
{% assign latestRelease = sortedReleases[0] %}

{% assign release = latestRelease %}
{% include computeReleaseData.liquid %}

{% assign i18n = 'downloads' %}
{% include i18n.liquid %}

<div class="container" data-ng-controller="DownloadCtrl">

  <section id="loadScreen" class="fullheight download hide-noscript" data-ng-init="init()" data-ng-show="!initialized">
    <div class="text-center">
      <h2>{{ i18n.loadScreen.title }}</h2>
      <p class="lead">{{ i18n.loadScreen.choosingDownload }}</p>
    </div>
  </section>

  <section id="winDownload" class="row fullheight download">
    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
      <img src="/img/screenshots/dl_win.png" srcset="/img/screenshots/dl_win.png 1x, /img/screenshots/dl_win@2x.png 2x" class="img-responsive center-block"/>
    </div>
    <div class="col-md-6 col-lg-4 text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
      <meta itemprop="applicationCategory" content="Productivity"/>
      <meta itemprop="applicationSubCategory" content="Encryption"/>
      <meta itemprop="softwareVersion" content="{{winVersion}}"/>
      <meta itemprop="image" content="https://cryptomator.org/img/logo.png"/>
      <meta itemprop="description" content="Client-side AES encryption for your cloud files."/>
      <meta itemprop="operatingSystem" content="Windows"/>
      <h2>{{ i18n.windows.title }}</h2>
      <p class="small">Version {{winVersion}} • <a href="#allVersions">{{ i18n.allVersions.title }}</a></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="no-margin-b">
            .exe Installer
          </h4>
        </div>
        <div class="panel-body small">
          <p>Minimum: Windows Vista SP2</p>
          <div class="btn-group">
            <a itemprop="downloadUrl" href="{{winUrl64}}" data-ng-click="logDownload('{{winFile64}}')" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{ i18n.download.button64 }}
            </a>
            <a itemprop="downloadUrl" href="{{winUrl32}}" data-ng-click="logDownload('{{winFile32}}')" class="btn btn-primary" role="button">
              {{ i18n.download.button32 }}
            </a>
          </div>
          <p class="download-caption">
            <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{winSha256Checksum64}}">SHA256 (64 Bit)</a> •
            <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{winSha256Checksum32}}">SHA256 (32 Bit)</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="macDownload" class="row fullheight download">
    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
      <img src="/img/screenshots/dl_mac.png" srcset="/img/screenshots/dl_mac.png 1x, /img/screenshots/dl_mac@2x.png 2x" class="img-responsive center-block"/>
    </div>
    <div class="col-md-6 col-lg-4 text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
      <meta itemprop="applicationCategory" content="Productivity"/>
      <meta itemprop="applicationSubCategory" content="Encryption"/>
      <meta itemprop="softwareVersion" content="{{macVersion}}"/>
      <meta itemprop="image" content="https://cryptomator.org/img/logo.png"/>
      <meta itemprop="description" content="Client-side AES encryption for your cloud files."/>
      <meta itemprop="operatingSystem" content="Mac"/>
      <h2>{{ i18n.mac.title }}</h2>
      <p class="small">Version {{macVersion}} • <a href="#allVersions">{{ i18n.allVersions.title }}</a></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="no-margin-b">
            .dmg Image
          </h4>
        </div>
        <div class="panel-body small">
          <p>Minimum: OS X 10.8.3</p>
          <a itemprop="downloadUrl" href="{{macUrl}}" data-ng-click="logDownload('{{macFile}}')" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{ i18n.download.button }}
          </a>
          <p class="download-caption">
            <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{macSha256Checksum}}">SHA256</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="linuxDownload" class="row fullheight download">
    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
      <img src="/img/screenshots/dl_linux.png" srcset="/img/screenshots/dl_linux.png 1x, /img/screenshots/dl_linux@2x.png 2x" class="img-responsive center-block"/>
    </div>
    <div class="col-md-6 col-lg-4 text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
      <meta itemprop="applicationCategory" content="Productivity"/>
      <meta itemprop="applicationSubCategory" content="Encryption"/>
      <meta itemprop="softwareVersion" content="{{linuxVersion}}"/>
      <meta itemprop="image" content="https://cryptomator.org/img/logo.png"/>
      <meta itemprop="description" content="Client-side AES encryption for your cloud files."/>
      <meta itemprop="operatingSystem" content="Linux"/>
      <h2>{{ i18n.linux.title }}</h2>
      <p class="small">Version {{linuxVersion}} • <a href="#allVersions">{{ i18n.allVersions.title }}</a><br/>{{ i18n.linux.requirements }}</p>

      <div class="panel-group" id="linuxDownloadPanel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="no-margin-b">
              <a data-toggle="collapse" data-parent="#linuxDownloadPanel" href="#linuxDownloadPpa">
                PPA<br/><span class="small">Ubuntu, Mint, elementary OS, ...</span>
              </a>
            </h4>
          </div>
          <div id="linuxDownloadPpa" class="panel-collapse collapse in">
            <div class="panel-body small">
              <p>{{ i18n.linux.ppa.minimumRequirements }}</p>
              <pre class="text-left text-nowrap">
                sudo add-apt-repository ppa:sebastian-stenzel/cryptomator<br/>
                sudo apt-get update<br/>
                sudo apt-get install cryptomator
              </pre>
              <p class="download-caption">{{ i18n.linux.ppa.olderDistributions }}</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="no-margin-b">
              <a class="collapsed" data-toggle="collapse" data-parent="#linuxDownloadPanel" href="#linuxDownloadDeb">
                .deb Package<br/><span class="small">Debian, older Ubuntu versions, ...</span>
              </a>
            </h4>
          </div>
          <div id="linuxDownloadDeb" class="panel-collapse collapse">
            <div class="panel-body small">
              <div class="btn-group">
                <a itemprop="downloadUrl" href="{{debianUrl64}}" data-ng-click="logDownload('{{debianFile64}}')" class="btn btn-primary" role="button">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{ i18n.download.button64 }}
                </a>
                <a itemprop="downloadUrl" href="{{debianUrl32}}" data-ng-click="logDownload('{{debianFile32}}')" class="btn btn-primary" role="button">
                  {{ i18n.download.button32 }}
                </a>
              </div>
              <p class="download-caption">
                <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{debianSha256Checksum64}}">SHA256 (64 Bit)</a> •
                <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{debianSha256Checksum32}}">SHA256 (32 Bit)</a>
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="no-margin-b">
              <a class="collapsed" data-toggle="collapse" data-parent="#linuxDownloadPanel" href="#linuxDownloadRpm">
                .rpm Package<br/><span class="small">Red Hat, openSUSE, Fedora, CentOS, ...</span>
              </a>
            </h4>
          </div>
          <div id="linuxDownloadRpm" class="panel-collapse collapse">
            <div class="panel-body small">
              <div class="btn-group">
                <a itemprop="downloadUrl" href="{{redhatUrl64}}" data-ng-click="logDownload('{{redhatFile64}}')" class="btn btn-primary" role="button">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{ i18n.download.button64 }}
                </a>
                <a itemprop="downloadUrl" href="{{redhatUrl32}}" data-ng-click="logDownload('{{redhatFile32}}')" class="btn btn-primary" role="button">
                  {{ i18n.download.button32 }}
                </a>
              </div>
              <p class="download-caption">
                <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{redhatSha256Checksum64}}">SHA256 (64 Bit)</a> •
                <a class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{redhatSha256Checksum32}}">SHA256 (32 Bit)</a>
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="no-margin-b">
              <a class="collapsed" data-toggle="collapse" data-parent="#linuxDownloadPanel" href="#linuxDownloadAur">
                AUR<br/><span class="small">Arch, Manjaro, ...</span>
              </a>
            </h4>
          </div>
          <div id="linuxDownloadAur" class="panel-collapse collapse">
            <div class="panel-body small">
              <a class="btn btn-primary" itemprop="downloadUrl" href="https://aur.archlinux.org/packages/cryptomator/" target="_blank" data-ng-click="logDownload('aur')"  role="button">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ i18n.linux.buttonAur }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="jarDownload" class="row fullheight download">
    <div class="col-md-6 col-lg-8 hidden-sm hidden-xs">
      <img src="/img/screenshots/dl_jar.png" srcset="/img/screenshots/dl_jar.png 1x, /img/screenshots/dl_jar@2x.png 2x" class="img-responsive center-block"/>
    </div>
    <div class="col-md-6 col-lg-4 text-center">
      <h2>{{ i18n.jar.title }}</h2>
      <p class="small"><a href="#allVersions">{{ i18n.allVersions.title }}</a></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="no-margin-b">
            {{ i18n.jar.subtitle }}
          </h4>
        </div>
        <div class="panel-body small">
          <p>{{ i18n.jar.requirements }}</p>
          <a href="https://github.com/cryptomator/cryptomator/releases" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ i18n.jar.button }}
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="allVersions" class="fullheight download">
    <div class="text-center">
      <h2>{{ i18n.allVersions.title }}</h2>
      <p class="lead">{{ i18n.allVersions.version }} {{ latestRelease.title }} ({{ latestRelease.date | date: i18n.allVersions.dateFormat }})</p>
    </div>

    <table class="table table-hover">
      <colgroup>
        <col style="width: 10%"/>
        <col style="width: 10%"/>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
      </colgroup>
      <thead>
        <tr><th>{{ i18n.allVersions.version }}</th><th>{{ i18n.allVersions.notes }}</th><th>{{ i18n.allVersions.releaseDate }}</th><th>Windows</th><th>Mac</th><th>Linux</th></tr>
      </thead>
      <tbody>
      {% for release in sortedReleases %}
        {% include computeReleaseData.liquid %}
        <tr>
          <th>
            {{release.title}}
            {% if release.beta %}
               <span class="label label-warning">BETA</span>
            {% endif %}
          </th>
          <td>
            <a href="https://github.com/cryptomator/cryptomator/releases/tag/{{release.tag}}" target="_blank" role="button">{{ i18n.allVersions.changelog }}</a>
          </td>
          <td>{{release.date | date: "%Y-%m-%d" }}</td>
          <td>
            {% if winSha1Checksum64 or winSha256Checksum64 %}
            <a href="{{winUrl64}}" download="{{winFile64}}" data-ng-click="sendGaBtnClick('{{winFile64}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{winFile64}}
            </a>
            {% endif %}
            {% if winSha1Checksum32 or winSha256Checksum32 %}
            <a href="{{winUrl32}}" download="{{winFile32}}" data-ng-click="sendGaBtnClick('{{winFile32}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{winFile32}}
            </a>
            {% endif %}
            {% if winSha1Checksum64 == nil and winSha256Checksum64 == nil and winSha1Checksum32 == nil and winSha256Checksum32 == nil %}
            -
            {% endif %}
          </td>
          <td>
            {% if macSha1Checksum or macSha256Checksum %}
            <a href="{{macUrl}}" download="{{macFile}}" data-ng-click="sendGaBtnClick('{{macFile}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{macFile}}
            </a>
            {% else %}
            -
            {% endif %}
          </td>
          <td>
            {% if debianSha1Checksum64 or debianSha256Checksum64 %}
            <a href="{{debianUrl64}}" download="{{debianFile64}}" data-ng-click="sendGaBtnClick('{{debianFile64}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{debianFile64}}
            </a>
            {% endif %}
            {% if debianSha1Checksum32 or debianSha256Checksum32 %}
            <a href="{{debianUrl32}}" download="{{debianFile32}}" data-ng-click="sendGaBtnClick('{{debianFile32}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{debianFile32}}
            </a>
            {% endif %}
            {% if redhatSha1Checksum64 or redhatSha256Checksum64 %}
            <a href="{{redhatUrl64}}" download="{{redhatFile64}}" data-ng-click="sendGaBtnClick('{{redhatFile64}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{redhatFile64}}
            </a>
            {% endif %}
            {% if redhatSha1Checksum32 or redhatSha256Checksum32 %}
            <a href="{{redhatUrl32}}" download="{{redhatFile32}}" data-ng-click="sendGaBtnClick('{{redhatFile32}}')" class="btn btn-xs btn-default" role="button">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{redhatFile32}}
            </a>
            {% endif %}
            {% if debianSha1Checksum64 == nil and debianSha256Checksum64 == nil and debianSha1Checksum32 == nil and debianSha256Checksum32 == nil and redhatSha1Checksum64 == nil and redhatSha256Checksum64 == nil and redhatSha1Checksum32 == nil and redhatSha256Checksum32 == nil %}
            -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>{{ i18n.allVersions.jarDownloadHint }}</p>
  </section>

  <div class="modal" tabindex="-1" role="dialog" id="thanks-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <img class="pull-left" src="/img/logo.png" srcset="/img/logo.png 1x, /img/logo@2x.png 2x"/>
          <h4>{{ i18n.thanks.title }}</h4>
          <p>{{ i18n.thanks.content }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ i18n.thanks.dismissBtn }}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal" tabindex="-1" role="dialog" id="payment-failed-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>{{ i18n.paymentFailed.title }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ i18n.paymentFailed.content }}</p>
          <p data-ng-show="paymentFailedReason">{{ i18n.paymentFailed.reason }}: <code>[[paymentFailedReason]]</code></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ i18n.paymentFailed.dismissBtn }}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
