{% assign i18n = 'enterprise' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.subtitle }}</h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-adjust"></span> {{ i18n.whitelabel.title }}</h3>
      <p>{{ i18n.whitelabel.content }}</p>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-user"></span> {{ i18n.support.title }}</h3>
      <p>{{ i18n.support.content }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-book"></span> {{ i18n.libraries.title }}</h3>
      <p>{{ i18n.libraries.content }}</p>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-edit"></span> {{ i18n.development.title }}</h3>
      <p>{{ i18n.development.content }}</p>
    </div>
  </div>

  <p class="text-center">
    <a class="btn btn-lg btn-primary" href="mailto:sales@cryptomator.org">
      <span class="glyphicon glyphicon-envelope"></span>
      {{ i18n.contactUs }}
    </a>
  </p>
</section>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.defendor.subtitle }}</h2>
  </div>

  <p>{{ i18n.defendor.teaser }}</p>

  <p class="text-center">
    <a class="btn btn-lg btn-primary" href="{{ i18n.defendor.url }}" target="_blank">
      <span class="glyphicon glyphicon-link"></span>
      {{ i18n.defendor.action }}
    </a>
  </p>
</section>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.libs.subtitle }}</h2>
  </div>

  <p>{{ i18n.libs.teaser }}</p>

  <dl>
    {% for lib in i18n.libs.list %}
      <dt class="lib"><a href="{{ lib.url }}">{{ lib.title }}</a></dt>
      <dd class="lib">
        <p>{{ lib.description }}</p>
      </dd>
    {% endfor %}
  </dl>
</section>
