{% assign i18n = 'jobs' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.subtitle }}</h2>
  </div>

  {% for job in i18n.jobs %}
  {% assign mod3 = forloop.index0 | modulo: 3 %}
  {% if mod3 == 0 %}
  <div class="row">
  {% endif %}
    <div class="col-md-4">
      <h3 class="text-center">{{ job.title }}</h3>
      <p>
        {{ job.content }}
      </p>
      <p class="text-center">
        <a href="{{ job.url }}" class="btn btn-primary" target="_blank">
          <span class="glyphicon glyphicon-file"></span> {{ i18n.action }}
        </a>
      </p>
    </div>
  {% if mod3 == 2 or forloop.last %}
  </div>
  {% endif %}
  {% endfor %}
</section>
