{% assign i18n = 'presskit' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>

<h2>{{ i18n.highResAssets.title }}</h2>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="thumbnail text-center">
      <a href="/img/presskit/cryptomator-logo.png"><img src="/img/presskit/cryptomator-logo.png"/></a>
      <div class="caption">{{ i18n.highResAssets.cryptomatorLogo }} • 1024x1024 • PNG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-3">
    <div class="thumbnail text-center">
      <a href="/img/presskit/cryptomator-ios-icon.png"><img src="/img/presskit/cryptomator-ios-icon.png"/></a>
      <div class="caption">{{ i18n.highResAssets.cryptomatoriOSIcon }} • 1024x1024 • PNG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail text-center">
      <a href="/img/presskit/cryptomator-logo-text.png"><img src="/img/presskit/cryptomator-logo-text.png"/></a>
      <div class="caption">{{ i18n.highResAssets.cryptomatorLogoWithText }} • 1788x384 • PNG</div>
    </div>
  </div>
</div>

<h2>{{ i18n.macScreenshots.title }}</h2>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/mac-screenshot-1.png"><img src="/img/presskit/{{ language.name }}/mac-screenshot-1.png"/></a>
      <div class="caption">{{ i18n.macScreenshots.screenshot1 }} • 1528x1148 • PNG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/mac-screenshot-2.png"><img src="/img/presskit/{{ language.name }}/mac-screenshot-2.png"/></a>
      <div class="caption">{{ i18n.macScreenshots.screenshot2 }} • 1528x1148 • PNG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/mac-screenshot-3.png"><img src="/img/presskit/{{ language.name }}/mac-screenshot-3.png"/></a>
      <div class="caption">{{ i18n.macScreenshots.screenshot3 }} • 1732x1120 • PNG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/mac-screenshot-4.png"><img src="/img/presskit/{{ language.name }}/mac-screenshot-4.png"/></a>
      <div class="caption">{{ i18n.macScreenshots.screenshot4 }} • 1732x1120 • PNG</div>
    </div>
  </div>
</div>

<h2>{{ i18n.iosScreenshots.title }}</h2>
<h3>{{ i18n.iosScreenshots.iphone.title }}</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-screenshot-1.jpg"><img src="/img/presskit/{{ language.name }}/iphone-screenshot-1.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot1 }} • 1242x2208 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-screenshot-2.jpg"><img src="/img/presskit/{{ language.name }}/iphone-screenshot-2.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot2 }} • 1242x2208 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-screenshot-3.jpg"><img src="/img/presskit/{{ language.name }}/iphone-screenshot-3.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot3 }} • 1242x2208 • JPG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-screenshot-4.jpg"><img src="/img/presskit/{{ language.name }}/iphone-screenshot-4.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot4 }} • 1242x2208 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-screenshot-5.jpg"><img src="/img/presskit/{{ language.name }}/iphone-screenshot-5.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot5 }} • 1242x2208 • JPG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-1.jpg"><img src="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-1.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot1 }} • 1242x2208 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-2.jpg"><img src="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-2.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot2 }} • 1242x2208 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-3.jpg"><img src="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-3.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot3 }} • 1242x2208 • JPG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-4.jpg"><img src="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-4.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot4 }} • 1242x2208 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-5.jpg"><img src="/img/presskit/{{ language.name }}/iphone-appstore-screenshot-5.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot5 }} • 1242x2208 • JPG</div>
    </div>
  </div>
</div>
<h3>{{ i18n.iosScreenshots.ipad.title }}</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-screenshot-1.jpg"><img src="/img/presskit/{{ language.name }}/ipad-screenshot-1.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot1 }} • 1536x2048 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-screenshot-2.jpg"><img src="/img/presskit/{{ language.name }}/ipad-screenshot-2.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot2 }} • 1536x2048 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-screenshot-3.jpg"><img src="/img/presskit/{{ language.name }}/ipad-screenshot-3.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot3 }} • 1536x2048 • JPG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-screenshot-4.jpg"><img src="/img/presskit/{{ language.name }}/ipad-screenshot-4.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot4 }} • 1536x2048 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-screenshot-5.jpg"><img src="/img/presskit/{{ language.name }}/ipad-screenshot-5.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot5 }} • 1536x2048 • JPG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-1.jpg"><img src="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-1.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot1 }} • 1536x2008 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-2.jpg"><img src="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-2.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot2 }} • 1536x2008 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-3.jpg"><img src="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-3.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot3 }} • 1536x2008 • JPG</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-4.jpg"><img src="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-4.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot4 }} • 1536x2008 • JPG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-5.jpg"><img src="/img/presskit/{{ language.name }}/ipad-appstore-screenshot-5.jpg"/></a>
      <div class="caption">{{ i18n.iosScreenshots.screenshot5 }} • 1536x2008 • JPG</div>
    </div>
  </div>
</div>

<h2>{{ i18n.androidScreenshots.title }}</h2>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/android/screenshot-1.png"><img src="/img/android/screenshot-1.png"/></a>
      <div class="caption">{{ i18n.androidScreenshots.screenshot1 }} • 1080x1920 • PNG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/android/screenshot-2.png"><img src="/img/android/screenshot-2.png"/></a>
      <div class="caption">{{ i18n.androidScreenshots.screenshot2 }} • 1080x1920 • PNG</div>
    </div>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail text-center">
      <a href="/img/android/screenshot-3.png"><img src="/img/android/screenshot-3.png"/></a>
      <div class="caption">{{ i18n.androidScreenshots.screenshot3 }} • 1080x1920 • PNG</div>
    </div>
  </div>
</div>
