{% assign i18n = 'sponsors' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>
<p class="lead">{{ i18n.lead.content }}</p>

<section>
  <div class="row">
    <div class="col-md-2 col-xs-4 text-center">
      <h2 class="heading-stat">{{ i18n.stats.monthlyDownloads.value }}</h2>
      <p>{{ i18n.stats.monthlyDownloads.title }}</p>
    </div>
    <div class="col-md-2 col-xs-4 text-center">
      <h2 class="heading-stat">{{ i18n.stats.linesOfCode.value }}</h2>
      <p>{{ i18n.stats.linesOfCode.title }}</p>
    </div>
    <div class="col-md-2 col-xs-4 text-center">
      <h2 class="heading-stat">{{ i18n.stats.developmentHours.value }}</h2>
      <p>{{ i18n.stats.developmentHours.title }}</p>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-2 col-xs-4 text-center">
      <h2 class="heading-stat">{{ i18n.stats.githubStars.value }}</h2>
      <p>{{ i18n.stats.githubStars.title }}</p>
    </div>
    <div class="col-md-2 col-xs-4 text-center">
      <h2 class="heading-stat">{{ i18n.stats.resolvedIssues.value }}</h2>
      <p>{{ i18n.stats.resolvedIssues.title }}</p>
    </div>
    <div class="col-md-2 col-xs-4 text-center">
      <h2 class="heading-stat">{{ i18n.stats.languages.value }}</h2>
      <p>{{ i18n.stats.languages.title }}</p>
    </div>
  </div>
</section>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.opportunities.title }}</h2>
  </div>

  <div class="row equal">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <img src="/img/sponsors/gold.png" srcset="/img/sponsors/gold.png 1x, /img/sponsors/gold@2x.png 2x" class="img-responsive img-opportunity center-block"/>
            <h3 class="heading-opportunity">{{ i18n.opportunities.gold.title }}</h3>
            <h4>{{ i18n.opportunities.gold.subtitle }}</h4>
          </div>
          <p>{{ i18n.opportunities.gold.content }}</p>
        </div>
        <div class="panel-footer text-center">
          <a class="btn btn-primary" href="{{ languageUrlPrefix }}/sponsors/checkout/?plan=gold"><span class="glyphicon glyphicon-log-in"></span> {{ i18n.opportunities.choose }}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <img src="/img/sponsors/silver.png" srcset="/img/sponsors/silver.png 1x, /img/sponsors/silver@2x.png 2x" class="img-responsive img-opportunity center-block"/>
            <h3 class="heading-opportunity">{{ i18n.opportunities.silver.title }}</h3>
            <h4>{{ i18n.opportunities.silver.subtitle }}</h4>
          </div>
          <p>{{ i18n.opportunities.silver.content }}</p>
        </div>
        <div class="panel-footer text-center">
          <a class="btn btn-primary" href="{{ languageUrlPrefix }}/sponsors/checkout/?plan=silver"><span class="glyphicon glyphicon-log-in"></span> {{ i18n.opportunities.choose }}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <img src="/img/sponsors/bronze.png" srcset="/img/sponsors/bronze.png 1x, /img/sponsors/bronze@2x.png 2x" class="img-responsive img-opportunity center-block"/>
            <h3 class="heading-opportunity">{{ i18n.opportunities.bronze.title }}</h3>
            <h4>{{ i18n.opportunities.bronze.subtitle }}</h4>
          </div>
          <p>{{ i18n.opportunities.bronze.content }}</p>
        </div>
        <div class="panel-footer text-center">
          <a class="btn btn-primary" href="{{ languageUrlPrefix }}/sponsors/checkout/?plan=bronze"><span class="glyphicon glyphicon-log-in"></span> {{ i18n.opportunities.choose }}</a>
        </div>
      </div>
    </div>
  </div>

  <p>{{ i18n.opportunities.notice }}</p>
</section>
