{% assign i18n = 'support' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.gethelp }}</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">{{ i18n.documentation.title }}</h3>
      <p>
        {{ i18n.documentation.content }}
      </p>
      <p class="text-center">
        <a href="https://community.cryptomator.org/c/kb" class="btn btn-primary" target="_blank">
          <span class="glyphicon glyphicon-book"></span> {{ i18n.documentation.action }}
        </a>
      </p>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">{{ i18n.community.title }}</h3>
      <p>
        {{ i18n.community.content }}
      </p>
      <p class="text-center">
        <a href="https://community.cryptomator.org/" class="btn btn-primary" target="_blank">
          <span class="glyphicon glyphicon-user"></span> {{ i18n.community.action }}
        </a>
      </p>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">{{ i18n.enterprise.title }}</h3>
      <p>
        {{ i18n.enterprise.content }}
      </p>
      <p class="text-center">
        <a href="{{ languageUrlPrefix }}/enterprise/" class="btn btn-primary" target="_blank">
          <span class="glyphicon glyphicon-bookmark"></span> {{ i18n.enterprise.action }}
        </a>
      </p>
    </div>
  </div>
</section>

<section data-ng-controller="CancelRecurringDonationCtrl">
  <div class="page-header">
    <h2 class="text-center">{{ i18n.cancelRecurringDonation.title }}</h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 form-horizontal">
      <form data-ng-show="!cancelRecurringDonationSuccessful" data-ng-submit="cancelRecurringDonation()">
        <p>{{ i18n.cancelRecurringDonation.content }}</p>
        <div class="form-group">
          <label for="email" class="col-sm-3">{{ i18n.cancelRecurringDonation.email }}</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" name="email" placeholder="" value="" data-ng-model="recurringDonation.email" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <input type="submit" value="{{ i18n.cancelRecurringDonation.actionBtn }}" name="cancelRecurringDonation" class="btn btn-primary" data-ng-disabled="cancelRecurringDonationInProgress">
          </div>
        </div>
        <div class="row">
          <p class="col-sm-offset-3 col-sm-9" data-ng-show="cancelRecurringDonationError" data-ng-bind="cancelRecurringDonationError"></p>
        </div>
      </form>
      <p class="text-center" data-ng-show="cancelRecurringDonationSuccessful">{{ i18n.cancelRecurringDonation.success }}</p>
    </div>
  </div>
</section>
