{% assign i18n = 'team' %}
{% include i18n.liquid %}

<h1 class="text-center">{{ i18n.title }}</h1>

<section>
  <div class="page-header">
    <h2 class="text-center">{{ i18n.coreteam.title }}</h2>
  </div>
  <p><img src="/img/team/skymatic-logo.png" srcset="/img/team/skymatic-logo.png 1x, /img/team/skymatic-logo@2x.png 2x" class="img-responsive center-block"/></p>
  <p class="text-center">{{ i18n.coreteam.content }}</p>
  <p class="text-center">
    <a href="{{ i18n.coreteam.url }}" target="_blank" class="btn btn-primary">
      <span class="glyphicon glyphicon-link"></span> {{ i18n.coreteam.action }}
    </a>
  </p>
</section>

<section data-ng-controller="ContributorsCtrl" data-ng-show="contributors.length > 0">
  <div class="page-header">
    <h2 class="text-center">{{ i18n.contributors.title }}</h2>
  </div>
  <div class="row text-center">
    <div class="col-sm-2 col-xs-4 person" data-ng-repeat="contributor in contributors">
      <a data-ng-href="[[ contributor.html_url ]]" target="_blank">
        <img data-ng-src="[[ contributor.avatar_url ]]" class="img-responsive img-thumbnail" style="width: 100%"/>
        <p>[[ contributor.login ]]</p>
      </a>
    </div>
  </div>
</section>

<section data-ng-controller="ContributorsCtrl">
  <div class="page-header">
    <h2 class="text-center">{{ i18n.translators.title }}</h2>
  </div>
  <p class="text-center">{{ i18n.translators.thanks }}</p>
</section>
