{{ define "main" }}
  <section x-data="{feedbackData: {success: false, inProgress: false, errorMessage: ''}, submitData: {captcha: null, subdomain: '', email: '', quantity: null, message: ''}, acceptTerms: false, lowQuantityModalIsOpen: false, hubManaged: null}" x-init="hubManaged = new HubManaged($refs.form, feedbackData, submitData)" class="container py-12">
    <header class="mb-6">
      <h1 class="font-h1 mb-8">{{ .Title }}</h1>
      <p class="lead">{{ i18n "hub_managed_description" }}</p>
    </header>

    <form x-ref="form">
      <section class="relative white-box">
        <div x-show="!feedbackData.success" class="px-4 py-5 md:p-6 md:grid md:grid-cols-3 md:gap-6">
          <header class="md:col-span-1">
            <h2 class="text-lg font-medium leading-6 text-gray-900">
              {{ i18n "hub_managed_info_header_title" }}
            </h2>
            <p class="mt-1 text-sm text-gray-500">
              {{ i18n "hub_managed_info_header_description" }}
            </p>
          </header>

          <div class="mt-5 md:mt-0 md:col-span-2 grid grid-cols-6 gap-6">
            <div class="col-span-6 lg:col-span-4">
              <label for="subdomain" class="block text-sm font-medium text-gray-700">
                {{ i18n "hub_managed_info_subdomain" }}
              </label>
              <div class="mt-1 flex items-center rounded-sm bg-gray-300">
                <div class="text-gray-700 px-3">https://</div>
                <input type="text" id="subdomain" pattern="[a-z\d](?:[a-z\d-]{0,61}[a-z\d])?" class="block input-box rounded-none w-full" maxlength="63" x-model="submitData.subdomain" @blur="$el.classList.add('show-invalid')" required>
                <div class="text-gray-700 px-3">.cryptomator.cloud</div>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                {{ i18n "hub_managed_info_subdomain_description" | safeHTML }}
              </p>
            </div>

            <div class="col-span-6 lg:col-span-4">
              <label for="email" class="block text-sm font-medium text-gray-700">
                {{ i18n "hub_managed_info_email" }}
              </label>
              <input type="email" id="email" class="mt-1 block input-box w-full" x-model="submitData.email" @blur="$el.classList.add('show-invalid')" required>
              <p class="mt-2 text-sm text-gray-500">
                {{ i18n "hub_managed_info_email_description" }}
              </p>
            </div>

            <div class="col-span-6 lg:col-span-4">
              <label for="quantity" class="block text-sm font-medium text-gray-700">
                {{ i18n "hub_managed_info_quantity" }}
              </label>
              <input type="number" id="quantity" min="1" max="10000" step="1" class="mt-1 block input-box w-full" x-model="submitData.quantity" @blur="$el.classList.add('show-invalid')" required>
              <p class="mt-2 text-sm text-gray-500">
                {{ i18n "hub_managed_info_quantity_description" }}
              </p>
            </div>

            <div class="col-span-6">
              <label for="message" class="block text-sm font-medium text-gray-700">
                {{ i18n "hub_managed_info_message" }}
              </label>
              <div class="mt-1">
                <textarea id="message" rows="3" maxlength="400" class="block w-full rounded-md border-gray-300 shadow-xs focus:ring-0 focus:border-secondary" x-model="submitData.message"></textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                {{ i18n "hub_managed_info_message_description" }}
              </p>
            </div>
          </div>
        </div>

        <div x-show="feedbackData.success" class="flex flex-col gap-4 text-center px-4 py-5 md:p-6" x-cloak>
          <i class="fas fa-check-circle text-7xl text-secondary"></i>
          <h3 class="font-h3">
            {{ i18n "hub_managed_success_title" }}
          </h3>
          <p class="font-p">
            {{ i18n "hub_managed_success_description" }}
          </p>
        </div>
      </section>

      <div x-show="!feedbackData.success" class="text-center mt-8">
        <p class="font-p mb-4">
          {{ i18n "hub_managed_trial_info" }}
        </p>
        <p class="font-p mb-4">
          {{ partial "accept-hub-managed-terms-and-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}
        </p>
        <div x-show="!submitData.captcha" x-ref="captchaWrapper" class="flex justify-center">
          <button :disabled="!acceptTerms" @click.prevent="loadRecaptcha($refs.captchaWrapper, (token) => submitData.captcha = token)" class="btn btn-primary w-full md:w-64">{{ i18n "hub_managed_loadcaptcha" }}</button>
        </div>
        <button x-show="submitData.captcha" :disabled="feedbackData.inProgress || !acceptTerms" @click.prevent="submitData.quantity > 0 && submitData.quantity < 5 ? lowQuantityModalIsOpen = true : hubManaged.request()" type="submit" class="btn btn-primary w-full md:w-64 plausible-event-name=hub-managed-form" data-umami-event="hub-managed-form" x-cloak>
          <i :class="{'fa-paper-plane': !feedbackData.inProgress, 'fa-spinner fa-spin': feedbackData.inProgress}" class="fas fa-fw" aria-hidden="true"></i> {{ i18n "hub_managed_submit" }}
        </button>
        <p :class="{'hidden': !feedbackData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="feedbackData.errorMessage"></p>
      </div>
    </form>

    {{ partial "hub-managed-low-quantity.html" (dict "context" . "Site" $.Site "isOpen" "lowQuantityModalIsOpen" "quantity" "submitData.quantity" "hubManaged" "hubManaged") }}
  </section>

  <section class="container text-center pt-12 pb-24">
    <h2 class="font-h2 mb-4">{{ i18n "hub_managed_contact_us_title" . }}</h2>
    <p class="font-p mb-4">{{ i18n "hub_managed_contact_us_description" . | safeHTML }}</p>
    <a href="mailto:hub@cryptomator.org" role="button" class="btn btn-outline-primary px-8 plausible-event-name=hub-managed-contact-us" data-umami-event="hub-managed-contact-us">
      <i class="fas fa-envelope"></i> {{ i18n "hub_managed_contact_us_button" . }}
    </a>
  </section>
{{ end }}
{{ define "script" }}
  {{ if hugo.IsDevelopment }}
    {{ $storeJs := resources.Get "js/store.dev.js" | resources.ExecuteAsTemplate "js/store.js" . }}
    <script type="text/javascript" src="{{ $storeJs.RelPermalink }}" defer></script>
    {{ $hubManagedJs := resources.Get "js/hubmanaged.js" }}
    <script type="text/javascript" src="{{ $hubManagedJs.RelPermalink }}" defer></script>
    {{ $recaptchaJs := resources.Get "js/recaptcha.js" }}
    <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $storeJs := resources.Get "js/store.prod.js" | resources.ExecuteAsTemplate "js/store.js" . | minify | fingerprint }}
    <script type="text/javascript" src="{{ $storeJs.RelPermalink }}" integrity="{{ $storeJs.Data.Integrity }}" defer></script>
    {{ $hubManagedJs := resources.Get "js/hubmanaged.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $hubManagedJs.RelPermalink }}" integrity="{{ $hubManagedJs.Data.Integrity }}" defer></script>
    {{ $recaptchaJs := resources.Get "js/recaptcha.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" integrity="{{ $recaptchaJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
