{{ define "head" }}
  <link rel="dns-prefetch" href="https://dl.bintray.com">
{{ end }}
{{ define "main" }}
  <div x-data="{ tab: guessDownloadTab() }" x-cloak>
    {{ range .Pages }}
      <section x-show="tab === '{{ .Slug }}'" class="container flex flex-wrap items-center py-12 min-vh-66">
        <figure class="w-full md:w-1/2 lg:w-auto mx-auto pr-0 md:pr-8">
          <img class="lazyload" data-src="{{ .Params.Screenshot }}" data-srcset="{{ .Params.Screenshot }} 1x, {{ .Params.Screenshot2x }} 2x"/>
        </figure>
        {{ .Content }}
      </section>
    {{ end }}
    
    <section class="bg-white shadow">
      <div class="container flex flex-wrap justify-center text-white p-2">
        {{ range $index, $element := .Pages }}
          <div class="w-1/3 md:w-1/5 p-2">
            <button :class="{ 'text-primary hover:text-primary focus:text-primary border-primary hover:border-primary focus:border-primary': tab === '{{ .Slug }}' }" @click="tab = '{{ .Slug }}'" class="btn btn-outline-gray-500 px-2 w-full whitespace-no-wrap">{{ safeHTML .Params.ButtonLabel }}</button>
          </div>
        {{ end }}
      </div>
    </section>
  </div>

  <section class="container text-center pt-12 pb-24">
    <h3 class="text-2xl mb-4">{{ i18n "downloads_all_versions_title" . }}</h3>
    <a href="https://github.com/cryptomator/cryptomator/releases" target="_blank" rel="noopener" role="button" class="btn btn-outline-primary px-8">
      <i class="fab fa-github"></i> {{ i18n "downloads_all_versions_button" .}}
    </a>
  </section>

  {{ if .Site.IsServer }}
    {{ $downloadJs := resources.Get "js/download.js" }}
    <script type="text/javascript" src="{{ $downloadJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $downloadJs := resources.Get "js/download.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $downloadJs.RelPermalink }}" integrity="{{ $downloadJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
