{{ define "main" }}
  {{ range $latestRelease := first 1 (sort $.Site.Data.releases "title" "desc") }}
  <section class="container flex flex-wrap py-4">
    <figure class="w-1/2 mx-auto md:w-3/5">
      <img src="https://cryptomator.org/img/screenshots/dl_win.png" alt="The beautiful MDN logo."/>
    </figure>
    <div class="w-full md:w-2/5 py-4 text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
      {{ $winVersion := printf "%s.%d" $latestRelease.title $latestRelease.artifacts.win.patch }}
      <meta itemprop="name" content="Cryptomator"/>
      <meta itemprop="description" content="A free software to encrypt your cloud files."/>
      <meta itemprop="applicationCategory" content="Productivity"/>
      <meta itemprop="softwareVersion" content="{{$winVersion}}"/>
      <meta itemprop="applicationSubCategory" content="Encryption"/>
      <meta itemprop="image" content="https://cryptomator.org/img/logo.png"/>
      <meta itemprop="operatingSystem" content="Windows"/>
      <h1 class="text-2xl">{{ $.Page.Params.i18n.win.title }}</h1>
      <p class="text-sm">{{ printf $.Page.Params.i18n.versionStr $winVersion}} • <a href="https://github.com/cryptomator/cryptomator/releases/tag/{{$winVersion}}">{{ $.Page.Params.i18n.changelog }}</a></p>
      <div class="border rounded-lg bg-white w-4/5 mx-auto my-4">
        <div class="bg-gray-200 rounded-t-lg p-1 border-b">
          <h2 class="text-lg">EXE Installer</h2>
        </div>
        <div class="py-2">
          <p class="py-2 text-sm">Minimum: Windows 7 SP1</p>
          <p>
            <a itemprop="downloadUrl" href="{{$latestRelease.artifacts.win.url64}}" class="btn w-1/2" role="button">
              <span class="fa fa-download" aria-hidden="true"></span> {{ $.Page.Params.i18n.downloadBtn }}
            </a>
          </p>
          <p class="text-xs">
            <a data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ $latestRelease.artifacts.win.sha256Checksum64 }}">SHA256</a>
            {{ if $latestRelease.artifacts.win.signatureUrl64 }}
            • <a href="{{$latestRelease.artifacts.win.signatureUrl64}}">{{ $.Page.Params.i18n.pgpSignature }}</a>
            {{ end }}
          </p>
        </div>
      </div>
      <p><a href="https://bintray.com/" target="_blank"><img src="https://cryptomator.org/img/bintray-logo.png" class="inline"/></a></p>
    </div>
  </section>
  {{ end }}

  <section class="bg-dark py-4 mb-12">
    <div class="container">
      <div class="flex text-white md:text-lg text-xs">
        <div class="w-1/5 px-1">
          <button class="btn-secondary py-2 w-full">
            <i class="fab fa-windows"></i> Win<span class="hidden md:inline">dows</span>
          </button>
        </div>
        <div class="w-1/5 px-1">
          <button class="btn-secondary py-2 w-full">
            <i class="fab fa-apple"></i> macOS
          </button>
        </div>
        <div class="w-1/5 px-1">
          <button class="btn-secondary py-2 w-full">
            <i class="fab fa-linux"></i> Linux
          </button>
        </div>
        <div class="w-1/5 px-1">
          <button class="btn-secondary py-2 w-full">
            <i class="fab fa-android"></i> Android
          </button>
        </div>
        <div class="w-1/5 px-1">
          <button class="btn-secondary py-2 w-full">
            <i class="fab fa-apple"></i> iOS
          </button>
        </div>
      </div>
    </div>  
  </section>

  <section class="container">
    <table class="table-fixed w-full">
      <colgroup>
        <col class="w-2/12"/>
        <col class="w-2/12"/>
        <col class="w-2/12"/>
        <col class="w-2/12"/>
        <col class="w-2/12"/>
        <col class="w-2/12"/>
      </colgroup>
      <thead>
        <tr><th>Version</th><th>Changelog</th><th>Release Date</th><th>Windows</th><th>Mac</th><th>Linux</th></tr>
      </thead>
      <tbody class="text-sm">
      {{ range $release := sort $.Site.Data.releases "title" "desc" }}
      <tr class="border-t border-secondary {{ if $release.beta }}hidden{{ end }}">
          <td class="align-top pt-2 text-lg">
              {{ $release.title }}
              {{ if $release.beta }}
                  <span class="bg-tertiary text-white rounded-lg text-xs px-2">BETA</span>
              {{ end }}
          </td>
          <td class="align-top">
              {{ range $idx, $tag := $release.tags }}
                  <p class="{{ if eq $idx 0 }}text-lg{{ end }}"><a href="https://github.com/cryptomator/cryptomator/releases/tag/{{ $tag }}" target="_blank" role="button">{{ $tag }}</a></p>
              {{ end }}
          </td>
          <td class="align-top">
              {{ range $idx, $date := $release.dates }}
                  <p class="{{ if eq $idx 0 }}text-lg{{ end }}">{{ dateFormat "2006-01-02" $date }}</p>
              {{ end }}
          </td>
          <td class="align-top">
              {{ if $release.artifacts.win.file64 }}
                  <a href="{{$release.artifacts.win.url64}}" download="{{$release.artifacts.win.file64}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.win.file64 }}
                  </a>
              {{ end }}
              {{ if $release.artifacts.win.file32 }}
              <a href="{{$release.artifacts.win.url32}}" download="{{$release.artifacts.win.file32}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.win.file32 }}
                  </a>
              {{ end }}
          </td>
          <td class="align-top">
              {{ if $release.artifacts.mac.file }}
                  <a href="{{$release.artifacts.mac.url}}" download="{{$release.artifacts.mac.file}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.mac.file }}
                  </a>
              {{ end }}
          </td>
          <td class="align-top">
              {{ if $release.artifacts.linux.appImageFile64 }}
                  <a href="{{$release.artifacts.linux.appImageUrl64}}" download="{{$release.artifacts.linux.appImageFile64}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.appImageFile64 }}
                  </a>
              {{ end }}
              {{ if $release.artifacts.linux.debianFile32 }}
                  <a href="{{$release.artifacts.linux.debianUrl32}}" download="{{$release.artifacts.linux.debianFile32}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.debianFile32 }}
                  </a>
              {{ end }}
              {{ if $release.artifacts.linux.debianFile64 }}
                  <a href="{{$release.artifacts.linux.debianUrl64}}" download="{{$release.artifacts.linux.debianFile64}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.debianFile64 }}
                  </a>
              {{ end }}
              {{ if $release.artifacts.linux.redhatFile32 }}
                  <a href="{{$release.artifacts.linux.redhatUrl32}}" download="{{$release.artifacts.linux.redhatFile32}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.redhatFile32 }}
                  </a>
              {{ end }}
              {{ if $release.artifacts.linux.redhatFile64 }}
                  <a href="{{$release.artifacts.linux.redhatUrl64}}" download="{{$release.artifacts.linux.redhatFile64}}" class="btn text-xs mb-2" role="button">
                      <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.redhatFile64 }}
                  </a>
              {{ end }}
          </td>
          </div>
      </tr>
      {{ end }}
      </tbody>
  </table>
  </section>
{{ end }}