/* custom classes: */
.btn {
  @apply inline-block border rounded no-underline px-4 py-2;
}

.btn:hover,
.btn:focus {
  @apply no-underline outline-none;
  
}

.btn:disabled,
.btn:hover:disabled,
.btn:focus:disabled {
  @apply cursor-not-allowed bg-gray-300 border-gray-300;
}

.btn-primary {
  @apply bg-primary border-primary text-white;
}

.btn-primary:hover,
.btn-primary:focus {
  @apply text-white transition transform duration-200 ease-in-out shadow-md -translate-y-px;
}

.btn-primary:disabled {
  @apply shadow-none translate-y-0;
}

.btn-outline-primary {
  @apply border border-primary text-primary;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  @apply bg-primary text-white transition transform duration-200 ease-in-out;
}

.btn-outline-gray-500 {
  @apply border border-transparent text-gray-500;
}

.btn-outline-gray-500:hover,
.btn-outline-gray-500:focus {
  @apply border-gray-500 text-gray-500;
}

input,
select,
textarea,
.StripeElement {
  @apply border rounded p-2;
}

input:focus,
select:focus,
textarea:focus,
.StripeElement--focus {
  @apply border-secondary outline-none;
}

input:focus:invalid,
input.show-invalid:invalid {
  @apply border-red-500;
}

input:disabled,
input:read-only,
select:disabled,
textarea:disabled,
textarea:read-only {
  @apply bg-gray-200;
}

@keyframes hover {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-3deg) translateY(-10px);
  }
  to {
    transform: rotate(0deg) translateY(0);
  }
}

.animate-hover {
  animation: hover 10s ease-in-out infinite;
}

.aspect-16x9 {
  padding-bottom: 56.25%;
}

.img-muted {
  filter: grayscale(100%);
  opacity: .5;
  transition: filter .1s, opacity .1s;
}

.img-muted:hover {
  filter: none;
  opacity: 1;
}

.min-vh-66 {
  min-height: 66vh;
}

.min-vh-80 {
  min-height: 80vh;
}

nav a {
  color: inherit;
}

nav a:hover {
  color: inherit;
}

.bg-trans-white {
  background-color: rgba(255, 255, 255, 0.05);
}
