/* custom classes: */
.header-bg {
  background-image: url(/img/home/header-background.avif), linear-gradient(to bottom, rgb(4.31% 5.88% 9.02%) 0%, rgb(7.84% 20.39% 32.94%) 38%, rgb(24.71% 54.51% 85.1%) 72%, rgb(60.39% 78.04% 96.08%) 90%);
  background-size: auto 100%;
}

.container-prose {
  @apply w-full mx-auto;
  max-width: 768px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  @apply inline-block border rounded-sm no-underline text-center px-4 py-2;
}

.btn:hover,
.btn:focus {
  @apply no-underline outline-hidden;
}

.btn:disabled,
.btn:hover:disabled,
.btn:focus:disabled {
  @apply cursor-not-allowed bg-gray-300 border-gray-300;
}

.btn-primary {
  @apply bg-primary border-primary text-white;
}

.btn-primary:hover,
.btn-primary:focus {
  @apply text-white transition transform duration-200 ease-in-out shadow-md -translate-y-px;
}

.btn-primary:disabled {
  @apply shadow-none translate-y-0;
}

.btn-outline-primary {
  @apply border border-primary text-primary;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  @apply bg-primary text-white transition transform duration-200 ease-in-out;
}

.btn-outline-secondary {
  @apply border border-secondary text-secondary;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  @apply bg-secondary text-white transition transform duration-200 ease-in-out;
}

.btn-outline-gray-500 {
  @apply border border-transparent text-gray-500;
}

.btn-outline-gray-500:hover,
.btn-outline-gray-500:focus {
  @apply border-gray-500 text-gray-500;
}

.text-btn {
  @apply no-underline;
}

.text-btn:hover,
.text-btn:focus {
  @apply underline;
}

.text-btn:disabled,
.text-btn:hover:disabled,
.text-btn:focus:disabled {
  @apply cursor-not-allowed no-underline text-gray-300;
}

.text-link {
  @apply text-primary no-underline hover:underline;
}

.prose-article {
  @apply prose prose-sm md:prose max-w-none md:max-w-none;
}

.font-h1 {
  @apply font-headline font-medium text-3xl md:text-4xl leading-tight;
}

.font-h2 {
  @apply font-headline font-medium text-xl md:text-2xl leading-snug;
}

.font-h3 {
  @apply font-headline text-lg md:text-xl leading-relaxed;
}

.font-lead {
  @apply text-lg md:text-xl leading-relaxed text-gray-700;
}

.font-p {
  @apply text-sm md:text-base leading-relaxed text-gray-700;
}

.label-uppercase {
  @apply block font-bold text-xs uppercase tracking-wide text-gray-600;
}

.white-box {
  @apply rounded-sm shadow-sm bg-white;
}

.input-box {
  @apply rounded-sm border-gray-300 focus:ring-0 focus:border-secondary w-full;
}

.StripeElement {
  @apply rounded-sm border border-gray-300 px-3 py-2;
}

.StripeElement--focus {
  @apply border-secondary;
}

input:focus:invalid,
input.show-invalid:invalid,
textarea:focus:invalid,
textarea.show-invalid:invalid {
  @apply border-red-500 ring-0;
}

input:disabled,
input:not([type='checkbox']):not([type='radio']):read-only,
select:disabled,
textarea:disabled,
textarea:read-only {
  @apply bg-gray-200;
}

.aspect-16x9 {
  padding-bottom: 56.25%;
}

.img-muted {
  filter: grayscale(100%);
  opacity: .5;
  transition: filter .1s, opacity .1s;
}

.img-muted:hover {
  filter: none;
  opacity: 1;
}

.min-vh-66 {
  min-height: 66vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.bg-trans-white {
  background-color: rgba(255, 255, 255, 0.05);
}

.m-remover {
  margin: 0 !important;
}

.has-tooltip {
  @apply relative inline-block;
}

.has-tooltip:hover .tooltip {
  @apply block;
}

.tooltip {
  @apply absolute hidden z-50;
}

.tooltip-center {
  @apply transform -translate-x-1/2;
  left: 50%;
}

/* offsetting anchor targets to adjust for fixed navbar */
[id]::before {
  content: '';
  display: block;
  height: 96px;
  margin-top: -96px;
  visibility: hidden;
}
