{{ define "main" }}
  <div class="container min-vh-80 py-12">
    <header class="mb-6">
      <h1>{{ .Title }}</h1>
    </header>

    {{ range (.Pages.ByParam "prio") }}
      <section class="mb-6">
        <article class="flex border rounded shadow bg-white p-4">
          <div class="w-1/6 text-center">
            <a href="{{ .RelPermalink }}"><img class="inline-block" src="{{ .Params.Img }}"/></a>
          </div>
          <div class="w-5/6">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p class="mb-4">{{ .Description }}</p>
          </div>
        </article>
      </section>
    {{ end }}

    <hr/>

    <section class="mb-6">
      <article class="flex border rounded shadow bg-white p-4">
        <div class="w-1/6 text-center">
          <a href="{{ .RelPermalink }}"><i class="fa fa-question-circle fa-5x text-gray-400"></i></a>
        </div>
        <div class="w-5/6">
          <h2>{{ i18n "coop_your_business_title" . }}</h2>
          <p class="mb-4">{{ i18n "coop_your_business_paragraph" . }}</p>
          <a href="{{ .Site.LanguagePrefix }}/enterprise" class="btn btn-primary px-4">{{ i18n "coop_more_info" }}</a>
        </div>
      </article>
    </section>
  </div>
{{ end }}
