{{ define "main" }}
  <section class="container py-8">
    <h1 class="text-center text-2xl">{{ i18n "coop_title" }}</h1>

    {{ range (.Pages.ByParam "prio") }}
      <article class="flex flex-row mb-4">
        <div class="m-2 w-32">
          <img src="{{ .Params.Img }}" class="w-32"/>
        </div>
        <div>
          <h2 class="text-xl">{{ .Title }}</h2>
          <p class="mb-4">{{ .Description }}</p>
          <a href="{{ .RelPermalink }}" class="btn">{{ i18n "coop_more_info" }}</a>
        </div>
      </article>
    {{ end }}
  </section>
{{ end }}