{{ define "main" }}
  <div class="container pt-12 pb-24">
    <form x-data="{subscriptionData: {state: 'MISSING_PARAMS', captcha: null, hubId: null, returnUrl: null, session: null, customBilling: null, monthlyPrice: null, errorMessage: '', inProgress: false, restartModal: {open: false, nextPayment: null}, changeSeatsModal: {open: false, confirmation: false, immediatePayment: null}, token: null, details: null, quantity: 5, email: ''}, acceptTerms: false, hubSubscription: null}" x-init="hubSubscription = new HubSubscription($refs.form, subscriptionData, new URLSearchParams(location.search))" x-ref="form">
      <template x-if="subscriptionData.state == 'MISSING_PARAMS'">
        <div class="text-center max-w-xl mx-auto">
          <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">
            {{ i18n "hub_billing_generic_title" . }}
          </h3>
          <p class="font-p mb-4">
            <i class="fas fa-info-circle fa-fw"></i>
            {{ i18n "hub_billing_missingparams_description" . }}
          </p>
        </div>
      </template>

      <template x-if="subscriptionData.state == 'LOADING'">
        <div class="text-center max-w-xl mx-auto">
          <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">
            {{ i18n "hub_billing_generic_title" . }}
          </h3>
          <p class="font-p mb-4">
            <i class="fas fa-spinner fa-spin fa-fw"></i>
            {{ i18n "hub_billing_loading_description" . }}
          </p>
          <p :class="{'hidden': !subscriptionData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="subscriptionData.errorMessage"></p>
        </div>
      </template>

      <template x-if="subscriptionData.state == 'CREATE_SESSION'">
        <div class="text-center max-w-xl mx-auto">
          <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">
            {{ i18n "hub_billing_generic_title" . }}
          </h3>
          <p class="font-p mb-4">
            <i class="fas fa-sign-in fa-fw"></i>
            {{ i18n "hub_billing_createsession_description" . }}
          </p>
          <div x-show="!subscriptionData.captcha" x-ref="captchaWrapper" class="flex justify-center">
            <button @click.prevent="loadRecaptcha($refs.captchaWrapper, (token) => subscriptionData.captcha = token)" class="btn btn-primary w-full md:w-64">{{ i18n "hub_billing_createsession_loadcaptcha" }}</button>
          </div>
          <button x-show="subscriptionData.captcha" :disabled="subscriptionData.inProgress" @click.prevent="hubSubscription.createSession()" type="submit" class="btn btn-primary w-full md:w-64">
            <i :class="{'fa-paper-plane': !subscriptionData.inProgress, 'fa-spinner fa-spin': subscriptionData.inProgress}" class="fas fa-fw" aria-hidden="true"></i>
            {{ i18n "hub_billing_createsession_submit" . }}
          </button>
          <p :class="{'hidden': !subscriptionData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="subscriptionData.errorMessage"></p>
        </div>
      </template>

      <template x-if="subscriptionData.state == 'CREATE_SESSION_SUCCESS'">
        <div class="text-center max-w-xl mx-auto">
          <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">
            {{ i18n "hub_billing_generic_title" . }}
          </h3>
          <p class="font-p mb-4">
            <i class="fas fa-envelope fa-fw"></i>
            {{ i18n "hub_billing_createsession_success_description" . }}
          </p>
        </div>
      </template>

      <template x-if="subscriptionData.state == 'EXISTING_CUSTOMER'">
        <div>
          <header class="prose-article mb-6">
            <h1>{{ .Title }}</h1>
          </header>
          <dl class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
            <div class="white-box p-4">
              <dt class="label-uppercase mb-2">
                {{ i18n "hub_billing_manage_status_title" . }}
              </dt>
              <dd>
                <p x-show="subscriptionData.details.state == 'active'" class="font-bold text-2xl md:text-3xl lg:text-4xl">
                  {{ i18n "hub_billing_manage_status_active" . }}
                  <i class="fas fa-check fa-fw text-primary"></i>
                </p>
                <p x-show="subscriptionData.details.state == 'past_due'" class=" font-bold text-2xl md:text-3xl lg:text-4xl">
                  {{ i18n "hub_billing_manage_status_pastdue" . }}
                  <i class="fas fa-clock fa-fw text-red-600"></i>
                </p>
                <p x-show="subscriptionData.details.state == 'trialing'" class="font-bold text-2xl md:text-3xl lg:text-4xl">
                  {{ i18n "hub_billing_manage_status_trialing" . }}
                  <i class="fas fa-check fa-fw text-primary"></i>
                </p>
                <p x-show="subscriptionData.details.state == 'paused'" class="font-bold text-2xl md:text-3xl lg:text-4xl">
                  {{ i18n "hub_billing_manage_status_paused" . }}
                  <i class="fas fa-pause fa-fw text-yellow-500"></i>
                </p>
                <p x-show="subscriptionData.details.state == 'deleted'" class="text-red-600 font-bold text-2xl md:text-3xl lg:text-4xl">
                  {{ i18n "hub_billing_manage_status_deleted" . }}
                  <i class="fas fa-times fa-fw text-red-600"></i>
                </p>
                <p class="text-xs text-gray-600 mt-1">
                  {{ i18n "hub_billing_manage_status_quantity_description" . }}: <span x-text="subscriptionData.details.quantity"></span>
                </p>
                <p class="mt-2">
                  <button :disabled="!subscriptionData.details.next_payment || subscriptionData.inProgress" @click.prevent="hubSubscription.openChangeSeatsModal()" class="text-xs text-btn text-primary">
                    <i class="fas fa-arrows-v fa-fw"></i>
                    {{ i18n "hub_billing_manage_status_quantity_action" . }}
                  </button>
                </p>
              </dd>
            </div>
            <div class="white-box p-4">
              <dt class="label-uppercase mb-2">
                {{ i18n "hub_billing_manage_next_payment_title" . }}
              </dt>
              <dd>
                <template x-if="subscriptionData.details.next_payment">
                  <div>
                    <p x-text="subscriptionData.details.next_payment.amount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.details.next_payment.currency })" class="font-bold text-2xl md:text-3xl lg:text-4xl"></p>
                    <p class="text-xs text-gray-600 mt-1">
                      {{ i18n "hub_billing_manage_next_payment_date_description" . }}: <span x-text="subscriptionData.details.next_payment.date"></span>
                    </p>
                  </div>
                </template>
                <template x-if="!subscriptionData.details.next_payment">
                  <div>
                    <p class="font-bold text-2xl md:text-3xl lg:text-4xl">–</p>
                    <p class="text-xs text-gray-600 mt-1">{{ i18n "hub_billing_manage_next_payment_date_description" . }}: N/A</p>
                  </div>
                </template>
                <p class="mt-2">
                  <button x-show="subscriptionData.details.next_payment" :disabled="subscriptionData.inProgress" @click.prevent="hubSubscription.pause()" class="text-xs text-btn text-primary">
                    <i class="fas fa-pause fa-fw"></i>
                    {{ i18n "hub_billing_manage_next_payment_pause_action" . }}
                  </button>
                  <button x-show="!subscriptionData.details.next_payment" :disabled="subscriptionData.inProgress || subscriptionData.details.state == 'deleted'" @click.prevent="subscriptionData.details.state == 'paused' ? hubSubscription.askForRestartConfirmation() : hubSubscription.restart()" class="text-xs text-btn text-primary">
                    <i class="fas fa-play fa-fw"></i>
                    {{ i18n "hub_billing_manage_next_payment_restart_action" . }}
                  </button>
                </p>
              </dd>
            </div>
            <div class="white-box p-4">
              <dt class="label-uppercase mb-2">
                {{ i18n "hub_billing_manage_payment_info_title" . }}
              </dt>
              <dd>
                <template x-if="subscriptionData.details.payment_information">
                  <div x-show="subscriptionData.details.payment_information.payment_method == 'card'">
                    <p class="font-bold text-2xl md:text-3xl lg:text-4xl">
                      {{ i18n "hub_billing_manage_payment_info_credit_card" . }}
                    </p>
                    <p class="text-xs text-gray-600 mt-1">
                      {{ i18n "hub_billing_manage_payment_info_credit_card_last_four_digits_description" . }}: <span x-text="subscriptionData.details.payment_information.last_four_digits"></span>
                    </p>
                  </div>
                  <p x-show="subscriptionData.details.payment_information.payment_method == 'paypal'" class="font-bold text-2xl md:text-3xl lg:text-4xl">
                    {{ i18n "hub_billing_manage_payment_info_paypal" . }}
                  </p>
                </template>
                <p x-show="!subscriptionData.details.payment_information" class="font-bold text-2xl md:text-3xl lg:text-4xl">
                  –
                </p>
                <p class="mt-2">
                  <button :disabled="subscriptionData.inProgress || subscriptionData.details.state == 'deleted'" x-show="subscriptionData.details.update_url" @click.prevent="hubSubscription.updatePaymentMethod('{{ .Site.Language.Lang }}')" class="text-xs text-btn text-primary">
                    <i class="fas fa-external-link fa-fw"></i>
                    {{ i18n "hub_billing_manage_payment_info_update_action" . }}
                  </button>
                </p>
              </dd>
            </div>
          </dl>
          <p class="text-sm text-gray-700">{{ i18n "hub_billing_pricing_vat_included" . }}</p>
          <p :class="{'hidden': !subscriptionData.errorMessage}" class="text-sm text-red-600 mb-4" x-text="subscriptionData.errorMessage"></p>
          <h2 class="font-h2 mb-4 mt-12">
            {{ i18n "hub_billing_manage_license_key_title" . }}
          </h2>
          <p class="font-p mb-4">
            {{ i18n "hub_billing_manage_license_key_instruction" . }}
          </p>
          <textarea x-model="subscriptionData.token" class="input-box text-sm md:text-base leading-relaxed break-all" rows="6" readonly></textarea>
          <button :disabled="subscriptionData.inProgress || !subscriptionData.token" class="btn btn-primary text-center w-full md:w-64 mt-4" @click.prevent="hubSubscription.transferTokenToHub()">
            {{ i18n "hub_billing_manage_license_key_transfer_action" . }}
          </button>

          <div x-show="subscriptionData.restartModal.open" class="relative z-10" aria-labelledby="restart-modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500/75"></div>
            <div class="fixed z-10 inset-0 overflow-y-auto">
              <div class="flex items-end md:items-center justify-center min-h-full p-4 text-center md:p-0">
                <div class="relative white-box text-left overflow-hidden md:my-8 md:max-w-lg md:w-full">
                  <div class="p-4">
                    <div class="md:flex md:items-start">
                      <div class="shrink-0 text-center">
                        <div class="fa-stack text-2xl text-primary-l2 md:text-xl">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-play fa-stack-1x text-primary"></i>
                        </div>
                      </div>
                      <div class="mt-3 text-center md:mt-0 md:ml-4 md:text-left">
                        <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4" id="restart-modal-title">
                          {{ i18n "hub_billing_manage_restart_subscription_title" . }}
                        </h3>
                        <p class="font-p mb-4">
                          <i class="fas fa-exclamation-triangle fa-fw text-yellow-500"></i>
                          {{ i18n "hub_billing_manage_restart_subscription_warning" . }}
                        </p>
                        <p class="font-p mb-4">
                          <i class="fas fa-credit-card fa-fw text-primary"></i>
                          {{ i18n "hub_billing_manage_modal_charge_amount_description" . }}: <span x-text="subscriptionData.restartModal.nextPayment ? subscriptionData.restartModal.nextPayment.amount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.restartModal.nextPayment.currency }) : '…'"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="border-t border-primary p-4 md:flex md:flex-row-reverse md:items-center">
                    <button :disabled="subscriptionData.inProgress" @click.prevent="hubSubscription.restart()" type="submit" class="btn btn-primary shrink-0 w-full mb-4 md:w-auto md:ml-3 md:mb-0">
                      <i :class="{'fa-check': !subscriptionData.inProgress, 'fa-spinner fa-spin': subscriptionData.inProgress}" class="fas fa-fw" aria-hidden="true"></i>
                      {{ i18n "hub_billing_manage_modal_confirm" . }}
                    </button>
                    <button :disabled="subscriptionData.inProgress" @click.prevent="subscriptionData.restartModal.open = false" type="button" class="btn btn-outline-gray-500 shrink-0 w-full md:w-auto">
                      {{ i18n "modal_cancel" . }}
                    </button>
                    <p x-show="subscriptionData.errorMessage" class="text-center text-sm text-red-600 mt-4 md:text-left md:mr-3 md:mt-0" x-text="subscriptionData.errorMessage"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div x-show="subscriptionData.changeSeatsModal.open" class="relative z-10" aria-labelledby="change-seats-modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500/75"></div>
            <div class="fixed z-10 inset-0 overflow-y-auto">
              <div class="flex items-end md:items-center justify-center min-h-full p-4 text-center md:p-0">
                <div class="relative white-box text-left overflow-hidden md:my-8 md:max-w-lg md:w-full">
                  <div class="p-4">
                    <div class="md:flex md:items-start">
                      <div class="shrink-0 text-center">
                        <div class="fa-stack text-2xl text-primary-l2 md:text-xl">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-arrows-v fa-stack-1x text-primary"></i>
                        </div>
                      </div>
                      <div class="mt-3 text-center md:mt-0 md:ml-4 md:text-left">
                        <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4" id="change-seats-modal-title">
                          {{ i18n "hub_billing_manage_change_quantity_title" . }}
                        </h3>
                        <div x-show="!subscriptionData.changeSeatsModal.confirmation">
                          <p class="font-p mb-4">
                            {{ i18n "hub_billing_manage_change_quantity_description" . }}
                          </p>
                          <input x-model="subscriptionData.quantity" x-ref="quantity" :min="subscriptionData.customBilling?.quantity_min || 1" :max="subscriptionData.customBilling?.quantity_max || 10000" :placeholder="`min. ${$el.min}`" @blur="$refs.quantity.classList.add('show-invalid')" type="number" step="1" class="input-box mb-2" required/>
                          <p class="text-xs text-gray-600 mb-4">
                            {{ i18n "hub_billing_manage_change_quantity_amount_description" . }}
                          </p>
                        </div>
                        <div x-show="subscriptionData.changeSeatsModal.confirmation">
                          <p class="font-p mb-4">
                            {{ i18n "hub_billing_manage_change_quantity_confirmation_current_amount_description" . }}: <span x-text="subscriptionData.details.quantity"></span>
                          </p>
                          <p class="font-p mb-4">
                            {{ i18n "hub_billing_manage_change_quantity_confirmation_new_amount_description" . }}: <span x-text="subscriptionData.quantity"></span>
                          </p>
                          <div x-show="subscriptionData.quantity > subscriptionData.details.quantity">
                            <p class="font-p mb-4">
                              <i class="fas fa-exclamation-triangle fa-fw text-yellow-500"></i>
                              {{ i18n "hub_billing_manage_change_quantity_confirmation_increase_warning" . }}
                            </p>
                            <p class="font-p mb-4">
                              <i class="fas fa-credit-card fa-fw text-primary"></i>
                              {{ i18n "hub_billing_manage_modal_charge_amount_description" . }}: <span x-text="subscriptionData.changeSeatsModal.immediatePayment ? subscriptionData.changeSeatsModal.immediatePayment.amount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.changeSeatsModal.immediatePayment.currency }) : '…'"></span>
                            </p>
                          </div>
                          <p x-show="subscriptionData.quantity < subscriptionData.details.quantity" class="font-p mb-4">
                            <i class="fas fa-exclamation-triangle fa-fw text-yellow-500"></i>
                            {{ i18n "hub_billing_manage_change_quantity_confirmation_decrease_warning" . }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-t border-primary p-4 md:flex md:flex-row-reverse md:items-center">
                    <button x-show="!subscriptionData.changeSeatsModal.confirmation" :disabled="subscriptionData.quantity == subscriptionData.details.quantity" @click.prevent="hubSubscription.askForChangeSeatsConfirmation()" type="submit" class="btn btn-primary shrink-0 w-full mb-4 md:w-auto md:ml-3 md:mb-0">
                      <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
                      {{ i18n "hub_billing_manage_modal_continue" . }}
                    </button>
                    <button x-show="subscriptionData.changeSeatsModal.confirmation" :disabled="subscriptionData.inProgress" @click.prevent="hubSubscription.changeQuantity()" type="submit" class="btn btn-primary shrink-0 w-full mb-4 md:w-auto md:ml-3 md:mb-0">
                      <i :class="{'fa-check': !subscriptionData.inProgress, 'fa-spinner fa-spin': subscriptionData.inProgress}" class="fas fa-fw" aria-hidden="true"></i>
                      {{ i18n "hub_billing_manage_modal_confirm" . }}
                    </button>
                    <button :disabled="subscriptionData.inProgress" @click.prevent="subscriptionData.changeSeatsModal.open = false" type="button" class="btn btn-outline-gray-500 shrink-0 w-full md:w-auto">
                      {{ i18n "modal_cancel" . }}
                    </button>
                    <p x-show="subscriptionData.errorMessage" class="text-center text-sm text-red-600 mt-4 md:text-left md:mr-3 md:mt-0" x-text="subscriptionData.errorMessage"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>

      <template x-if="subscriptionData.state == 'NEW_CUSTOMER'">
        <div x-data="{audience: 'business'}">
          <header class="prose-article mb-6">
            <h1>{{ .Title }}</h1>
            <p class="lead">{{ i18n "hub_billing_checkout_description" . }}</p>
          </header>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-12">
            <div class="flex justify-center">
              <button class="w-1/2 py-2 border border-gray-300 rounded-l bg-gray-300 text-gray-700 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary" :class="{'border-gray-400 bg-gray-400 text-gray-800 font-medium': audience === 'business'}" @click.prevent="audience = 'business'">
                <i class="fa-building fa-fw" :class="{'fas': audience === 'business', 'far': audience !== 'business'}"></i>
                {{ i18n "hub_billing_checkout_audience_business" . }}
              </button>
              <button class="w-1/2 py-2 border border-gray-300 rounded-r bg-gray-300 text-gray-700 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary" :class="{'border-gray-400 bg-gray-400 text-gray-800 font-medium': audience === 'consumer'}" @click.prevent="audience = 'consumer'">
                <i class="fa-house fa-fw" :class="{'fas': audience === 'consumer', 'far': audience !== 'consumer'}"></i>
                {{ i18n "hub_billing_checkout_audience_consumer" . }}
              </button>
            </div>
            <div class="hidden md:block"></div>
            <div class="white-box">
              <div class="p-4 border-b border-primary">
                <h2 class="inline-flex px-4 py-1 rounded-full text-sm font-medium tracking-wide uppercase bg-primary-l2 text-dark mb-4">
                  {{ i18n "hub_billing_checkout_standard_title" . }}
                </h2>
                <div x-show="audience === 'business'">
                  <p class="flex items-baseline gap-2">
                    <span x-text="subscriptionData.monthlyPrice.netAmount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.monthlyPrice.currency })" class="text-5xl font-bold"></span>
                    <span class="text-gray-700">{{ i18n "pricing_vat_excluded" . }}</span>
                  </p>
                  <p x-show="subscriptionData.monthlyPrice.netAmount != subscriptionData.monthlyPrice.recurringNetAmount" class="text-gray-700 mb-2">
                    <span x-text="subscriptionData.monthlyPrice.recurringNetAmount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.monthlyPrice.currency })"></span>
                    <span>{{ i18n "pricing_vat_excluded" . }}</span>
                    <span>{{ i18n "pricing_different_recurring_description" . }}</span>
                  </p>
                </div>
                <div x-show="audience === 'consumer'">
                  <p class="flex items-baseline gap-2">
                    <span x-text="subscriptionData.monthlyPrice.grossAmount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.monthlyPrice.currency })" class="text-5xl font-bold"></span>
                    <span class="text-gray-700">{{ i18n "pricing_vat_included" . }}</span>
                  </p>
                  <p x-show="subscriptionData.monthlyPrice.netAmount != subscriptionData.monthlyPrice.recurringNetAmount" class="text-gray-700 mb-2">
                    <span x-text="subscriptionData.monthlyPrice.recurringGrossAmount.toLocaleString('{{ .Site.Language.Lang }}', { style: 'currency', currency: subscriptionData.monthlyPrice.currency })"></span>
                    <span>{{ i18n "pricing_vat_included" . }}</span>
                    <span>{{ i18n "pricing_different_recurring_description" . }}</span>
                  </p>
                </div>
                <p class="text-lg text-gray-500 mb-4">
                  {{ i18n "hub_billing_checkout_standard_description" . }}
                </p>
              </div>
              <div class="px-4 py-8">
                <div class="flex flex-wrap md:flex-nowrap">
                  <div class="w-full mb-4 md:w-1/2 md:pr-3">
                    <label class="label-uppercase mb-2">
                      {{ i18n "hub_billing_checkout_standard_hubid" . }}
                    </label>
                    <input x-model="subscriptionData.hubId" type="text" class="input-box mb-2" readonly/>
                    <p class="text-xs text-gray-600">
                      {{ i18n "hub_billing_checkout_standard_hubid_description" . }}
                    </p>
                  </div>
                  <div class="w-full mb-4 md:w-1/2 md:pl-3">
                    <label class="label-uppercase mb-2">
                      {{ i18n "hub_billing_checkout_standard_quantity" . }}
                    </label>
                    <input x-model="subscriptionData.quantity" x-ref="quantity" :min="subscriptionData.customBilling?.quantity_min || 1" :max="subscriptionData.customBilling?.quantity_max || 10000" :placeholder="`min. ${$el.min}`" @blur="$refs.quantity.classList.add('show-invalid')" type="number" step="1" class="input-box mb-2" required/>
                    <p class="text-xs text-gray-600">
                      {{ i18n "hub_billing_checkout_standard_quantity_description" . }}
                    </p>
                  </div>
                </div>
                <div>
                  <label class="label-uppercase mb-2">
                    {{ i18n "hub_billing_checkout_standard_email" . }}
                  </label>
                  <input x-model="subscriptionData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="input-box" placeholder="{{ i18n "hub_billing_checkout_standard_email_placeholder" . }}" required/>
                </div>
                <div class="text-center mt-8">
                  <p class="font-p mb-4">
                    {{ i18n "hub_billing_checkout_standard_instruction" . }}
                  </p>
                  <p x-show="subscriptionData.customBilling?.managed" class="font-p mb-4">{{ partial "accept-hub-managed-terms-and-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
                  <p x-show="!subscriptionData.customBilling?.managed" class="font-p mb-4">{{ partial "accept-terms-and-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
                  <button :disabled="subscriptionData.inProgress || !acceptTerms" @click.prevent="hubSubscription.checkout('{{ .Site.Language.Lang }}')" type="submit" class="btn btn-primary w-full lg:w-1/2">
                    <i :class="{'fa-shopping-cart': !subscriptionData.inProgress, 'fa-check': !subscriptionData.inProgress, 'fa-spinner fa-spin': subscriptionData.inProgress}" class="fas fa-fw" aria-hidden="true"></i>
                    {{ i18n "hub_billing_checkout_standard_submit" . }}
                  </button>
                  <p :class="{'hidden': !subscriptionData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="subscriptionData.errorMessage"></p>
                </div>
              </div>
            </div>
            <div class="flex flex-col white-box">
              <div class="p-4 border-b border-primary">
                <h2 class="inline-flex px-4 py-1 rounded-full text-sm font-medium tracking-wide uppercase bg-primary-l2 text-dark mb-4">
                  {{ i18n "hub_billing_checkout_enterprise_title" . }}
                </h2>
                <p class="text-5xl font-bold">
                  {{ i18n "hub_billing_checkout_enterprise_statement" . }}
                </p>
                <p class="text-lg text-gray-500 mb-4">
                  {{ i18n "hub_billing_checkout_enterprise_description" . }}
                </p>
              </div>
              <div class="grow">
                <div class="flex flex-col items-center text-center h-full px-4 py-8">
                  <h3 class="font-h3 mb-4 md:mb-0">
                    {{ i18n "hub_billing_checkout_enterprise_subtitle" . }}
                  </h3>
                  <div class="mb-4 md:my-auto lg:max-w-sm">
                    <div class="fa-stack text-5xl text-primary-l2 mb-4">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-building fa-stack-1x text-primary"></i>
                    </div>
                    <p class="font-p">
                      {{ i18n "hub_billing_checkout_enterprise_cta" . }}
                    </p>
                  </div>
                  <a href="mailto:hub@cryptomator.org" role="button" class="btn btn-primary w-full lg:w-1/2">
                    <i class="fas fa-envelope"></i>
                    {{ i18n "hub_billing_checkout_enterprise_action" . }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h2 class="font-h2 mb-4 mt-24">{{ i18n "faq_title" . }}</h2>
          {{- $data := index $.Site.Data $.Site.Language.Lang }}
          <dl x-data="{isOpen: [{{ range $i, $e := $data.pricing_teams_faq }}{{ if $i }}, {{ end }}false{{ end }}]}" class="white-box divide-y divide-gray-200">
            {{- range $index, $element := $data.pricing_teams_faq }}
            <dt class="font-p p-4">
              <a class="flex items-center" href="#" @click.prevent="isOpen[{{ $index }}] = !isOpen[{{ $index }}]">
                <i :class="{ 'fa-chevron-circle-right': !isOpen[{{ $index }}], 'fa-chevron-circle-down': isOpen[{{ $index }}] }" class="shrink-0 fas fa-fw text-gray-600 mr-2"></i>
                <span>{{ .Question }}</span>
              </a>
            </dt>
            <dd x-show="isOpen[{{ $index }}]" class="prose-article p-4">
              {{ .Answer | markdownify }}
            </dd>
            {{- end }}
          </dl>
        </div>
      </template>

      <template x-if="subscriptionData.state == 'MANUAL_INVOICE'">
        <div class="text-center max-w-xl mx-auto">
          <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">
            {{ i18n "hub_billing_generic_title" . }}
          </h3>
          <p class="font-p mb-4">
            <i class="fas fa-info-circle fa-fw"></i>
            {{ i18n "hub_billing_manualinvoice_description" . }}
          </p>
          <a href="mailto:hub@cryptomator.org" role="button" class="btn btn-primary w-full lg:w-1/2">
            <i class="fas fa-envelope"></i>
            {{ i18n "hub_billing_manualinvoice_action" . }}
          </a>
        </div>
      </template>
    </form>
  </div>
{{ end }}
{{ define "script" }}
  {{ if hugo.IsDevelopment }}
    {{ $storeJs := resources.Get "js/store.js" }}
    <script type="text/javascript" src="{{ $storeJs.RelPermalink }}" defer></script>
    {{ $hubSubscriptionJs := resources.Get "js/hubsubscription.js" }}
    <script type="text/javascript" src="{{ $hubSubscriptionJs.RelPermalink }}" defer></script>
    {{ $recaptchaJs := resources.Get "js/recaptcha.js" }}
    <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $storeJs := resources.Get "js/store.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $storeJs.RelPermalink }}" integrity="{{ $storeJs.Data.Integrity }}" defer></script>
    {{ $hubSubscriptionJs := resources.Get "js/hubsubscription.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $hubSubscriptionJs.RelPermalink }}" integrity="{{ $hubSubscriptionJs.Data.Integrity }}" defer></script>
    {{ $recaptchaJs := resources.Get "js/recaptcha.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" integrity="{{ $recaptchaJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
