{{ define "main" }}
  {{ $release := index .Site.Params.releases .Params.release }}
  <div class="container py-12" x-data="{showShaSignature: false}">
    <div class="flex mx-auto w-3/4 md:w-2/3 lg:w-1/2 bg-primary-l2 border-t-4 border-primary rounded text-dark p-3 shadow mb-2" role="alert">
      <div class="pr-2">
        <i class="fas fa-download text-primary" aria-hidden="true"></i>
      </div>
      <div>
        <p class="font-bold mb-1">Dein Download startet automatisch.</p>
        <p class="text-sm">Hat nicht funktioniert? Klicke hier, um neu zu starten: <a href="{{ $release.downloadUrl }}" download="{{ $release.filename }}" target="_self" x-data="{}" x-init="$el.blur()">{{ $release.filename }}</a><!-- TODO change $el.blur() to $el.click() --></p>
      </div>
    </div>
    <p class="grid grid-cols-2 gap-2 text-center text-xs w-full md:w-2/3 lg:w-1/2 mx-auto">
      <a href="#" x-on:click.prevent="showShaSignature = !showShaSignature"><i :class="{ 'fa-eye': !showShaSignature, 'fa-eye-slash': showShaSignature }" class="fas fa-fw"></i> SHA256-Signatur anzeigen</a>
      <a href="{{ $release.signatureUrl }}" target="_blank" rel="noopener"><i class="fas fa-download fa-fw"></i> PGP-Signatur herunterladen</a>
    </p>
    <p x-show="showShaSignature" x-cloak class="text-sm text-center"><code class="break-all">{{ $release.checksum }}</code></p>
    <p class="text-center mt-6"><a href="https://bintray.com/" target="_blank" rel="noopener"><img class="inline" src="/img/downloads/bintray-logo.png" srcset="/img/downloads/bintray-logo.png 1x, /img/downloads/bintray-logo@2x.png 2x" alt="Bintray Logo"/></a></p>
  </div>

  <header class="container py-12 text-center">
    <h1 class="text-3xl">Danke, dass du dich für Cryptomator entschieden hast!</h1>
    {{ .Content }}
  </header>

  <section class="container grid grid-cols-1 md:grid-cols-2 gap-4 pt-12 pb-24">
    <div class="rounded-b shadow bg-white">
      <div class="px-4 py-2 border-b border-primary">
        <h3><i class="fas fa-question-circle fa-fw text-primary"></i> Erste Schritte</h3>
      </div>
      <div class="p-4">
      <p>Wenn du Cryptomator zum ersten Mal nutzt, könnte dich folgendes interessieren:</p>
        <ul>
          <li>Lies unsere <a href="https://docs.cryptomator.org/" target="_blank" rel="noopener">Dokumentation</a>, die dir als Leitfaden dienen soll, falls du eine Anleitung wünschst.</li>
          <li>Tritt unserem <a href="https://community.cryptomator.org/" target="_blank" rel="noopener">Community-Forum</a> bei, das eine gute Anlaufstelle ist, um dich mit anderen Nutzern auszutauschen.</li>
        </ul>
      </div>
    </div>

    <div class="rounded-b shadow bg-white">
      <div class="px-4 py-2 border-b border-primary">
        <h3><i class="fas fa-donate fa-fw text-primary"></i> Cryptomator unterstützen</h3>
      </div>
      <div class="p-4">
        <p>Die Entwicklung der Desktop-Anwendung wäre ohne die Unterstützung unserer Nutzer nicht möglich.</p>
        <ul>
          <li>Möchtest du <a href="{{ .Site.LanguagePrefix }}/donate">spenden</a>?</li>
          <li>Möchtest du Code/Übersetzungen/Issues beitragen?</li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
