{{ define "main" }}
  {{ $release := index .Site.Params.releases .Params.release }}
  <div class="container py-12" x-data="{showShaSignature: false}">
    <div class="flex mx-auto w-full md:w-2/3 lg:w-1/2 bg-primary-l2 border-t-4 border-primary rounded text-dark p-3 shadow mb-2" role="alert">
      <div class="pr-2">
        <i class="fas fa-download text-primary" aria-hidden="true"></i>
      </div>
      <div>
        <p class="font-bold mb-1">{{ i18n "downloads_thanks_notification_title" }}</p>
        <p class="text-sm">{{ i18n "downloads_thanks_notification_detail" }} <a href="{{ $release.downloadUrl }}" download="{{ $release.filename }}" target="_self" x-data="{}" x-init="$el.blur()">{{ $release.filename }}</a><!-- TODO change $el.blur() to $el.click() --></p>
      </div>
    </div>
    <p class="grid grid-cols-2 gap-2 text-center text-xs w-full md:w-2/3 lg:w-1/2 mx-auto mb-0">
      <a href="#" x-on:click.prevent="showShaSignature = !showShaSignature"><i :class="{ 'fa-eye': !showShaSignature, 'fa-eye-slash': showShaSignature }" class="fas fa-fw"></i> {{ i18n "downloads_thanks_sha256_signature" }}</a>
      <a href="{{ $release.signatureUrl }}" target="_blank" rel="noopener"><i class="fas fa-download fa-fw"></i> {{ i18n "downloads_thanks_pgp_signature" }}</a>
    </p>
    <p x-show="showShaSignature" x-cloak class="text-sm text-center mt-3"><code class="break-all">{{ $release.checksum }}</code></p>
  </div>

  <header class="container py-12 text-center">
    <h1 class="text-3xl">{{ i18n "downloads_thanks_title" }}</h1>
    {{ .Content }}
  </header>

  <section class="container grid grid-cols-1 md:grid-cols-2 gap-4 pt-12 pb-24">
    <div class="rounded-b shadow bg-white">
      <div class="px-4 py-2 border-b border-primary">
        <h3><i class="fas fa-question-circle fa-fw text-primary"></i> {{ i18n "downloads_thanks_getting_started_title" }}</h3>
      </div>
      <div class="p-4">
        <p>{{ i18n "downloads_thanks_getting_started_detail" }}</p>
        <ul>
          <li>{{ i18n "downloads_thanks_getting_started_detail_1" | safeHTML }}</li>
          <li>{{ i18n "downloads_thanks_getting_started_detail_2" | safeHTML }}</li>
        </ul>
      </div>
    </div>

    <div class="rounded-b shadow bg-white">
      <div class="px-4 py-2 border-b border-primary">
        <h3><i class="fas fa-donate fa-fw text-primary"></i> {{ i18n "downloads_thanks_support_cryptomator_title" }}</h3>
      </div>
      <div class="p-4">
        <p>{{ i18n "downloads_thanks_support_cryptomator_detail" }}</p>
        <ul>
          <li>{{ i18n "downloads_thanks_support_cryptomator_detail_1" | safeHTML }}</li>
          <li>{{ i18n "downloads_thanks_support_cryptomator_detail_2" | safeHTML }}</li>
          <li>{{ i18n "downloads_thanks_support_cryptomator_detail_3" | safeHTML }}</li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
