{{ define "main" }}
  {{ $release := index .Site.Params.releases .Params.release }}
  <div class="container py-12" x-data="{showShaSignature: false}">
    <div class="flex mx-auto w-full md:w-2/3 lg:w-1/2 bg-primary-l2 border-t-4 border-primary rounded-b text-dark p-3 shadow mb-2" role="alert">
      <div class="px-2">
        <i class="fas fa-download text-primary" aria-hidden="true"></i>
      </div>
      <div>
        <p class="font-bold mb-1">Your download starts automatically.</p>
        <p class="text-sm">Didn't work? Click here to restart: <a href="{{ $release.downloadUrl }}" download="{{ $release.filename }}" target="_self" x-data="{}" x-init="$el.blur()">{{ $release.filename }}</a><!-- TODO change $el.blur() to $el.click() --></p>
      </div>
    </div>
    <p class="grid grid-cols-2 gap-2 text-center text-xs w-full md:w-2/3 lg:w-1/2 mx-auto">
      <a href="#" x-on:click.prevent="showShaSignature = !showShaSignature"><i :class="{ 'fa-eye': !showShaSignature, 'fa-eye-slash': showShaSignature }" class="fas fa-fw"></i> Show SHA256 Signature</a>
      <a href="{{ $release.signatureUrl }}" target="_blank" rel="noopener"><i class="fas fa-download fa-fw"></i> Download PGP Signature</a>
    </p>
    <p x-show="showShaSignature" x-cloak class="text-sm text-center"><code class="break-all">{{ $release.checksum }}</code></p>
    <p class="text-center mt-6"><a href="https://bintray.com/" target="_blank" rel="noopener"><img class="inline" src="/img/downloads/bintray-logo.png" srcset="/img/downloads/bintray-logo.png 1x, /img/downloads/bintray-logo@2x.png 2x" alt="Bintray Logo"/></a></p>
  </div>

  <header class="container py-12 text-center">
    <h1 class="text-3xl">Thanks for choosing Cryptomator!</h1>
    {{ .Content }}
  </header>

  <section class="container grid grid-cols-1 md:grid-cols-2 gap-4 pt-12 pb-24">
    <div class="rounded-b shadow bg-white p-4">
      <h2 class="text-2xl"><i class="fas fa-question-circle text-primary"></i> Getting Started</h2>
      <p>If you are a first-time user, you might be interested to:</p>
      <ul>
        <li>Read our <a href="https://docs.cryptomator.org/" target="_blank" rel="noopener">documentation</a>, which should guide you in case you would like some instructions.</li>
        <li>Join our <a href="https://community.cryptomator.org/" target="_blank" rel="noopener">community forum</a>, which is a great place to ask for support or share your thoughts.</li>
      </ul>
    </div>

    <div class="rounded-b shadow bg-white p-4">
      <h2 class="text-2xl"><i class="fas fa-donate text-primary"></i> Support Cryptomator</h2>
      <p>Development of the desktop application would not be possible without the support of our users.</p>
      <ul>
        <li>Would you like to <a href="{{ .Site.LanguagePrefix }}/donate">donate</a>?</li>
        <li>Would you like to contribute code/translations/issues?</li>
      </ul>
    </div>
  </section>
{{ end }}
