{{ define "main" }}
  {{ $release := index .Site.Params.releases .Params.release }}
  <div class="container py-12" x-data="{showShaSignature: false, showPgpSignature: false}">
    <div class="flex mx-auto w-full md:w-4/5 lg:w-1/2 bg-primary-l2 border-t-4 border-primary rounded text-dark p-3 shadow mb-2" role="alert">
      <div class="pr-2">
        <i class="fas fa-download text-primary" aria-hidden="true"></i>
      </div>
      <div>
        <p class="font-bold mb-1">{{ i18n "downloads_thanks_notification_title" }}</p>
        <p class="text-sm">{{ i18n "downloads_thanks_notification_detail" }} <a class="text-primary no-underline hover:underline" href="{{ $release.downloadUrl }}" download="{{ $release.filename }}" target="_self" x-data="{}" x-init="$el.click()">{{ $release.filename }}</a></p>
      </div>
    </div>
    <p class="grid grid-cols-2 gap-2 text-center text-xs w-full md:w-2/3 lg:w-1/2 mx-auto">
      <a class="text-primary no-underline hover:underline" href="#" x-on:click.prevent="showShaSignature = !showShaSignature"><i :class="{ 'fa-eye': !showShaSignature, 'fa-eye-slash': showShaSignature }" class="fas fa-fw"></i> {{ i18n "downloads_thanks_sha256_signature" }}</a>
      <a class="text-primary no-underline hover:underline" href="#" x-on:click.prevent="showPgpSignature = !showPgpSignature"><i :class="{ 'fa-eye': !showPgpSignature, 'fa-eye-slash': showPgpSignature }" class="fas fa-fw"></i> {{ i18n "downloads_thanks_pgp_signature" }}</a>
    </p>
    <div x-show="showShaSignature" x-cloak class="prose prose-sm md:prose max-w-none md:max-w-none mx-auto w-full md:w-4/5 lg:w-1/2 text-center mt-8">
      <h3>{{ i18n "downloads_thanks_sha256_signature" }}</h3>
      <p><code class="break-all">{{ $release.checksum }}</code></p>
    </div>
    <div x-show="showPgpSignature" x-cloak class="prose prose-sm md:prose max-w-none md:max-w-none mx-auto w-full md:w-4/5 lg:w-1/2 text-center mt-8">
      <h3>{{ i18n "downloads_thanks_pgp_signature" }}</h3>
      <p>WORK IN PROGRESS, the PGP Signature should be available from Monday.</p>
      <!-- <p><i class="fas fa-download fa-fw"></i> {{ i18n "downloads_thanks_pgp_signature_download" }}: <a href="{{ $release.signatureUrl }}" target="_blank" rel="noopener">{{ $release.filename }}.asc</a></p>
      <p><pre class="text-left h-64">{{ partial "pgpkey-34C80F11.asc" . }}</pre></p> -->
    </div>
  </div>

  <div class="container text-center py-12">
    <header class="prose prose-sm md:prose max-w-none md:max-w-none">
      <h1>{{ i18n "downloads_thanks_title" }}</h1>
      {{ .Content }}
    </header>
  </div>

  <section class="container grid grid-cols-1 md:grid-cols-2 gap-4 pt-12 pb-24">
    <div class="rounded-b shadow bg-white">
      <div class="prose prose-sm md:prose max-w-none md:max-w-none px-4 py-2 border-b border-primary">
        <h3><i class="fas fa-question-circle fa-fw text-primary"></i> {{ i18n "downloads_thanks_getting_started_title" }}</h3>
      </div>
      <div class="prose prose-sm md:prose max-w-none md:max-w-none p-4">
        <p class="mb-4">{{ i18n "downloads_thanks_getting_started_detail" }}</p>
        <ul>
          <li>{{ i18n "downloads_thanks_getting_started_detail_1" | safeHTML }}</li>
          <li>{{ i18n "downloads_thanks_getting_started_detail_2" | safeHTML }}</li>
        </ul>
      </div>
    </div>

    <div class="rounded-b shadow bg-white">
      <div class="prose prose-sm md:prose max-w-none md:max-w-none px-4 py-2 border-b border-primary">
        <h3><i class="fas fa-donate fa-fw text-primary"></i> {{ i18n "downloads_thanks_support_cryptomator_title" }}</h3>
      </div>
      <div class="prose prose-sm md:prose max-w-none md:max-w-none p-4">
        <p class="mb-4">{{ i18n "downloads_thanks_support_cryptomator_detail" }}</p>
        <ul>
          <li>{{ i18n "downloads_thanks_support_cryptomator_detail_1" | safeHTML }}</li>
          <li>{{ i18n "downloads_thanks_support_cryptomator_detail_2" | safeHTML }}</li>
          <li>{{ i18n "downloads_thanks_support_cryptomator_detail_3" | safeHTML }}</li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
