<div x-data="{checkoutData: {price: null, email: '', errorMessage: '', success: false, inProgress: false, licenseKey: null, acceptNewsletter: false}, acceptTerms: false, androidLicense: null}" x-init="androidLicense = new AndroidLicense($refs.form, checkoutData); androidLicense.loadPrice()" class="white-box">
  <div class="px-4 py-2 border-b border-primary text-center">
    <h3 class="font-h3 text-lg">{{ i18n "android_getkey_title" }}</h3>
  </div>

  <form x-show="!checkoutData.success" x-ref="form" class="px-4 py-8">
    <div class="w-full md:w-1/2 mb-4">
      <label class="label-uppercase mb-2">{{ i18n "android_getkey_price" }}</label>
      <input x-model="checkoutData.price" type="text" class="input-box w-full" placeholder="{{ i18n "android_getkey_price_placeholder" }}" readonly/>
    </div>
    <div class="mb-4">
      <label class="label-uppercase mb-2">{{ i18n "android_getkey_email" }}</label>
      <input x-model="checkoutData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="input-box w-full" placeholder="{{ i18n "android_getkey_email_placeholder" }}" required/>
    </div>
    <div class="text-center mt-8">
      <p class="font-p mb-4">{{ i18n "android_getkey_instruction" }}</p>
      <p class="font-p mb-2">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "acceptTerms" "label" (i18n "accept_terms_and_privacy" | safeHTML)) }}</p>
      <p class="font-p mb-4">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "checkoutData.acceptNewsletter" "label" (i18n "accept_newsletter_optional")) }}</p>
      <button :disabled="checkoutData.inProgress || !acceptTerms" @click.prevent="androidLicense.checkout('{{ .Site.Language.Lang }}')" type="submit" class="btn btn-primary w-full md:w-64 plausible-event-name=android-getkey-checkout" data-umami-event="android-getkey-checkout">
        <i x-show="!checkoutData.inProgress" class="fas fa-shopping-cart fa-fw" aria-hidden="true"></i><i x-show="checkoutData.inProgress" class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i> {{ i18n "android_getkey_checkout" }}
      </button>
      <p :class="{'hidden': !checkoutData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="checkoutData.errorMessage"></p>
    </div>
  </form>

  <div x-show="checkoutData.success" x-cloak class="px-4 py-8">
    <h3 class="font-h3 mb-4">{{ ":+1:" | emojify }} {{ i18n "android_getkey_success" }}</h3>
    <label class="label-uppercase mb-2">{{ i18n "android_getkey_key" }}</label>
    <textarea x-model="checkoutData.licenseKey" class="input-box w-full text-sm md:text-base leading-relaxed break-all mb-2" rows="6" placeholder="{{ i18n "android_getkey_key_placeholder" }}" readonly></textarea>
    <p :class="{'hidden': !checkoutData.errorMessage}" class="text-sm text-red-600 mb-2" x-text="checkoutData.errorMessage"></p>
    <p class="font-p">{{ i18n "android_getkey_key_instruction" }}</p>
  </div>
</div>
