<div x-data="{checkoutData: {price: null, email: '', errorMessage: '', success: false, inProgress: false, licenseKey: null}, acceptTerms: false, androidLicense: null}" x-init="androidLicense = new AndroidLicense($refs.form, checkoutData); androidLicense.loadPrice()" class="rounded shadow bg-white">
  <div class="prose prose-sm max-w-none md:max-w-none px-4 py-2 border-b border-primary text-center">
    <h3>{{ i18n "android_getkey_title" }}</h3>
  </div>

  <form x-show="!checkoutData.success" x-ref="form" class="px-4 py-8">
    <div class="w-full md:w-1/2 mb-4">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "android_getkey_price" }}</label>
      <input x-model="checkoutData.price" type="text" class="rounded border-gray-300 focus:ring-0 focus:border-secondary w-full" placeholder="{{ i18n "android_getkey_price_placeholder" }}" readonly/>
    </div>
    <div class="mb-4">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "android_getkey_email" }}</label>
      <input x-model="checkoutData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="rounded border-gray-300 focus:ring-0 focus:border-secondary w-full" placeholder="{{ i18n "android_getkey_email_placeholder" }}" required/>
    </div>
    <div class="text-center mt-8">
      <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ i18n "android_getkey_instruction" }}</p>
      <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ partial "accept-terms-and-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
      <button :disabled="checkoutData.inProgress || !acceptTerms" @click.prevent="androidLicense.checkout('{{ .Site.Language.Lang }}')" type="submit" class="btn btn-primary w-full md:w-64 plausible-event-name=android-getkey-checkout">
        <i x-show="!checkoutData.inProgress" class="fas fa-shopping-cart fa-fw" aria-hidden="true"></i><i x-show="checkoutData.inProgress" class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i> {{ i18n "android_getkey_checkout" }}
      </button>
      <p :class="{'hidden': !checkoutData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="checkoutData.errorMessage"></p>
    </div>
  </form>

  <div x-show="checkoutData.success" x-cloak class="px-4 py-8">
    <h3 class="font-headline text-lg md:text-xl leading-relaxed mb-4">{{ ":+1:" | emojify }} {{ i18n "android_getkey_success" }}</h3>
    <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "android_getkey_key" }}</label>
    <textarea x-model="checkoutData.licenseKey" class="text-sm md:text-base leading-relaxed break-all rounded border-gray-300 focus:ring-0 focus:border-secondary w-full mb-2" rows="6" placeholder="{{ i18n "android_getkey_key_placeholder" }}" readonly></textarea>
    <p :class="{'hidden': !checkoutData.errorMessage}" class="text-sm text-red-600 mb-2" x-text="checkoutData.errorMessage"></p>
    <p class="text-sm md:text-base leading-relaxed text-gray-700">{{ i18n "android_getkey_key_instruction" }}</p>
  </div>
</div>

{{ if hugo.IsServer }}
  {{ $androidKeyJs := resources.Get "js/androidkey.js" }}
  <script type="text/javascript" src="{{ $androidKeyJs.RelPermalink }}" defer></script>
{{ else }}
  {{ $androidKeyJs := resources.Get "js/androidkey.js" | minify | fingerprint }}
  <script type="text/javascript" src="{{ $androidKeyJs.RelPermalink }}" integrity="{{ $androidKeyJs.Data.Integrity }}" defer></script>
{{ end }}
