<div class="text-center" itemscope itemtype="http://schema.org/SoftwareApplication">
  <meta itemprop="name" content="Cryptomator"/>
  <meta itemprop="description" content="A free software to encrypt your cloud files."/>
  <meta itemprop="applicationCategory" content="Productivity"/>
  <meta itemprop="softwareVersion" content="{{ .Site.Params.releases.android.version }}"/>
  <meta itemprop="applicationSubCategory" content="Encryption"/>
  <meta itemprop="image" content="{{ "/img/logo.png" | absURL }}"/>
  <meta itemprop="operatingSystem" content="Android"/>

  <div class="white-box">
    <div class="px-4 py-2 border-b border-primary">
      <h3 class="font-h3 text-lg">{{ i18n "android_download_title" }}</h3>
    </div>
    <div class="px-4 py-8" x-data="{showShaSignature: false}">
      <p class="font-p text-sm mb-4">Version {{ .Site.Params.releases.android.version }} • Minimum: Android 8.0</p>
      <a class="btn btn-primary w-full md:w-48 mb-2 plausible-event-name=android-download" href="{{ .Site.Params.releases.android.downloadUrl }}" role="button" data-umami-event="android-download">
        <span class="fas fa-download" aria-hidden="true"></span> {{ i18n "android_download_button" }}
      </a>
      <a class="block text-link text-xs plausible-event-name=android-download-sha256-signature" href="#" data-umami-event="android-download-sha256-signature" @click.prevent="showShaSignature = !showShaSignature"><i :class="{ 'fa-eye': !showShaSignature, 'fa-eye-slash': showShaSignature }" class="fas fa-fw"></i> {{ i18n "android_download_sha256_signature" }}</a>
      <div x-show="showShaSignature" x-cloak class="mt-4">
        <p class="font-p text-xs"><code class="font-code break-all">{{ .Site.Params.releases.android.checksum }}</code></p>
      </div>
    </div>
  </div>
</div>
