<div class="rounded border border-gray-200 shadow-lg bg-white" x-data="{ tab: 'paypal', captcha: {}, status: { cardValidation: '', paymentError: '', success: false}, amount: 0}">
    <div class="border-b pt-2 border-primary text-lg text-gray-600 flex justify-center">
      <button class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none" :class="{ 'border-primary text-primary bg-white': tab === 'paypal' }" @click="tab = 'paypal'">
        <i class="fab fa-paypal" aria-hidden="true"></i> PayPal
      </button>
      <button class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none" :class="{ 'border-primary text-primary bg-white': tab === 'card' }" @click="tab = 'card'">
        <i class="fa fa-credit-card" aria-hidden="true"></i> Credit Card
      </button>
      <button class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none" :class="{ 'border-primary text-primary bg-white': tab === 'bank' }" @click="tab = 'bank'">
        <i class="fa fa-landmark" aria-hidden="true"></i> Bank Transfer
      </button>
      <button class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none" :class="{ 'border-primary text-primary bg-white': tab === 'crypto' }" @click="tab = 'crypto'">
        <i class="fa fa-alien-monster" aria-hidden="true"></i> Crypto
      </button>
    </div>
    <div class="p-4">

      <!-- PayPal -->
      <div x-show="tab === 'paypal'" class="text-center p-4">
        <p>After pressing &quot;Proceed&quot;, you will be redirected to our PayPal site.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="NUQ7XQSWMQEGS" /> <!-- TODO return url anpassen (via admin interface) -->
          <button type="submit" class="btn text-lg"><i class="fa fa-external-link" aria-hidden="true"></i> Proceed to PayPal</button>
        </form>
      </div>

      <!-- Card -->
      <div x-show="tab === 'card'" class="p-4">
        <p class="text-sm">Credit card payments are securely handled by stripe. We will not be able to see your card number or CVC. Please expect to be <a href="https://support.stripe.com/questions/unknown-charge-on-card-from-stripe" target="_blank" rel="noopener">charged by Stripe</a>.</p>

        <label class="block">Amount:</label>
        <input type="text" value="2" x-model="amount"/>

        <label class="block">Please prove you're human</label>
        <div x-ref="captchaWrapper" class="flex justify-center">
          <button x-on:click="loadRecaptcha($refs.captchaWrapper, captcha)" class="border rounded p-2 text-primary"><i class="fa fa-user-robot"></i> Load reCAPTCHA</button>
        </div>

        <label class="block">Credit Card</label>
        <div>
          <input type="text" x-ref="stripePlaceholder" class="w-full appearance-none focus:outline-none" x-on:focus.once="window.card = new CreditCard($refs.stripePlaceholder, status)"/>
          <p class="text-sm" x-text="status.cardValidation"></p>
        </div>

        <button class="btn" x-bind:disabled="!captcha.value" x-on:click="window.card.charge(amount)"><i class="fa fa-credit-card"></i> Pay Now</button>

        <p class="text-sm" x-text="status.paymentError"></p>

        {{ if .Site.IsServer }}
          {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" }}
          <script type="text/javascript" src="{{ $cardPaymentsJs.Permalink }}" defer></script>
        {{ else }}
          {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" | minify | fingerprint }}
          <script type="text/javascript" src="{{ $cardPaymentsJs.Permalink }}" integrity="{{ $cardPaymentsJs.Data.Integrity }}" defer></script>
        {{ end }}
      </div>

      <!-- Bank Transfer -->
      <div x-show="tab === 'bank'">
        <dl class="flex flex-wrap">
          <dt class="text-gray-600 font-semibold text-right w-1/3 pr-2">Recipient</dt>
          <dd class="w-2/3">Skymatic GmbH</dd>
          <dt class="text-gray-600 font-semibold text-right w-1/3 pr-2">IBAN</dt>
          <dd class="w-2/3">
            <span>DE04</span><span class="ml-2">7002</span><span class="ml-2">2200</span><span class="ml-2">0020</span><span class="ml-2">1862</span><span class="ml-2">59</span>
          </dd>
          <dt class="text-gray-600 font-semibold text-right w-1/3 pr-2">BIC</dt>
          <dd class="w-2/3">FDDODEMMXXX</dd>
        </dl>
      </div>

      <!-- Crypto -->
      <div x-show="tab === 'crypto'" class="text-center p-4">
        <p>Select the crypto currency in the next step. After pressing &quot;Proceed&quot;, you will be redirected to our CoinPayments site.</p>
        <form action="https://www.coinpayments.net/index.php" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donate" />
          <input type="hidden" name="reset" value="1" />
          <input type="hidden" name="merchant" value="963d3aa90995dc5542113e7801e31e2a" />
          <input type="hidden" name="item_name" value="Cryptomator Donation" />
          <input type="hidden" name="want_shipping" value="0" />
          <input type="hidden" name="amountf" value="15" />
          <input type="hidden" name="currency" value="EUR" />
          <input type="hidden" name="allow_amount" value="1" />
          <input type="hidden" name="success_url" value="https://cryptomator.org/donate/success" /> <!-- TODO return url anpassen -->
          <input type="hidden" name="allow_extra" value="1" />
          <button type="submit" class="btn text-lg"><i class="fa fa-external-link" aria-hidden="true"></i> Proceed to CoinPayments</button>
        </form>
      </div>
      
    </div>
  </div>