<div class="rounded shadow bg-white" x-data="{ tab: 'paypal' }">
    <div class="flex justify-center border-b pt-2 border-primary text-lg text-gray-500">
      <button @click="tab = 'paypal'" :class="{'border-primary text-primary bg-white': tab === 'paypal'}" class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none">
        <i class="fab fa-paypal" aria-hidden="true"></i>
        <span :class="{'hidden md:inline-block': tab !== 'paypal'}">{{ i18n "donate_paypal_title" }}</span>
      </button>
      <button @click="tab = 'card'" :class="{'border-primary text-primary bg-white': tab === 'card'}" class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none">
        <i class="fas fa-credit-card" aria-hidden="true"></i>
        <span :class="{'hidden md:inline-block': tab !== 'card'}">{{ i18n "donate_creditcard_title" }}</span>
      </button>
      <button @click="tab = 'bank'" :class="{'border-primary text-primary bg-white': tab === 'bank'}" class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none">
        <i class="fas fa-landmark" aria-hidden="true"></i>
        <span :class="{'hidden md:inline-block': tab !== 'bank'}">{{ i18n "donate_banktransfer_title" }}</span>
      </button>
      <button @click="tab = 'crypto'" :class="{'border-primary text-primary bg-white': tab === 'crypto'}" class="border border-b-0 border-transparent rounded-t px-4 py-2 -m-px hover:text-primary focus:text-primary focus:outline-none">
        <i class="fas fa-alien-monster" aria-hidden="true"></i>
        <span :class="{'hidden md:inline-block': tab !== 'crypto'}">{{ i18n "donate_crypto_title" }}</span>
      </button>
    </div>
    <div class="px-4 py-8">

      <!-- PayPal -->
      <div x-show="tab === 'paypal'" class="text-center">
        <p class="mb-4">{{ i18n "donate_paypal_instruction" }}</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" x-data="{acceptTerms: false}">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="{{ .Params.paypalHostedButtonId }}" />
          <p class="mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
          <button type="submit" class="btn btn-primary w-full md:w-64" x-bind:disabled="!acceptTerms"><i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_paypal_calltoaction" }}</button>
        </form>
      </div>

      <!-- Card -->
      <div x-show="tab === 'card'" x-cloak>
        <div x-data="{amount: 15, currency: 'EUR', frequency: 'once', oneTimePayment: null, oneTimePaymentStatus: {validCardNum: false, captcha: null, errorMessage: '', inProgress: false, success: false}, recurringPayment: new RecurringPayment(), acceptTerms: false}" x-init="oneTimePayment = new OneTimePayment(oneTimePaymentStatus)">
          <div class="flex flex-wrap md:flex-no-wrap">
            <div class="w-full mb-4 md:w-1/2 md:pr-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">{{ i18n "donate_creditcard_amount" }}</label>
              <div class="flex items-center rounded bg-gray-300">
                <div class="flex-shrink-0 relative w-16">
                  <select x-model="currency" class="appearance-none w-full rounded-r-none bg-gray-300 px-3">
                    <option value="EUR">€</option>
                    <option value="USD">$</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-3">
                    <i class="fas fa-chevron-down text-xs"></i>
                  </div>
                </div>
                <input type="number" min="1" step="1" x-model="amount" class="flex-grow min-w-0 rounded-none text-right bg-white md:pr-0" placeholder="{{ i18n "donate_creditcard_amount_placeholder" }}" required/>
                <div class="flex-shrink-0 px-3">{{ i18n "donate_creditcard_amount_suffix" }}</div>
              </div>
            </div>

            <div class="w-full mb-4 md:w-1/2 md:pl-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">{{ i18n "donate_creditcard_frequency" }}</label>
              <div class="flex">
                <button class="w-1/2 py-2 border border-gray-300 rounded-l bg-gray-300 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary focus:outline-none" :class="{'border-gray-400 bg-gray-400 font-bold': frequency === 'once'}" @click="frequency = 'once'">
                  <i class="fas fa-check" x-show="frequency === 'once'"></i>
                  {{ i18n "donate_creditcard_frequency_once" }}
                </button>
                <button class="w-1/2 py-2 border border-gray-300 rounded-r bg-gray-300 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary focus:outline-none" :class="{'border-gray-400 bg-gray-400 font-bold': frequency === 'recurring'}" @click="frequency = 'recurring'">
                  <i class="fas fa-check" x-show="frequency === 'recurring'"></i>
                  {{ i18n "donate_creditcard_frequency_recurring" }}
                </button>
              </div>
            </div>
          </div>
          
          <div x-show="frequency === 'once'" class="text-center">
            <p class="mb-4"><i class="fas fa-exclamation-triangle"></i> Currently under maintenance!</p>
            <p>Frequency "Monthly" is not affected.</p>
          </div>

          <div x-show="frequency === 'once' && false">
            <div class="mb-4">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">{{ i18n "donate_creditcard_number" }}</label>
              <div> <!-- wrapper needed for stripe text field -->
                <input type="text" x-ref="stripePlaceholder" class="w-full appearance-none focus:outline-none" x-on:focus.once="oneTimePayment.initStripeField($refs.stripePlaceholder, '{{ i18n "donate_creditcard_once_loading" }}', '{{ .Site.Language.Lang }}')"/>
              </div>
            </div>

            <div class="text-center mt-8">
              <p class="mb-4">{{ i18n "donate_creditcard_once_instruction" | safeHTML }}</p>

              <p class="mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>

              <div x-ref="captchaWrapper" x-show="!oneTimePaymentStatus.captcha" class="flex justify-center">
                <button x-bind:disabled="!oneTimePaymentStatus.validCardNum" x-on:click="oneTimePayment.loadRecaptcha($refs.captchaWrapper)" class="btn btn-primary w-full md:w-64">{{ i18n "donate_creditcard_once_loadcaptcha" }}</button>
              </div>

              <button x-show="oneTimePaymentStatus.captcha" x-bind:disabled="oneTimePaymentStatus.inProgress || !acceptTerms" x-on:click="oneTimePayment.charge(amount, currency)" class="btn btn-primary w-full md:w-64">
                <i class="fas fa-credit-card"></i>
                {{ i18n "donate_creditcard_once_paynow" }}
                <i class="fas fa-spinner fa-spin" x-show="oneTimePaymentStatus.inProgress" aria-hidden="true"></i>
              </button>
            </div>

            <p class="text-sm text-center text-red-600" x-text="oneTimePaymentStatus.errorMessage"></p>
          </div>

          <div x-show="frequency === 'recurring'" class="text-center">
            <p class="mb-4">{{ i18n "donate_creditcard_recurring_instruction" | safeHTML }}</p>
            <p class="mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
            <button type="submit" class="btn btn-primary w-full md:w-64" x-on:click="recurringPayment.checkout(amount, currency)" x-bind:disabled="!acceptTerms">
              <i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_creditcard_recurring_calltoaction" }}
            </button>
          </div>
        </div>

        {{ if .Site.IsServer }}
          {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" }}
          <script type="text/javascript" src="{{ $cardPaymentsJs.RelPermalink }}" defer></script>
        {{ else }}
          {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" | minify | fingerprint }}
          <script type="text/javascript" src="{{ $cardPaymentsJs.RelPermalink }}" integrity="{{ $cardPaymentsJs.Data.Integrity }}" defer></script>
        {{ end }}
      </div>

      <!-- Bank Transfer -->
      <div x-show="tab === 'bank'" x-cloak>
        <dl class="flex flex-wrap items-baseline mb-4">
          <dt class="block uppercase tracking-wide text-gray-700 text-xs font-bold w-full md:text-right md:w-1/3 md:pr-2">{{ i18n "donate_banktransfer_recipient" }}</dt>
          <dd class="mb-2 md:w-2/3 md:mb-0">Skymatic GmbH</dd>
          <dt class="block uppercase tracking-wide text-gray-700 text-xs font-bold w-full md:text-right md:w-1/3 md:pr-2">IBAN</dt>
          <dd class="mb-2 md:w-2/3 md:mb-0">
            <span>DE04</span><span class="ml-2">7002</span><span class="ml-2">2200</span><span class="ml-2">0020</span><span class="ml-2">1862</span><span class="ml-2">59</span>
          </dd>
          <dt class="block uppercase tracking-wide text-gray-700 text-xs font-bold w-full md:text-right md:w-1/3 md:pr-2">BIC</dt>
          <dd class="md:w-2/3">FDDODEMMXXX</dd>
        </dl>
        <p class="text-center">{{ i18n "accept_privacy_implicitly" | safeHTML }}</p>
      </div>

      <!-- Crypto -->
      <div x-show="tab === 'crypto'" x-cloak class="text-center">
        <p class="mb-4">{{ i18n "donate_crypto_instruction" }}</p>
        <form action="https://www.coinpayments.net/index.php" method="post" target="_top" x-data="{acceptTerms: false}">
          <input type="hidden" name="cmd" value="_donate" />
          <input type="hidden" name="reset" value="1" />
          <input type="hidden" name="merchant" value="963d3aa90995dc5542113e7801e31e2a" />
          <input type="hidden" name="item_name" value="Cryptomator Donation" />
          <input type="hidden" name="want_shipping" value="0" />
          <input type="hidden" name="amountf" value="15" />
          <input type="hidden" name="currency" value="EUR" />
          <input type="hidden" name="allow_amount" value="1" />
          <input type="hidden" name="success_url" value="https://cryptomator.org/donate/thanks" />
          <input type="hidden" name="allow_extra" value="1" />
          <p class="mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
          <button type="submit" class="btn btn-primary w-full md:w-64" x-bind:disabled="!acceptTerms"><i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_crypto_calltoaction" }}</button>
        </form>
      </div>
      
    </div>
  </div>
