<div class="text-center">
  <p class="font-p mb-4">{{ i18n "donate_paypal_instruction" }}</p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" x-data="{acceptTerms: false}">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="{{ .Params.paypalHostedButtonId }}" />
    <input type="hidden" name="amount" value="15" />
    <p class="font-p mb-4">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "acceptTerms" "label" (i18n "accept_privacy" | safeHTML)) }}</p>
    <button type="submit" class="btn btn-primary w-full md:w-64" data-umami-event="donate-paypal-link" :disabled="!acceptTerms"><i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_paypal_calltoaction" }}</button>
  </form>
</div>
