<div x-data="{amount: 15, currency: 'EUR', frequency: 'once', oneTimePayment: null, oneTimePaymentStatus: {validCardNum: false, captcha: null, errorMessage: '', inProgress: false, success: false}, recurringPayment: new RecurringPayment(), acceptTerms: false, captchaState: null}" x-init="oneTimePayment = new OneTimePayment(oneTimePaymentStatus)">
  <div x-show="!oneTimePaymentStatus.success">
    <div class="flex flex-wrap md:flex-nowrap">
      <div class="w-full mb-4 md:w-1/2 md:pr-3">
        <label class="label-uppercase mb-2">{{ i18n "donate_creditcard_amount" }}</label>
        <div class="flex items-center rounded-sm bg-gray-300">
          <div class="shrink-0 relative text-gray-700 w-16">
            <select x-model="currency" class="w-full rounded-l border-gray-300 bg-gray-300 focus:ring-0 focus:border-secondary">
              <option value="EUR">€</option>
              <option value="USD">$</option>
            </select>
          </div>
          <input type="number" min="1" step="1" x-model="amount" class="grow min-w-0 text-right input-box rounded-none" placeholder="{{ i18n "donate_creditcard_amount_placeholder" }}" required/>
          <div class="shrink-0 text-gray-700 px-3">{{ i18n "donate_creditcard_amount_suffix" }}</div>
        </div>
      </div>

      <div class="w-full mb-4 md:w-1/2 md:pl-3">
        <label class="label-uppercase mb-2">{{ i18n "donate_creditcard_frequency" }}</label>
        <div class="flex">
          <button class="w-1/2 py-2 border border-gray-300 rounded-l bg-gray-300 text-gray-700 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary" :class="{'border-gray-400 bg-gray-400 text-gray-800 font-medium': frequency === 'once'}" @click="frequency = 'once'">
            <i class="fas fa-check" x-show="frequency === 'once'"></i>
            {{ i18n "donate_creditcard_frequency_once" }}
          </button>
          <button class="w-1/2 py-2 border border-gray-300 rounded-r bg-gray-300 text-gray-700 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary" :class="{'border-gray-400 bg-gray-400 text-gray-800 font-medium': frequency === 'recurring'}" @click="frequency = 'recurring'">
            <i class="fas fa-check" x-show="frequency === 'recurring'"></i>
            {{ i18n "donate_creditcard_frequency_recurring" }}
          </button>
        </div>
      </div>
    </div>

    <form x-show="frequency === 'once'" @submit.prevent="oneTimePayment.charge(amount, currency); $refs.captcha.reset()">
      <div class="mb-4">
        <label class="label-uppercase mb-2">{{ i18n "donate_creditcard_number" }}</label>
        <div> <!-- wrapper needed for stripe text field -->
          <input type="text" x-ref="stripePlaceholder" class="input-box w-full" @focus.once="oneTimePayment.initStripeField($refs.stripePlaceholder, '{{ i18n "donate_creditcard_once_loading" }}', '{{ .Site.Language.Lang }}')"/>
        </div>
      </div>

      <div class="text-center mt-8">
        <p class="font-p mb-4">{{ i18n "donate_creditcard_once_instruction" | safeHTML }}</p>

        <p class="font-p mb-4">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "acceptTerms" "label" (i18n "accept_privacy" | safeHTML)) }}</p>

        <button :disabled="oneTimePaymentStatus.inProgress || !oneTimePaymentStatus.validCardNum || !acceptTerms || captchaState == 'verifying'" class="btn btn-primary w-full md:w-64" data-umami-event="donate-creditcard-onetime-checkout">
          <i :class="{'fa-credit-card': !oneTimePaymentStatus.inProgress, 'fa-spinner fa-spin': oneTimePaymentStatus.inProgress}" class="fas fa-fw" aria-hidden="true"></i>
          {{ i18n "donate_creditcard_once_paynow" }}
        </button>

        {{ partial "captcha.html" (dict "captchaPayload" "oneTimePaymentStatus.captcha" "captchaState" "captchaState") }}

        <p class="text-sm text-red-600 mt-2" x-text="oneTimePaymentStatus.errorMessage"></p>
      </div>
    </form>

    <div x-show="frequency === 'recurring'" class="text-center">
      <p class="font-p mb-4">{{ i18n "donate_creditcard_recurring_instruction" | safeHTML }}</p>
      <p class="font-p mb-4">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "acceptTerms" "label" (i18n "accept_privacy" | safeHTML)) }}</p>
      <button type="button" class="btn btn-primary w-full md:w-64" data-umami-event="donate-creditcard-recurring-checkout" @click="recurringPayment.checkout(amount, currency, '{{ .Site.Language.Lang }}')" :disabled="!acceptTerms">
        <i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_creditcard_recurring_calltoaction" }}
      </button>
    </div>
  </div>

  <div x-show="oneTimePaymentStatus.success" x-cloak>
    <p class="text-lg text-center">{{ ":+1:" | emojify }} {{ i18n "donate_creditcard_once_success" }}</p>
  </div>
</div>
