<div x-data="{amount: 15, currency: 'EUR', frequency: 'once', oneTimePayment: null, oneTimePaymentStatus: {validCardNum: false, captcha: null, errorMessage: '', inProgress: false, success: false}, recurringPayment: new RecurringPayment(), acceptTerms: false}" x-init="oneTimePayment = new OneTimePayment(oneTimePaymentStatus)">
  <div class="flex flex-wrap md:flex-nowrap">
    <div class="w-full mb-4 md:w-1/2 md:pr-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "donate_creditcard_amount" }}</label>
      <div class="flex items-center rounded bg-gray-300">
        <div class="flex-shrink-0 relative text-gray-700 w-16">
          <select x-model="currency" class="w-full rounded-l border-gray-300 bg-gray-300 focus:ring-0 focus:border-secondary">
            <option value="EUR">€</option>
            <option value="USD">$</option>
          </select>
        </div>
        <input type="number" min="1" step="1" x-model="amount" class="flex-grow min-w-0 text-right border-gray-300 focus:ring-0 focus:border-secondary md:pr-0" placeholder="{{ i18n "donate_creditcard_amount_placeholder" }}" required/>
        <div class="flex-shrink-0 text-gray-700 px-3">{{ i18n "donate_creditcard_amount_suffix" }}</div>
      </div>
    </div>

    <div class="w-full mb-4 md:w-1/2 md:pl-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "donate_creditcard_frequency" }}</label>
      <div class="flex">
        <button class="w-1/2 py-2 border border-gray-300 rounded-l bg-gray-300 text-gray-700 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary" :class="{'border-gray-400 bg-gray-400 text-gray-800 font-medium': frequency === 'once'}" @click="frequency = 'once'">
          <i class="fas fa-check" x-show="frequency === 'once'"></i>
          {{ i18n "donate_creditcard_frequency_once" }}
        </button>
        <button class="w-1/2 py-2 border border-gray-300 rounded-r bg-gray-300 text-gray-700 hover:border-gray-400 hover:bg-gray-400 focus:bg-gray-400 focus:border-secondary" :class="{'border-gray-400 bg-gray-400 text-gray-800 font-medium': frequency === 'recurring'}" @click="frequency = 'recurring'">
          <i class="fas fa-check" x-show="frequency === 'recurring'"></i>
          {{ i18n "donate_creditcard_frequency_recurring" }}
        </button>
      </div>
    </div>
  </div>

  <div x-show="frequency === 'once'">
    <div class="mb-4">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "donate_creditcard_number" }}</label>
      <div> <!-- wrapper needed for stripe text field -->
        <input type="text" x-ref="stripePlaceholder" class="w-full rounded border-gray-300 focus:ring-0 focus:border-secondary" @focus.once="oneTimePayment.initStripeField($refs.stripePlaceholder, '{{ i18n "donate_creditcard_once_loading" }}', '{{ .Site.Language.Lang }}')"/>
      </div>
    </div>

    <div class="text-center mt-8" x-show="!oneTimePaymentStatus.success">
      <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ i18n "donate_creditcard_once_instruction" | safeHTML }}</p>

      <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>

      <div x-ref="captchaWrapper" x-show="!oneTimePaymentStatus.captcha" class="flex justify-center">
        <button :disabled="!oneTimePaymentStatus.validCardNum || !acceptTerms" @click="loadRecaptcha($refs.captchaWrapper, (token) => oneTimePaymentStatus.captcha = token)" class="btn btn-primary w-full md:w-64">{{ i18n "donate_creditcard_once_loadcaptcha" }}</button>
      </div>

      <button x-show="oneTimePaymentStatus.captcha" :disabled="oneTimePaymentStatus.inProgress || !acceptTerms" @click="oneTimePayment.charge(amount, currency)" class="btn btn-primary w-full md:w-64">
        <i class="fas fa-credit-card"></i>
        {{ i18n "donate_creditcard_once_paynow" }}
        <i class="fas fa-spinner fa-spin" x-show="oneTimePaymentStatus.inProgress" aria-hidden="true"></i>
      </button>

      <p class="text-sm text-red-600 mt-2" x-text="oneTimePaymentStatus.errorMessage"></p>
    </div>

    <p class="text-lg text-center mt-8" x-show="oneTimePaymentStatus.success">{{ ":+1:" | emojify }} {{ i18n "donate_creditcard_once_success" }}</p>
  </div>

  <div x-show="frequency === 'recurring'" class="text-center">
    <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ i18n "donate_creditcard_recurring_instruction" | safeHTML }}</p>
    <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
    <button type="submit" class="btn btn-primary w-full md:w-64" @click="recurringPayment.checkout(amount, currency, '{{ .Site.Language.Lang }}')" :disabled="!acceptTerms">
      <i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_creditcard_recurring_calltoaction" }}
    </button>
  </div>
</div>

{{ if .Site.IsServer }}
  {{ $recaptchaJs := resources.Get "js/recaptcha.js" }}
  <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" defer></script>
  {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" }}
  <script type="text/javascript" src="{{ $cardPaymentsJs.RelPermalink }}" defer></script>
{{ else }}
  {{ $recaptchaJs := resources.Get "js/recaptcha.js" | minify | fingerprint }}
  <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" integrity="{{ $recaptchaJs.Data.Integrity }}" defer></script>
  {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" | minify | fingerprint }}
  <script type="text/javascript" src="{{ $cardPaymentsJs.RelPermalink }}" integrity="{{ $cardPaymentsJs.Data.Integrity }}" defer></script>
{{ end }}
