<div class="text-center">
  <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ i18n "donate_crypto_instruction" }}</p>
  <form action="https://www.coinpayments.net/index.php" method="post" target="_top" x-data="{acceptTerms: false}">
    <input type="hidden" name="cmd" value="_donate" />
    <input type="hidden" name="reset" value="1" />
    <input type="hidden" name="merchant" value="963d3aa90995dc5542113e7801e31e2a" />
    <input type="hidden" name="item_name" value="Cryptomator Donation" />
    <input type="hidden" name="want_shipping" value="0" />
    <input type="hidden" name="amountf" value="15" />
    <input type="hidden" name="currency" value="EUR" />
    <input type="hidden" name="allow_amount" value="1" />
    <input type="hidden" name="success_url" value="{{ "/donate/thanks" | absURL }}" />
    <input type="hidden" name="allow_extra" value="1" />
    <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ partial "accept-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
    <button type="submit" class="btn btn-primary w-full md:w-64" :disabled="!acceptTerms"><i class="fas fa-external-link" aria-hidden="true"></i> {{ i18n "donate_crypto_calltoaction" }}</button>
  </form>
</div>
