<footer class="border-t-2 border-secondary py-8">
    <section class="container flex content-start flex-wrap text-white font-light leading-loose">

        <div class="w-1/2 md:w-1/3 lg:w-1/5 p-3">
            <h4 class="text-gray-400 text-lg">Cryptomator</h4>
            <ul class="list-none">
                <li><a class="text-white hover:no-underline" href="{{ .Site.LanguagePrefix }}/blog">Blog</a></li>
                <li><a class="text-white hover:no-underline" href="https://www.redbubble.com/people/cryptomator/portfolio" target="_blank">Merchandise</a></li>
                <li>Press Kit</li>
            </ul>
        </div>

        <div class="w-1/2 md:w-1/3 lg:w-1/5 p-3">
            <h4 class="text-gray-400 text-lg">Contribute</h4>
            <ul class="list-none">
                <li><a class="text-white hover:no-underline" href="https://github.com/cryptomator/cryptomator" target="_blank">GitHub</a></li>
                <li><a class="text-white hover:no-underline" href="{{ .Site.LanguagePrefix }}/donate">Donate</a></li>
                <li><a class="text-white hover:no-underline" href="https://translate.cryptomator.org/" target="_blank">Localize</a></li>
            </ul>
        </div>

        <div class="w-1/2 md:w-1/3 lg:w-1/5 p-3">
            <h4 class="text-gray-400 text-lg">Support</h4>
            <ul class="list-none">
                <li><a class="text-white hover:no-underline" href="https://docs.cryptomator.org/" target="_blank">Docs</a></li>
                <li><a class="text-white hover:no-underline" href="https://community.cryptomator.org/" target="_blank">Community</a></li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="w-1/2 md:w-1/3 lg:w-1/5 p-3">
            <h4 class="text-gray-400 text-lg">Follow Us</h4>
            <ul class="list-none">
                <li><a class="text-white hover:no-underline" href="https://twitter.com/Cryptomator" target="_blank">Twitter</a></li>
                <li><a class="text-white hover:no-underline" href="https://facebook.com/Cryptomator" target="_blank">Facebook</a></li>
                <li>RSS</li>
            </ul>
        </div>

        <div class="w-1/2 md:w-1/3 lg:w-1/5 p-3">
            <h4 class="text-gray-400 text-lg">Legal</h4>
            <ul class="list-none">
                <li><a class="text-white hover:no-underline" href="{{ .Site.LanguagePrefix }}/impressum">Impressum</a></li>
                <li><a class="text-white hover:no-underline" href="{{ .Site.LanguagePrefix }}/privacy">Privacy Policy</a></li>
            </ul>
        </div>

    </section>
</footer>
