<footer class="border-t-2 border-secondary pt-8 pb-16">
  <section class="container text-white font-light leading-loose grid grid-cols-2 col-gap-6 row-gap-8 md:grid-cols-3 lg:grid-cols-5">
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">Cryptomator</h4>
      <ul class="list-none m-0">
        {{- with .Site.GetPage "/blog" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://cryptomator.redbubble.com/" target="_blank" rel="noopener">Merchandise</a></li>
        {{- with .Site.GetPage "/presskit" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">{{ i18n "footer_contribute_title" }}</h4>
      <ul class="list-none m-0">
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://github.com/cryptomator/cryptomator" target="_blank" rel="noopener">GitHub</a></li>
        {{- with .Site.GetPage "/donate" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://translate.cryptomator.org/" target="_blank" rel="noopener">{{ i18n "footer_contribute_translate" }}</a></li>
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">Support</h4>
      <ul class="list-none m-0">
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://docs.cryptomator.org/" target="_blank" rel="noopener">Docs</a></li>
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://community.cryptomator.org/" target="_blank" rel="noopener">Community</a></li>
        {{- with .Site.GetPage "/contact" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">{{ i18n "footer_follow_us_title" }}</h4>
      <ul class="list-none m-0">
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://twitter.com/Cryptomator" target="_blank" rel="noopener">Twitter</a></li>
        <li><a class="text-white hover:text-secondary hover:no-underline" href="https://facebook.com/Cryptomator" target="_blank" rel="noopener">Facebook</a></li>
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .Site.LanguagePrefix }}/feed.xml" rel="alternate" type="application/rss+xml">{{ i18n "footer_follow_us_rss_feed" }}</a></li>
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">{{ i18n "footer_legal_title" }}</h4>
      <ul class="list-none m-0">
        {{- with .Site.GetPage "/impressum" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
        {{- with .Site.GetPage "/privacy" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
        {{- with .Site.GetPage "/terms" }}
        <li><a class="text-white hover:text-secondary hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </div>
  </section>
</footer>
