<footer class="border-t-2 border-secondary pt-8 pb-16">
  <section class="container text-white font-light leading-loose grid grid-cols-2 gap-x-6 gap-y-8 md:grid-cols-3 lg:grid-cols-5">
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">Cryptomator</h4>
      <ul class="list-none m-0">
        {{- with .Site.GetPage "/downloads" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-downloads" href="{{ .RelPermalink }}" data-umami-event="footer-downloads">{{ .Title }}</a></li>
        {{- end }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-merchandise" href="https://cryptomator.redbubble.com/" target="_blank" rel="noopener" data-umami-event="footer-merchandise">Merchandise</a></li>
        {{- with .Site.GetPage "/presskit" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-presskit" href="{{ .RelPermalink }}" data-umami-event="footer-presskit">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">{{ i18n "footer_contribute_title" }}</h4>
      <ul class="list-none m-0">
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-github" href="https://github.com/cryptomator" target="_blank" rel="noopener" data-umami-event="footer-github">GitHub</a></li>
        {{- with .Site.GetPage "/donate" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-donate" href="{{ .RelPermalink }}" data-umami-event="footer-donate">{{ .Title }}</a></li>
        {{- end }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-translate" href="https://translate.cryptomator.org/" target="_blank" rel="noopener" data-umami-event="footer-translate">{{ i18n "footer_contribute_translate" }}</a></li>
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">Support</h4>
      <ul class="list-none m-0">
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-docs" href="https://docs.cryptomator.org/" target="_blank" rel="noopener" data-umami-event="footer-docs">Docs</a></li>
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-community" href="https://community.cryptomator.org/" target="_blank" rel="noopener" data-umami-event="footer-community">Community</a></li>
        {{- with .Site.GetPage "/contact" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-contact" href="{{ .RelPermalink }}" data-umami-event="footer-contact">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">{{ i18n "footer_follow_us_title" }}</h4>
      <ul class="list-none m-0">
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-mastodon" href="https://mastodon.online/@cryptomator" target="_blank" rel="noopener me" data-umami-event="footer-mastodon">Mastodon</a></li>
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-linkedin" href="https://linkedin.com/company/skymatic" target="_blank" rel="noopener" data-umami-event="footer-linkedin">LinkedIn</a></li>
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-rss-feed" href="{{ .Site.LanguagePrefix }}/feed.xml" rel="alternate" type="application/rss+xml" data-umami-event="footer-rss-feed">{{ i18n "footer_follow_us_rss_feed" }}</a></li>
      </ul>
    </div>
    
    <div>
      <h4 class="block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2">{{ i18n "footer_legal_title" }}</h4>
      <ul class="list-none m-0">
        {{- with .Site.GetPage "/impressum" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-impressum" href="{{ .RelPermalink }}" data-umami-event="footer-impressum">{{ .Title }}</a></li>
        {{- end }}
        {{- with .Site.GetPage "/privacy" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-privacy" href="{{ .RelPermalink }}" data-umami-event="footer-privacy">{{ .Title }}</a></li>
        {{- end }}
        {{- with .Site.GetPage "/terms" }}
        <li><a class="text-white hover:text-secondary hover:no-underline plausible-event-name=footer-terms" href="{{ .RelPermalink }}" data-umami-event="footer-terms">{{ .Title }}</a></li>
        {{- end }}
      </ul>
    </div>
  </section>
</footer>
