<template x-if="subscriptionData.oldLicense">
  <div>
    <h2 class="font-h2 mb-4 mt-12">
      {{ i18n "hub_billing_manage_license_key_title" . }}
    </h2>
    <p class="font-p mb-4">
      {{ i18n "hub_billing_manage_license_key_instruction" . }}
    </p>
    <textarea x-model="subscriptionData.token" class="input-box w-full text-sm md:text-base leading-relaxed break-all" rows="6" readonly></textarea>
    <button x-show="!subscriptionData.token && !subscriptionData.needsTokenRefresh" :disabled="subscriptionData.inProgress" @click.prevent="subscriptionData.errorMessage = ''; subscriptionData.needsTokenRefresh = true" class="btn btn-primary text-center w-full md:w-64 mt-4">
      {{ i18n "hub_billing_manage_license_key_retry_action" . }}
    </button>
    <button x-show="subscriptionData.token && subscriptionData.returnUrl" :disabled="subscriptionData.inProgress" class="btn btn-primary text-center w-full md:w-64 mt-4" @click.prevent="hubSubscription.transferTokenToHub()">
      {{ i18n "hub_billing_manage_license_key_transfer_action" . }}
    </button>
    <template x-if="subscriptionData.needsTokenRefresh && !subscriptionData.inProgress">
      <div class="mt-4">
        {{ $challengeUrl := printf "%s/licenses/hub/challenge" .Site.Params.apiBaseUrl }}
        {{ partial "captcha.html" (dict "challengeUrl" $challengeUrl "captchaPayload" "subscriptionData.captcha" "captchaState" "captchaState" "ref" "refreshCaptcha" "auto" "onload" "onVerified" "hubSubscription.refreshToken()") }}
      </div>
    </template>
    <p x-show="subscriptionData.needsTokenRefresh && subscriptionData.inProgress" class="text-sm text-gray-600 mt-4">
      <i class="fa-solid fa-spinner fa-spin"></i>
      {{ i18n "hub_billing_loading_description" . }}
    </p>
  </div>
</template>
