<nav class="flex justify-between h-16">
    <div class="lg:ml-8 whitespace-no-wrap">
        <img src="http://placekitten.com/64/64" class="object-contain inline"/>
        CRYPTOMATOR
    </div>

    <ul class="self-center lg:mr-8">
        <li class="inline p-2">Download</li>
        <li class="inline p-2"><a href="{{ .LanguagePrefix }}/coop">Kooperationen</a></li>
        <li class="inline p-2">Enterprise</li>
        <li class="inline p-2">Docs</li>
        <li class="inline p-2">FAQ</li>
        <li class="hidden md:inline p-2">|</li>
        <li class="inline p-2">Sponsoren</li>
        <li class="inline p-2">Spenden</li>
        <li class="inline p-2">Sprache</li>
        <li class="inline p-2">F</li>
        <li class="inline p-2">T</li>
    </ul>
</nav>