<div x-data="{feedbackData: {success: false, inProgress: false, errorMessage: ''}, submitData: {captcha: null, type: 'other', email: '', reason: ''}, acceptTerms: false}">
  <form x-show="!feedbackData.success" x-ref="form">
    <div class="mb-4">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "supporter_cert_other_reason" }}</label>
      <textarea x-model="submitData.reason" x-ref="reason" @blur="$refs.reason.classList.add('show-invalid')" type="url" class="rounded border-gray-300 focus:ring-0 focus:border-secondary w-full" rows="5" maxlength="800" placeholder="{{ i18n "supporter_cert_other_reason_placeholder" }}" required></textarea>
    </div>
    <div class="mb-4">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2">{{ i18n "supporter_cert_common_email" }}</label>
      <input x-model="submitData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="rounded border-gray-300 focus:ring-0 focus:border-secondary w-full" placeholder="{{ i18n "supporter_cert_common_email_placeholder" }}" required/>
    </div>
    <div class="text-center mt-8">
      <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ i18n "supporter_cert_other_instruction" }}</p>
      <p class="text-sm md:text-base leading-relaxed text-gray-700 mb-4">{{ partial "accept-terms-and-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
      <div x-show="!submitData.captcha" x-ref="captchaWrapper" class="flex justify-center">
        <button :disabled="!acceptTerms" @click.prevent="loadRecaptcha($refs.captchaWrapper, (token) => submitData.captcha = token)" class="btn btn-primary w-full md:w-64">{{ i18n "supporter_cert_common_loadcaptcha" }}</button>
      </div>
      <button x-show="submitData.captcha" :disabled="feedbackData.inProgress || !acceptTerms" @click.prevent="new SupporterCertificate($refs.form, feedbackData, submitData).request()" type="submit" class="btn btn-primary w-full md:w-64 plausible-event-name=supporter-cert-other-form" x-cloak>
        <i :class="{'fa-paper-plane': !feedbackData.inProgress, 'fa-spinner fa-spin': feedbackData.inProgress}" class="fas fa-fw" aria-hidden="true"></i> {{ i18n "supporter_cert_common_submit" }}
      </button>
      <p :class="{'hidden': !feedbackData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="feedbackData.errorMessage"></p>
    </div>
  </form>

  <div x-show="feedbackData.success" x-cloak>
    <h3 class="font-headline text-lg md:text-xl leading-relaxed mb-4">{{ ":+1:" | emojify }} {{ i18n "supporter_cert_common_success_title" }}</h3>
    <p class="text-sm md:text-base leading-relaxed text-gray-700">{{ i18n "supporter_cert_common_success_description" }}</p>
  </div>
</div>
