<div x-data="{feedbackData: {success: false, inProgress: false, errorMessage: ''}, submitData: {captcha: null, type: 'other', email: '', reason: ''}, acceptTerms: false, captchaState: null}">
  <form x-show="!feedbackData.success" x-ref="form" @submit.prevent="new SupporterCertificate($refs.form, feedbackData, submitData).request(); $refs.captcha.reset()">
    <div class="mb-4">
      <label class="label-uppercase mb-2">{{ i18n "supporter_cert_other_reason" }}</label>
      <textarea x-model="submitData.reason" x-ref="reason" @blur="$refs.reason.classList.add('show-invalid')" type="url" class="input-box w-full" rows="5" maxlength="800" placeholder="{{ i18n "supporter_cert_other_reason_placeholder" }}" required></textarea>
    </div>
    <div class="mb-4">
      <label class="label-uppercase mb-2">{{ i18n "supporter_cert_common_email" }}</label>
      <input x-model="submitData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="input-box w-full" placeholder="{{ i18n "supporter_cert_common_email_placeholder" }}" required/>
    </div>
    <div class="text-center mt-8">
      <p class="font-p mb-4">{{ i18n "supporter_cert_other_instruction" }}</p>
      <p class="font-p mb-4">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "acceptTerms" "label" (i18n "accept_terms_and_privacy" | safeHTML)) }}</p>
      <button :disabled="feedbackData.inProgress || !acceptTerms || captchaState == 'verifying'" type="submit" class="btn btn-primary w-full md:w-64" data-umami-event="supporter-cert-other-form" x-cloak>
        <i :class="{'fa-paper-plane': !feedbackData.inProgress, 'fa-spinner fa-spin': feedbackData.inProgress}" class="fas fa-fw" aria-hidden="true"></i> {{ i18n "supporter_cert_common_submit" }}
      </button>
      {{ partial "captcha.html" (dict "captchaPayload" "submitData.captcha" "captchaState" "captchaState") }}
      <p :class="{'hidden': !feedbackData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="feedbackData.errorMessage"></p>
    </div>
  </form>

  <div x-show="feedbackData.success" x-cloak>
    <h3 class="font-h3 mb-4">{{ ":+1:" | emojify }} {{ i18n "supporter_cert_common_success_title" }}</h3>
    <p class="font-p">{{ i18n "supporter_cert_common_success_description" }}</p>
  </div>
</div>
