<div x-data="{feedbackData: {success: false, inProgress: false, errorMessage: ''}, submitData: {captcha: null, type: 'contributor', email: '', github_username: '', github_contribution_link: ''}, acceptTerms: false}">
  <form x-show="!feedbackData.success" x-ref="form">
    <div class="mb-4">
      <label class="label-uppercase mb-2">{{ i18n "supporter_cert_contributor_github_username" }}</label>
      <input x-model="submitData.github_username" x-ref="github_username" @blur="$refs.github_username.classList.add('show-invalid')" type="text" class="input-box w-full" pattern="^[A-Za-z\d](?:[A-Za-z\d]|-(?=[A-Za-z\d])){0,38}$" maxlength="39" placeholder="{{ i18n "supporter_cert_contributor_github_username_placeholder" }}" required/>
    </div>
    <div class="mb-4">
      <label class="label-uppercase mb-2">{{ i18n "supporter_cert_contributor_github_contribution_link" }}</label>
      <input x-model="submitData.github_contribution_link" x-ref="github_contribution_link" @blur="$refs.github_contribution_link.classList.add('show-invalid')" type="url" class="input-box w-full" placeholder="{{ i18n "supporter_cert_contributor_github_contribution_link_placeholder" }}" required/>
    </div>
    <div class="mb-4">
      <label class="label-uppercase mb-2">{{ i18n "supporter_cert_common_email" }}</label>
      <input x-model="submitData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="input-box w-full" placeholder="{{ i18n "supporter_cert_common_email_placeholder" }}" required/>
    </div>
    <div class="text-center mt-8">
      <p class="font-p mb-4">{{ i18n "supporter_cert_contributor_instruction" . | safeHTML }}</p>
      <p class="font-p mb-4">{{ partial "accept-terms-and-privacy.html" (dict "context" . "alpineVariable" "acceptTerms") }}</p>
      <div x-show="!submitData.captcha" x-ref="captchaWrapper" class="flex justify-center">
        <button :disabled="!acceptTerms" @click.prevent="loadRecaptcha($refs.captchaWrapper, (token) => submitData.captcha = token)" class="btn btn-primary w-full md:w-64">{{ i18n "supporter_cert_common_loadcaptcha" }}</button>
      </div>
      <button x-show="submitData.captcha" :disabled="feedbackData.inProgress || !acceptTerms" @click.prevent="new SupporterCertificate($refs.form, feedbackData, submitData).request()" type="submit" class="btn btn-primary w-full md:w-64 plausible-event-name=supporter-cert-contributor-form" x-cloak>
        <i :class="{'fa-paper-plane': !feedbackData.inProgress, 'fa-spinner fa-spin': feedbackData.inProgress}" class="fas fa-fw" aria-hidden="true"></i> {{ i18n "supporter_cert_common_submit" }}
      </button>
      <p :class="{'hidden': !feedbackData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="feedbackData.errorMessage"></p>
    </div>
  </form>

  <div x-show="feedbackData.success" x-cloak>
    <h3 class="font-h3 mb-4">{{ ":+1:" | emojify }} {{ i18n "supporter_cert_common_success_title" }}</h3>
    <p class="font-p">{{ i18n "supporter_cert_common_success_description" }}</p>
  </div>
</div>
