{{ define "main" }}
    <section class="bg-gray-800">
        <header class="container mx-auto py-16 lg:py-32 flex justify-between">
            <div class="w-1/3 lg:w-1/2">
                <img src="http://placekitten.com/400/400" class="object-contain mx-auto"/>
            </div>
            <div class="w-2/3 lg:w-1/2 self-center px-4">
                <h1 class="text-2xl">Hänge ein Schloss vor deine Cloud</h1>
                <p class="text-lg py-4">Mit Cryptomator liegt der Schlüssel zu deinen Daten bei dir. Durch Cryptomator verschlüsselst du deine Daten schnell und unkompliziert. Anschließend lädst du sie geschützt in deinen Lieblingscloudservice hoch.</p>
                <button class="btn text-lg px-8">DOWNLOAD</button>
            </div>
        </header>
    </section>
    
    {{.Content}}


{{ end }}