{{ define "head" }}
  <link rel="prerender" href="{{ "/downloads" | absLangURL }}">
{{ end }}
{{ define "main" }}
  <section class="flex items-center bg-dark bg-center min-vh-66" style="background-image: url(/img/home/header-background.png); background-size: auto 100%;">
    <header class="container flex items-center text-white py-24 md:py-48 lg:py-64">
      <div class="hidden pr-6 md:block md:w-1/3 lg:w-2/5">
        <img data-src="/img/home/woman-cloud.png" class="lazyload object-scale-down mx-auto lg:w-3/4 animate-hover" alt="{{ i18n "home_header_woman_cloud_alt" . }}"/>
      </div>
      <div class="w-full md:w-2/3 lg:w-3/5">
        <h1 class="mb-6">{{ i18n "home_header_title" . | safeHTML }}</h1>
        <p class="text-lg text-gray-400 mb-6">{{ i18n "home_header_description" . | safeHTML }}</p>
        <a href="{{ .Site.LanguagePrefix }}/downloads/" role="button" class="btn btn-primary text-lg px-8">{{ i18n "home_header_button" . }}</a>
      </div>
    </header>
  </section>

  <div>
    {{ .Content }}
  </div>

  <div class="bg-dark text-white">
    <section class="container py-12 md:py-16 lg:py-20">
      <h2 class="text-center mb-8 md:mb-12 lg:mb-16">{{ i18n "home_trustingbrands_title" . }}</h2>
      <div class="grid grid-cols-1 gap-8 text-center md:grid-cols-3 md:w-3/4 lg:w-2/3 mx-auto">
        <a href="{{ .Site.LanguagePrefix }}/coop/webde/">
          <img class="inline-block h-20 lazyload" data-src="/img/home/3rdparty/webde-logo.svg" alt="WEB.DE Logo"/>
        </a>
        <a href="{{ .Site.LanguagePrefix }}/coop/gmx/">
          <img class="inline-block h-20 lazyload" data-src="/img/home/3rdparty/gmx-logo.svg" alt="GMX Logo"/>
        </a>
        <a href="{{ .Site.LanguagePrefix }}/coop/1und1/">
          <img class="inline-block h-20 lazyload" data-src="/img/home/3rdparty/1und1-logo.png" alt="1&amp;1 Logo"/>
        </a>
        <a class="md:col-span-3" href="https://connect2id.com/blog/deterministic-encryption-with-aes-siv" target="_blank" rel="noopener">
          <img class="inline-block h-20 lazyload" data-src="/img/home/3rdparty/connect2id-logo.svg" alt="connect2id Logo"/>
        </a>
      </div>
    </section>
    
    <section class="container py-12 md:py-16 lg:py-20">
      <h2 class="text-center mb-8 md:mb-12 lg:mb-16">{{ i18n "home_testimonials_title" . }}</h2>
      <div class="flex justify-center items-center" id="testimonial-carousel">
        <button class="prev-button" aria-hidden="true">
          <svg width="40" height="80" class="stroke-current text-white hover:text-secondary" fill="none" stroke-width="3">
            <path d="M35,0 L5,40 L35,80" />
          </svg>
        </button>
        <ul class="list-none w-full m-0 flex flex-no-wrap overflow-hidden">
          {{ range $.Site.Data.testimonials }}
          <li class="flex-none w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="rounded-lg border border-secondary p-4">
              <div class="flex justify-between mb-4">
                <div class="flex items-start">
                  <a class="flex-shrink-0 w-12 lg:w-16" href="{{ .ProfileURL }}" target="_blank" rel="noopener">
                    <img data-src="{{ .Image }}" class="lazyload object-contain rounded-lg border border-secondary" alt="{{ i18n "home_testimonials_image_alt" . }} {{ .TwitterHandle }}"/>
                  </a>
                  <a class="text-white px-3 hover:text-secondary hover:no-underline" href="{{ .ProfileURL }}" target="_blank" rel="noopener">
                    <p class="font-headline lg:text-xl mb-0">{{ .Name }}</p>
                    <p class="text-sm text-gray-500">{{ .TwitterHandle }}</p>
                  </a>
                </div>
                <a class="text-white hover:text-secondary hover:no-underline" href="{{ .URL }}" target="_blank" rel="noopener">
                  <i class="fab fa-twitter text-xl mt-1"></i>
                </a>
              </div>
              <p><i class="fas fa-quote-left text-secondary text-xl"></i> {{ .Quote }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
        <button class="next-button" aria-hidden="true">
          <svg width="40" height="80" class="stroke-current text-white hover:text-secondary" fill="none" stroke-width="3">
            <path d="M5,0 L35,40 L5,80" />
          </svg>
        </button>
      </div>
    </section>
    
    <section class="container py-12 md:py-16 lg:py-20">
      <h2 class="text-center mb-8 md:mb-12 lg:mb-16">{{ i18n "home_reception_title" . }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12 text-center">
        <div>
          <a href="https://www.hostingadvice.com/blog/cryptomator-brings-open-source-encryption-to-the-cloud-storage-realm/" target="_blank" rel="noopener">
            <img data-src="/img/home/3rdparty/hostingadvice-logo.png" class="lazyload object-contain h-10 w-full mb-4" alt="HostingAdvice Logo"/>
          </a>
          <p>Skymatic's Cryptomator empowers cloud storage users to protect themselves against unauthorized access through free, transparent, client-side encryption.</p>
        </div>
        
        <div>
          <a href="https://thenextweb.com/apple/2016/03/09/new-ios-desktop-app-cryptomator-encrypts-cloud-files-locally-upload/" target="_blank" rel="noopener">
            <img data-src="/img/home/3rdparty/tnw-logo.png" class="lazyload object-contain h-10 w-full mb-4" alt="TNW Logo"/>
          </a>
          <p>Cryptomator is a 'pay what you want' proposition. I've been using it for quite some time, and while it creates another layer between your files and cloud storage, it's a handy tool if you're serious about keeping your files safe from prying eyes.</p>
        </div>
        
        <div>
          <a href="https://www.cardrates.com/news/cryptomator-secures-sensitive-financial-data/" target="_blank" rel="noopener">
            <img data-src="/img/home/3rdparty/cardrates-logo.png" class="lazyload object-contain h-10 w-full mb-4" alt="CardRates Logo"/>
          </a>
          <p>Cryptomator is more accessible than other solutions because its desktop version is free, and it only charges a small fee for using its mobile app. And even if a hacker accesses a user's vault, Cryptomator's encrypted files are useless without the proper key to decode them.</p>
        </div>
      </div>
    </section>
    
    <section class="container pt-12 md:pt-16 lg:pt-20 pb-24 md:pb-32 lg:pb-40">
      <figure class="text-center">
        <a href="https://web.archive.org/web/20190525164100id_/https://www.cebitaward.de/de/sonderpreis-cryptomator-1759.html" target="_blank" rel="noopener">
          <img class="lazyload inline-block mb-6" data-src="/img/home/3rdparty/cebit-award.png" data-srcset="/img/home/3rdparty/cebit-award.png 1x, /img/home/3rdparty/cebit-award@2x.png 2x" alt="CeBIT Innovation Award 2016">
        </a>
        <figcaption class="text-center">
          <h2 class="text-xl md:text-2xl mb-0">{{ i18n "home_cebit_title" . }}</h2>
          <p>{{ i18n "home_cebit_subtitle" . }}</p>
        </figcaption>
      </figure>
    </section>
  </div>

  {{ if .Site.IsServer }}
    {{ $indexJs := resources.Get "js/index.js" }}
    <script type="text/javascript" src="{{ $indexJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $indexJs := resources.Get "js/index.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $indexJs.RelPermalink }}" integrity="{{ $indexJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
