{{ define "preloads" }}
  <link rel="prefetch" href="{{ .Site.LanguagePrefix }}/for-individuals/">
  <link rel="prefetch" href="{{ .Site.LanguagePrefix }}/for-teams/">
  <link rel="preload" fetchpriority="high" as="image" href="/img/home/header-background.avif" type="image/avif">
  <link rel="preload" fetchpriority="high" as="image" href="/img/home/woman-cloud.png" type="image/png">
  <link rel="preload" fetchpriority="auto" href="/fonts/opensans-regular.reduced.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" fetchpriority="auto" href="/fonts/opensans-medium.reduced.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" fetchpriority="auto" href="/fonts/opensans-bold.reduced.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" fetchpriority="auto" href="/fonts/quicksand-regular.reduced.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" fetchpriority="auto" href="/fonts/quicksand-medium.reduced.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" fetchpriority="high" href="/fonts/quicksand-bold.reduced.woff2" as="font" type="font/woff2" crossorigin="anonymous">
{{ end }}
{{ define "main" }}
  <section class="flex items-center header-bg bg-dark bg-center min-h-[66vh] bg-repeat-x">
    <header class="container flex items-center text-white pt-40 pb-24 md:pt-56 md:pb-48 lg:pt-72 lg:pb-64">
      <div class="hidden pr-6 md:block md:w-1/3 lg:w-2/5">
        <img data-src="/img/home/woman-cloud.png" class="lazyload aspect-714/622 w-full object-scale-down mx-auto lg:w-3/4 animate-hover" alt="{{ i18n "home_header_woman_cloud_alt" . }}"/>
      </div>
      <div class="w-full md:w-2/3 lg:w-3/5">
        <div class="flex items-center gap-4 mb-4">
          <div class="flex items-center gap-x-1.5 px-4 py-1 rounded-full text-xs lg:text-sm font-medium bg-red-600 text-white">
            <i class="fas fa-sun"></i>
            {{ i18n "home_header_kicker_sale" }}
          </div>
          <div class="hidden md:flex items-center gap-x-1.5 px-4 py-1 rounded-full text-xs lg:text-sm font-medium bg-transparent border border-primary text-primary">
            <i class="fas fa-cloud-download"></i>
            {{ i18n "home_header_kicker" }}
          </div>
        </div>
        <h1 class="font-h1 mb-6">
          {{ i18n "home_header_title" }}
          <span class="inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden">
            <ul class="animate-slide">
              <li><i class="fab fa-google-drive"></i> Google Drive</li>
              <li><i class="fak fa-icloud"></i> iCloud Drive</li>
              <li><i class="fak fa-onedrive"></i> OneDrive</li>
              <li><i class="fak fa-sharepoint"></i> SharePoint</li>
              <li><i class="fab fa-dropbox"></i> Dropbox</li>
              <li><i class="fak fa-pcloud"></i> pCloud</li>
              <li><i class="fak fa-nextcloud"></i> Nextcloud</li>
              <li>{{ i18n "home_header_title_last_item" }}</li>
              <li aria-hidden="true"><i class="fab fa-google-drive"></i> Google Drive</li>
            </ul>
          </span>
        </h1>
        <p class="text-lg md:text-xl leading-relaxed text-gray-300 mb-6">{{ i18n "home_header_description" . | safeHTML }}</p>
        <div class="flex flex-col md:flex-row gap-6">
          <div class="flex flex-col gap-2">
            <p class="block uppercase tracking-wide text-gray-300 text-xs font-bold">{{ i18n "home_header_for_individuals_title" . }}</p>
            <a href="{{ .Site.LanguagePrefix }}/for-individuals/" role="button" class="btn btn-primary text-lg w-full md:w-64" data-umami-event="home-header-individuals-cta">{{ i18n "home_header_for_individuals_cta" . }}</a>
          </div>
          <div class="flex flex-col gap-2">
            <p class="block uppercase tracking-wide text-gray-300 text-xs font-bold">{{ i18n "home_header_for_teams_title" . }}</p>
            <a href="{{ .Site.LanguagePrefix }}/for-teams/" role="button" class="btn btn-primary text-lg w-full md:w-64" data-umami-event="home-header-teams-cta">{{ i18n "home_header_for_teams_cta" . }}</a>
          </div>
        </div>
        <p class="text-sm mt-6">
          * {{ i18n "pricing_discount_note" }}
        </p>
      </div>
    </header>
  </section>

  <div>
    {{ .Content }}
  </div>

  <section class="container pt-12 pb-24">
    <h2 id="get-started" class="text-center font-h2 mb-4">{{ i18n "home_get_started_title" . }}</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col white-box">
        <div class="flex justify-between items-center p-4 border-b border-primary">
          <h3>
            <div class="flex items-center">
              <img src="/img/logo.svg" class="hidden md:block h-8 mr-2 aspect-1110/942" alt="Logo"/>
              <span class="font-headline font-bold text-primary pb-px">CRYPTOMATOR</span>
            </div>
          </h3>
          <div class="inline-flex px-4 py-1 rounded-full text-xs lg:text-sm font-medium tracking-wide uppercase bg-primary-l2 text-dark">
            {{ i18n "home_get_started_for_individuals_title" . }}
          </div>
        </div>
        <div class="flex flex-col justify-between h-full gap-8 px-4 py-8">
          <div class="flex flex-col gap-4">
            <h4 class="font-medium lg:text-lg leading-relaxed">
              {{ i18n "home_get_started_for_individuals_subtitle" . }}
            </h4>
            <ul role="list" class="fa-ul text-sm lg:text-base ml-7 lg:ml-8 space-y-4">
              <li>
                <span class="fa-li"><i class="fas fa-check text-primary"></i></span>
                <span>{{ i18n "home_get_started_for_individuals_benefit_1" . }}</span>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check text-primary"></i></span>
                <span>{{ i18n "home_get_started_for_individuals_benefit_2" . }}</span>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check text-primary"></i></span>
                <span>{{ i18n "home_get_started_for_individuals_benefit_3" . }}</span>
              </li>
            </ul>
          </div>
          <a href="{{ .Site.LanguagePrefix }}/for-individuals/" role="button" class="btn btn-primary w-full lg:w-96" data-umami-event="home-get-started-individuals-cta">
            {{ i18n "home_get_started_for_individuals_cta" . }}
          </a>
        </div>
      </div>
    
      <div class="flex flex-col white-box">
        <div class="flex justify-between items-center p-4 border-b border-primary">
          <h3>
            <div class="flex items-center">
              <img src="/img/logo.svg" class="hidden md:block h-8 mr-2 aspect-1110/942" alt="Logo"/>
              <span class="font-headline font-bold text-primary pb-px">CRYPTOMATOR HUB</span>
            </div>
          </h3>
          <div class="inline-flex px-4 py-1 rounded-full text-xs lg:text-sm font-medium tracking-wide uppercase bg-primary-l2 text-dark">
            {{ i18n "home_get_started_for_teams_title" . }}
          </div>
        </div>
        <div class="flex flex-col justify-between h-full gap-8 px-4 py-8">
          <div class="flex flex-col gap-4">
            <h4 class="font-medium lg:text-lg leading-relaxed">
              {{ i18n "home_get_started_for_teams_subtitle" . }}
            </h4>
            <ul role="list" class="fa-ul text-sm lg:text-base ml-7 lg:ml-8 space-y-4">
              <li>
                <span class="fa-li"><i class="fas fa-check text-primary"></i></span>
                <span>{{ i18n "home_get_started_for_teams_benefit_1" . }}</span>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check text-primary"></i></span>
                <span>{{ i18n "home_get_started_for_teams_benefit_2" . }}</span>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check text-primary"></i></span>
                <span>{{ i18n "home_get_started_for_teams_benefit_3" . }}</span>
              </li>
            </ul>
          </div>
          <a href="{{ .Site.LanguagePrefix }}/for-teams/" role="button" class="btn btn-primary w-full lg:w-96" data-umami-event="home-get-started-teams-cta">
            {{ i18n "home_get_started_for_teams_cta" . }}
          </a>
        </div>
      </div>
    </div>
  </section>

  <section x-data="{data: {email: '', listId: 6, acceptTerms: false, errorMessage: '', success: false, inProgress: false}}" class="container text-center pt-12 pb-24">
    <h2 id="newsletter" class="font-h2 mb-4">{{ i18n "home_newsletter_title" . }}</h2>

    <form x-show="!data.success" x-ref="form" class="max-w-xl mx-auto mb-4">
      <p class="font-p mb-4">{{ i18n "home_newsletter_instruction" . | safeHTML }}</p>
      <div class="flex justify-center items-center rounded-sm bg-gray-300 mb-4">
        <input x-model="data.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="grow rounded-l border-gray-300 focus:ring-0 focus:border-secondary" placeholder="{{ i18n "home_newsletter_email_placeholder" }}" required/>
        <button :disabled="data.inProgress || !data.acceptTerms" @click.prevent="new Newsletter($refs.form, data).subscribe()" type="submit" class="shrink-0 flex items-center gap-1 btn btn-primary rounded-l-none px-4" data-umami-event="home-newsletter-form">
          <i :class="{'fa-envelope': !data.inProgress, 'fa-spinner fa-spin': data.inProgress}" class="fas fa-fw" aria-hidden="true"></i> {{ i18n "home_newsletter_subscribe" }}
        </button>
      </div>
      <p class="font-p">{{ partial "checkbox.html" (dict "context" . "alpineVariable" "data.acceptTerms" "label" (i18n "accept_newsletter_privacy" | safeHTML)) }}</p>
      <p :class="{'hidden': !data.errorMessage}" class="text-sm text-red-600 mt-2" x-text="data.errorMessage"></p>
    </form>

    <div x-show="data.success" class="mb-4" x-cloak>
      <p class="font-p mb-4">{{ ":love_letter:" | emojify }} {{ i18n "home_newsletter_success" . }}</p>
    </div>

    <div class="flex justify-center gap-4">
      <a class="text-gray-600 hover:text-primary" href="https://mastodon.online/@cryptomator" aria-label="Cryptomator on Mastodon" target="_blank" rel="noopener" data-umami-event="home-mastodon"><i class="fab fa-mastodon text-2xl"></i></a>
      <a class="text-gray-600 hover:text-primary" href="https://www.linkedin.com/company/skymatic/" aria-label="Skymatic on LinkedIn" target="_blank" rel="noopener" data-umami-event="home-linkedin"><i class="fab fa-linkedin text-2xl"></i></a>
    </div>
  </section>

  <div class="bg-dark text-white leading-relaxed">
    <section class="container text-center py-12 md:py-16 lg:py-20">
      <h2 class="font-h2 mb-8 md:mb-12 lg:mb-16">{{ i18n "home_trustingbrands_title" . }}</h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3 md:w-3/4 lg:w-2/3 mx-auto">
        <a href="{{ .Site.LanguagePrefix }}/coop/webde/">
          <img class="inline-block h-20 lazyload aspect-square" data-src="/img/home/3rdparty/webde-logo.svg" alt="WEB.DE Logo"/>
        </a>
        <a href="{{ .Site.LanguagePrefix }}/coop/gmx/">
          <img class="inline-block h-20 lazyload aspect-123/80" data-src="/img/home/3rdparty/gmx-logo.svg" alt="GMX Logo"/>
        </a>
        <a href="{{ .Site.LanguagePrefix }}/coop/1und1/">
          <img class="inline-block h-20 lazyload aspect-square" data-src="/img/home/3rdparty/1und1-logo.png" alt="1&amp;1 Logo"/>
        </a>
        <a class="md:col-span-3" href="https://connect2id.com/blog/deterministic-encryption-with-aes-siv" target="_blank" rel="noopener">
          <img class="inline-block h-20 lazyload aspect-412/88" data-src="/img/home/3rdparty/connect2id-logo.svg" alt="connect2id Logo"/>
        </a>
      </div>
    </section>

    <section class="container text-center py-12 md:py-16 lg:py-20">
      <h2 class="font-h2 mb-8 md:mb-12 lg:mb-16">{{ i18n "home_sponsors_title" . }}</h2>
      <a href="{{ .Site.LanguagePrefix }}/sponsors/" role="button" class="btn btn-outline-secondary px-8" data-umami-event="home-become-sponsor">
        <i class="fas fa-heart"></i> {{ i18n "donate_become_sponsor_button" . }}
      </a>
    </section>

    <section class="container py-12 md:py-16 lg:py-20">
      <h2 class="font-h2 text-center mb-8 md:mb-12 lg:mb-16">{{ i18n "home_testimonials_title" . }}</h2>
      <div class="flex justify-center items-center" id="testimonial-carousel">
        <button class="prev-button" aria-hidden="true">
          <svg width="40" height="80" class="stroke-current text-white hover:text-secondary" fill="none" stroke-width="3">
            <path d="M35,0 L5,40 L35,80" />
          </svg>
        </button>
        <ul class="list-none w-full m-0 flex flex-nowrap overflow-hidden">
          {{ range $.Site.Data.testimonials }}
          <li class="flex-none w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="rounded-lg border border-secondary p-4">
              <div class="flex justify-between mb-4">
                <div class="flex items-start">
                  <a class="shrink-0 w-12 lg:w-16" href="{{ .ProfileURL }}" target="_blank" rel="noopener">
                    <img data-src="{{ .Image }}" class="lazyload aspect-square w-full object-contain rounded-lg border border-secondary" alt="{{ i18n "home_testimonials_image_alt" . }} {{ .TwitterHandle }}"/>
                  </a>
                  <a class="text-white px-3 hover:text-secondary hover:no-underline" href="{{ .ProfileURL }}" target="_blank" rel="noopener">
                    <p class="font-headline lg:text-xl">{{ .Name }}</p>
                    <p class="text-sm text-gray-500">{{ .TwitterHandle }}</p>
                  </a>
                </div>
                <a class="text-white hover:text-secondary hover:no-underline" href="{{ .URL }}" target="_blank" rel="noopener" aria-label="{{ .TwitterHandle }}">
                  <i class="fab fa-twitter text-xl mt-1"></i>
                </a>
              </div>
              <p><i class="fas fa-quote-left text-secondary text-xl"></i> {{ replace .Quote "\n" "<br/>" | safeHTML }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
        <button class="next-button" aria-hidden="true">
          <svg width="40" height="80" class="stroke-current text-white hover:text-secondary" fill="none" stroke-width="3">
            <path d="M5,0 L35,40 L5,80" />
          </svg>
        </button>
      </div>
    </section>

    <section class="container text-center py-12 md:py-16 lg:py-20">
      <h2 class="font-h2 mb-8 md:mb-12 lg:mb-16">{{ i18n "home_reception_title" . }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        {{ $data := index $.Site.Data $.Site.Language.Lang }}
        {{ range $data.reception }}
        <div>
          <a href="{{ .URL }}" target="_blank" rel="noopener">
            <img data-src="{{ .LogoURL }}" class="lazyload object-contain h-10 w-full mb-6" alt="{{ .LogoAlt }}"/>
          </a>
          <p>{{ replace .Quote "\n" "<br/>" | safeHTML }}</p>
        </div>
        {{ end }}
      </div>
    </section>

    <section class="container text-center pt-12 md:pt-16 lg:pt-20 pb-24 md:pb-32 lg:pb-40">
      <figure>
        <a href="https://web.archive.org/web/20190525164100id_/https://www.cebitaward.de/de/sonderpreis-cryptomator-1759.html" target="_blank" rel="noopener">
          <img class="lazyload aspect-512/340 h-[170px] inline-block mb-6" data-src="/img/home/3rdparty/cebit-award.png" data-srcset="/img/home/3rdparty/cebit-award.png 1x, /img/home/3rdparty/cebit-award@2x.png 2x" alt="CeBIT Innovation Award 2016">
        </a>
        <figcaption>
          <h2 class="font-h2 mb-1">{{ i18n "home_cebit_title" . }}</h2>
          <p class="text-sm md:text-base">{{ i18n "home_cebit_subtitle" . }}</p>
        </figcaption>
      </figure>
    </section>
  </div>
{{ end }}
{{ define "script" }}
  {{ if hugo.IsDevelopment }}
    {{ $indexJs := resources.Get "js/index.js" }}
    <script type="text/javascript" src="{{ $indexJs.RelPermalink }}" defer></script>
    {{ $newsletterJs := resources.Get "js/newsletter.js" }}
    <script type="text/javascript" src="{{ $newsletterJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $indexJs := resources.Get "js/index.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $indexJs.RelPermalink }}" integrity="{{ $indexJs.Data.Integrity }}" defer></script>
    {{ $newsletterJs := resources.Get "js/newsletter.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $newsletterJs.RelPermalink }}" integrity="{{ $newsletterJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
