---
layout: container
---
{% assign i18n = 'post' %}
{% include i18n.liquid %}

<article class="post-content">
  <header class="page-header">
    <h1><a href="{{ languageUrlPrefix }}/blog/">Blog</a> / {{ page.title }}</h1>
    <div class="post-metadata{% if page.authorimg %} post-metadata-author{% endif %}">
      {% if page.authorimg %}{% if page.authorlink %}<a href="{{ page.authorlink }}" target="_blank">{% endif %}<img src="{{ page.authorimg }}" class="img-author img-circle"/>{% if page.authorlink %}</a>{% endif %}
      <span class="post-metadata-author">{% endif %}
        {% if page.author %}<span class="post-metadata-text text-muted">{{ i18n.byAuthorPrefix }} {% if page.authorlink %}<a href="{{ page.authorlink }}" target="_blank">{% endif %}{{ page.author }}{% if page.authorlink %}</a>{% endif %} •</span>{% endif %}
        {% if page.meta %}<span class="post-metadata-text text-muted">{{ page.meta }} •</span>{% endif %}
        <span class="post-metadata-text text-muted"><a href="{{ page.url }}">{{ page.date | date: "%Y-%m-%d" }}</a></span>
      {% if page.authorimg %}</span>{% endif %}
    </div>
    {% if page.notice %}<p><em>{{ page.notice }}</em></p>{% endif %}
  </header>
  {{ content }}
</article>
