{{ define "main" }}
  <div class="container py-12">
    <header class="prose-article mb-6">
      <h1>{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
    </header>

    <div class="rounded-md bg-blue-100 p-4 mb-6">
      <div class="flex items-center">
        <div class="shrink-0">
          <i class="fas fa-info-circle fa-fw text-blue-500"></i>
        </div>
        <div class="ml-3 text-sm text-dark">
          <p>{{ .Params.Hint | safeHTML }}</p>
        </div>
      </div>
    </div>

    <div x-data="{showTab: location.hash}" @hashchange.window="showTab = location.hash" class="flex flex-col space-y-4 w-full relative lg:h-412px">
      {{ range .Pages }}
        <div class="space-y-2 lg:space-y-0">
          <div class="w-full lg:pr-3 lg:w-1/2">
            <button @click.prevent="location.hash = '{{ .Params.TabHash }}'" :class="{'border-white': showTab != '{{ .Params.TabHash }}', 'border-primary': showTab == '{{ .Params.TabHash }}'}" class="flex items-center justify-between bg-white border-l-4 rounded-sm shadow-sm text-left p-4 w-full plausible-event-name=donate-{{ substr .Params.TabHash 1 }}-tab">
              <div class="flex items-center">
                <i :class="{'text-gray-600': showTab != '{{ .Params.TabHash }}', 'text-primary': showTab == '{{ .Params.TabHash }}'}" class="shrink-0 {{ .Params.FaIcon }} fa-fw text-2xl mr-4" aria-hidden="true"></i>
                <h2 :class="{'text-primary': showTab == '{{ .Params.TabHash }}'}" class="font-headline font-medium text-xl lg:text-2xl leading-snug">{{ .Title }}</h2>
              </div>
              <div class="ml-3">
                <i :class="{'text-gray-500': showTab != '{{ .Params.TabHash }}', 'text-primary': showTab == '{{ .Params.TabHash }}'}" class="fas fa-chevron-right hidden lg:block"></i>
                <i :class="{'fa-chevron-right text-gray-500': showTab != '{{ .Params.TabHash }}', 'fa-chevron-down text-primary': showTab == '{{ .Params.TabHash }}'}" class="fas lg:hidden"></i>
              </div>
            </button>
          </div>
          <div x-show="showTab == '{{ .Params.TabHash }}'" class="w-full lg:absolute lg:top-0 lg:right-0 lg:pl-3 lg:w-1/2" x-cloak>
            <div class="white-box p-4" x-cloak>
              {{ partial .Params.Partial (dict "context" . "Site" $.Site "Params" $.Params) }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <section x-data="{feedbackData: {errorMessage: '', success: false, inProgress: false}, submitData: {email: ''}, customerPortal: null}" x-init="customerPortal = new CustomerPortal($refs.form, feedbackData, submitData)" class="container text-center py-12">
    <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">{{ i18n "donate_customer_portal_title" . }}</h3>

    <form x-show="!feedbackData.success" x-ref="form" class="max-w-xl mx-auto">
      <p class="font-p mb-4">{{ i18n "donate_customer_portal_instruction" . }}</p>
      <div class="flex justify-center items-center rounded-sm bg-gray-300">
        <input x-model="submitData.email" x-ref="email" @blur="$refs.email.classList.add('show-invalid')" type="email" class="grow rounded-l border-gray-300 focus:ring-0 focus:border-secondary" placeholder="{{ i18n "donate_customer_portal_email_placeholder" }}" required/>
        <button :disabled="feedbackData.inProgress" @click.prevent="customerPortal.request()" type="submit" class="shrink-0 flex items-center gap-1 btn btn-primary rounded-l-none px-4 plausible-event-name=donate-customer-portal-form">
          <i :class="{'fa-envelope': !feedbackData.inProgress, 'fa-spinner fa-spin': feedbackData.inProgress}" class="fas fa-fw" aria-hidden="true"></i> {{ i18n "donate_customer_portal_retrieve" }}
        </button>
      </div>
      <p :class="{'hidden': !feedbackData.errorMessage}" class="text-sm text-red-600 mt-2" x-text="feedbackData.errorMessage"></p>
    </form>

    <div x-show="feedbackData.success" x-cloak>
      <p class="font-p mb-4">{{ ":+1:" | emojify }} {{ i18n "donate_customer_portal_success" . }}</p>
      <p class="font-p">{{ ":question:" | emojify }} {{ i18n "donate_customer_portal_contact_us" . | safeHTML }}</p>
    </div>
  </section>

  <section class="container text-center pt-12 pb-24">
    <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">{{ i18n "donate_become_sponsor_title" . }}</h3>
    <a href="{{ .Site.LanguagePrefix }}/sponsors/" role="button" class="btn btn-outline-primary px-8">
      <i class="fas fa-heart"></i> {{ i18n "donate_become_sponsor_button" . }}
    </a>
  </section>
{{ end }}
{{ define "script" }}
  {{ if hugo.IsDevelopment }}
    {{ $customerPortalJs := resources.Get "js/customerportal.js" }}
    <script type="text/javascript" src="{{ $customerPortalJs.RelPermalink }}" defer></script>
    {{ $recaptchaJs := resources.Get "js/recaptcha.js" }}
    <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" defer></script>
    {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" }}
    <script type="text/javascript" src="{{ $cardPaymentsJs.RelPermalink }}" defer></script>
  {{ else }}
    {{ $customerPortalJs := resources.Get "js/customerportal.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $customerPortalJs.RelPermalink }}" integrity="{{ $customerPortalJs.Data.Integrity }}" defer></script>
    {{ $recaptchaJs := resources.Get "js/recaptcha.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $recaptchaJs.RelPermalink }}" integrity="{{ $recaptchaJs.Data.Integrity }}" defer></script>
    {{ $cardPaymentsJs := resources.Get "js/cardpayments.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $cardPaymentsJs.RelPermalink }}" integrity="{{ $cardPaymentsJs.Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
