{{ define "main" }}
  <div class="container py-12">
    <header class="prose prose-sm md:prose max-w-none md:max-w-none mb-6">
      <h1>{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
    </header>

    <div class="flex flex-wrap flex-row-reverse">
      <section x-data="{showForm: false}" class="w-full py-8 lg:w-1/2 lg:pl-3">
        <h2 class="font-headline font-medium text-xl md:text-2xl leading-snug mb-4">{{ i18n "donate_anon_title" }}</h2>
        <ul class="fa-ul mb-4">
          <li class="text-sm md:text-base leading-relaxed text-gray-700 my-2"><span class="fa-li"><i class="fas fa-check text-secondary" aria-hidden="true"></i></span>{{ i18n "donate_anon_feature_1" }}</li>
          <li class="text-sm md:text-base leading-relaxed text-gray-700 my-2"><span class="fa-li"><i class="fas fa-check text-secondary" aria-hidden="true"></i></span>{{ i18n "donate_anon_feature_2" }}</li>
          <li class="text-sm md:text-base leading-relaxed text-gray-700 my-2"><span class="fa-li"><i class="fas fa-exclamation-triangle text-orange-500" aria-hidden="true"></i></span>{{ i18n "donate_anon_feature_3" }}</li>
        </ul>
        <button x-show="!showForm" x-on:click.prevent="showForm = true" class="btn btn-primary text-lg px-8">
          <i class="fas fa-hand-point-right"></i> {{ i18n "donate_anon_show_form_button" }}
        </button>
        <div x-show="showForm" x-cloak>
          {{ partial "donate-anon.html" . }}
        </div>
      </section>

      <section x-data="{showForm: false}" class="w-full py-8 lg:w-1/2 lg:pr-3">
        <h2 class="font-headline font-medium text-xl md:text-2xl leading-snug mb-4">{{ i18n "donate_getkey_title" }}</h2>
        <ul class="fa-ul mb-4">
          <li class="text-sm md:text-base leading-relaxed text-gray-700 my-2"><span class="fa-li"><i class="fas fa-check text-secondary" aria-hidden="true"></i></span>{{ i18n "donate_getkey_feature_1" }}</li>
          <li class="text-sm md:text-base leading-relaxed text-gray-700 my-2"><span class="fa-li"><i class="fas fa-check text-secondary" aria-hidden="true"></i></span>{{ i18n "donate_getkey_feature_2" }}</li>
          <li class="text-sm md:text-base leading-relaxed text-gray-700 my-2"><span class="fa-li"><i class="fas fa-check text-secondary" aria-hidden="true"></i></span>{{ i18n "donate_getkey_feature_3" }}</li>
        </ul>
        <button x-show="!showForm" x-on:click.prevent="showForm = true" class="btn btn-primary text-lg px-8">
          <i class="fas fa-hand-point-right"></i> {{ i18n "donate_getkey_show_form_button" }}
        </button>
        <div x-show="showForm" x-cloak>
          {{ partial "donate-getkey.html" . }}
        </div>
      </section>
    </div>
  </div>

  <section class="container text-center pt-12 pb-24">
    <h3 class="font-headline text-xl md:text-2xl leading-relaxed mb-4">{{ i18n "donate_become_sponsor_title" . }}</h3>
    <a href="{{ .Site.LanguagePrefix }}/sponsors/" role="button" class="btn btn-outline-primary px-8">
      <i class="fas fa-heart"></i> {{ i18n "donate_become_sponsor_button" . }}
    </a>
  </section>
{{ end }}
