{{ define "main" }}
<div class="container py-8">
  <header>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </header>

  <div class="flex flex-wrap flex-row-reverse">
    <section class="w-full py-8 lg:w-1/2 lg:pl-3">
      <h2>Just donate</h2>
      <ul class="list-none">
        <li><i class="fa fa-check text-secondary" aria-hidden="true"></i> Donate anonymously</li>
        <li><i class="fa fa-check text-secondary" aria-hidden="true"></i> Choose your prefered payment method</li>
      </ul>
      {{ partial "donate-anon.html" . }}
    </section>

    <section class="w-full py-8 lg:w-1/2 lg:pr-3">
      <h2>Buy a license key</h2>
      <ul class="list-none">
        <li><i class="fa fa-check text-secondary" aria-hidden="true"></i> Get a receipt</li>
        <li><i class="fa fa-check text-secondary" aria-hidden="true"></i> Register your software and unlock themes</li>
      </ul>
      {{ partial "donate-getkey.html" . }}
    </section>
  </div>
</div>
{{ end }}
