<table class="table-fixed w-full">
    <colgroup>
      <col class="w-2/12"/>
      <col class="w-2/12"/>
      <col class="w-2/12"/>
      <col class="w-2/12"/>
      <col class="w-2/12"/>
      <col class="w-2/12"/>
    </colgroup>
    <thead>
      <tr><th>Version</th><th>Changelog</th><th>Release Date</th><th>Windows</th><th>Mac</th><th>Linux</th></tr>
    </thead>
    <tbody class="text-sm">
    {{ range $release := sort $.Site.Data.releases "title" "desc" }}
    <tr class="bg-gray-100">
        <td class="align-top text-lg">
            {{ $release.title }}
            {{ if $release.beta }}
                <span class="bg-tertiary text-white rounded-lg text-xs px-2">BETA</span>
            {{ end }}
        </td>
        <td>
            {{ range $idx, $tag := $release.tags }}
                <p class="{{ if eq $idx 0 }}text-lg{{ end }}"><a href="https://github.com/cryptomator/cryptomator/releases/tag/{{ $tag }}" target="_blank" role="button">{{ $tag }}</a></p>
            {{ end }}
        </td>
        <td>
            {{ range $idx, $date := $release.dates }}
                <p class="{{ if eq $idx 0 }}text-lg{{ end }}">{{ dateFormat "2006-01-02" $date }}</p>
            {{ end }}
        </td>
        <td class="align-top">
            {{ if $release.artifacts.win.file64 }}
                <a href="{{$release.artifacts.win.url64}}" download="{{$release.artifacts.win.file64}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.win.file64 }}
                </a>
            {{ end }}
            {{ if $release.artifacts.win.file32 }}
            <a href="{{$release.artifacts.win.url32}}" download="{{$release.artifacts.win.file32}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.win.file32 }}
                </a>
            {{ end }}
        </td>
        <td class="align-top">
            {{ if $release.artifacts.mac.file }}
                <a href="{{$release.artifacts.mac.url}}" download="{{$release.artifacts.mac.file}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.mac.file }}
                </a>
            {{ end }}
        </td>
        <td class="align-top">
            {{ if $release.artifacts.linux.appImageFile64 }}
                <a href="{{$release.artifacts.linux.appImageUrl64}}" download="{{$release.artifacts.linux.appImageFile64}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.appImageFile64 }}
                </a>
            {{ end }}
            {{ if $release.artifacts.linux.debianFile32 }}
                <a href="{{$release.artifacts.linux.debianUrl32}}" download="{{$release.artifacts.linux.debianFile32}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.debianFile32 }}
                </a>
            {{ end }}
            {{ if $release.artifacts.linux.debianFile64 }}
                <a href="{{$release.artifacts.linux.debianUrl64}}" download="{{$release.artifacts.linux.debianFile64}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.debianFile64 }}
                </a>
            {{ end }}
            {{ if $release.artifacts.linux.redhatFile32 }}
                <a href="{{$release.artifacts.linux.redhatUrl32}}" download="{{$release.artifacts.linux.redhatFile32}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.redhatFile32 }}
                </a>
            {{ end }}
            {{ if $release.artifacts.linux.redhatFile64 }}
                <a href="{{$release.artifacts.linux.redhatUrl64}}" download="{{$release.artifacts.linux.redhatFile64}}" class="btn text-xs mb-2" role="button">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ $release.artifacts.linux.redhatFile64 }}
                </a>
            {{ end }}
        </td>
        </div>
    </tr>
    {{ end }}
    </tbody>
</table>